﻿emptyTblhr
{
    border: 1px solid #a9def2;
}
.waterClass
{
    color: Gray;
}
.redFont
{
    color: Red;
}
.tblHeader
{
    color: #333333;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    line-height: 14px;
}
.magnetMPE
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.mpeDiv
{
    width: 600px;
    background-color: #fff;
    display: block;
    overflow: auto;
    max-height: 650px;
}
* html DIV.mpeDiv
{
    height: expression( this.scrollHeight > 650 ? "650px" : "auto" );
}
.mpeDivHeader
{
    background: url(../images/hdr_bck.gif) repeat-x;
    height: 35px;
    width: 592px;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 2px;
	color: #fff;/*YPA 5-17-12*/
}

.dropdownstate li {
    display: block;
    position: relative;
    z-index: 1;         /*force IE to recognize stack at this point */
}

/*to clear floats*/
.clear
{
    clear: both;
}
.searchDiv1
{
    float: left;
    width: 60px;
}
.searchDiv2
{
    float: left;
    width: 190px;
}
.searchDiv3
{
    width: 78px;
    margin-top: 6px;
    float: left;
}
.searchDiv4
{
    width: 90px;
    margin-top: 6px;
    float: left;
}
.searchDiv5
{
    margin-top: 8px;
}
.searchTbl
{
    margin: 0;
    margin-top: -5px;
    padding: 0;
    line-height: 1em;
}
.waterClass
{
    font-size: 0.8em;
    text-align: center;
    vertical-align: middle;
}
.grnDiv
{
    padding-left: 220px;
}
.midCall2
{
    height: auto;
    display: table;
    background: url(../images/midshadow.png) repeat-y;
    width: 200px;
}
.newsDiv
{
    font-size: 0.9em;
}
.linkP
{
    margin-top: 2px;
    margin-bottom: 6px;
    color: #F58220;
}
.cleanTbl
{
    border: 0;
}
.cleanTbl td, .cleanTbl th
{
    padding: 6px;
    border: 0;
}
.reportHeader
{
    width: 840px;
    font-size: 1.5em;
    padding: 2px 0px;
    margin-top: 15px;
}
.adminCall
{
    background: url(../images/istockphoto2.jpg) no-repeat scroll 0 0;
    width: 300px;
    height: 216px;
    display: table;
    float: right;
}
.buttonTbl
{
    width: 98%;
    margin-top: 15px;
    border-collapse: collapse;
    border: 0; /*border-bottom: 2px solid #F58220 !important;*/
}

.buttonTbl td, .buttonTbl th
{
    padding: 6px;
}

.buttonTbl td
{
    border-bottom: 1px solid #A9DEF2;
}
.linkBtn
{
    font-size: 12px;
    text-decoration: none;
}
#ctl00_ContentPlaceHolder1_rblClaimingIndrectCost
{
    padding: 0px;
    margin: -10px 0px 0px 0px;
}
#ctl00_ContentPlaceHolder1_rblRageAggrement
{
    padding: 0px;
    margin: -10px 0px 0px 0px;
}
.surveyContact
{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #A6CAF0;
}
.surveyContact td
{
    border-collapse: collapse;
    border: 2px solid #A6CAF0;
}
.noneTbl td
{
    border: 0;
}
.surveyBtn
{
    background: url(../images/surveybutton.png);
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    padding-bottom: 3px;
    width: 69px;
    height: 19px;
    border: 0px;
}

.surveyBtn1
{
    background: url(../images/surveybutton2.png);
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    padding-bottom: 3px;
    width: 115px;
    height: 19px;
    border: 0px;
}

.surveyBtn2
{
    background: url(../images/surveybutton3.png);
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    padding-bottom: 3px;
    width: 145px;
    height: 19px;
    border: 0px;
}

.surveyBtn3
{
    border-style: none;
    border-color: inherit;
    border-width: 0px;
    background: url('../images/surveybutton4.png');
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    padding-bottom: 3px;
    width: 225px;
    }


.surveyTbl
{
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
.surveyEven
{
    background: #ededed;
}

.surveyTbl td
{
    margin: 0 0 0 20px;
    padding: 0 0 0 8px; /*vertical-align:middle;*/
    border-left: 0;
    border-right: 2px solid #ccc;
}
.surveyTbl table
{
    margin-top: 12px;
}
.surveyTbl td + td + td
{
    border-right: none;
}
.surveyTbl td table, .surveyTbl td table td
{
    border: 0;
}
.surveyTh
{
    background-color: #A6CAF0;
    border: 2px solid #93a9c2;
}
.surveyTh1
{
    background-color: #89d6cd;
    border: 2px solid #93a9c2;
}
.surveyTh2
{
    background-color: #fbf7da;
    border: 2px solid #93a9c2;
}

.SurveyLastTr
{
    border-bottom: 2px solid #93a9c2;
}
.fullTbl
{
    width: 100%;
}
.fullTbl tr td
{
    width: 20%;
}
.surveyFt
{
    margin-top: 10px;
    background: #016d61;
    width: 840px;
    padding: 10px 0px;
    color: #fff;
    display: table;
    height: auto;
}
.rightBorderTD
{
    border-right: 1px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
.msapGV
{
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    font-color: #333333;
    width: 100%;
    text-align: center;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}
.msapGV th
{
    background: url('images/cell-blue.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}
.msapGV td.msapGVTD
{
    background: url('images/cell-grey.jpg') repeat-x bottom;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
    height: auto;
}
.msapDataTbl
{
    width: 98%;
    margin-top: 15px;
    border-spacing: 0;
    border-collapse: collapse;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid #F58220 !important;
}

.emptyTbl
{
    width: 100%;
    margin-top: 15px;
    border-spacing: 0;
    border-collapse: collapse;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid #F58220 !important;
}

.emptyTbl th{
	vertical-align:bottom;
}

.msapDataTbl td, .msapDataTbl th
{
    padding: 6px;
}
.Obj_tbl td{
    padding: 6px;
	text-align:center;
	width:10%;
}
.PM_align{
	text-align:left !important;
}
.DotnetTbl
{
    border: 0px;
}
.DotnetTbl tr td
{
    border: 0px;
}
	

.msapDataTbl th
{
    border-bottom: 2px solid #F58220 !important;
    color: #f58220;
    text-align: center;
	vertical-align:bottom;
}
.msapHeaderLeftSpan
{
    width: 40;
    float: left;
}
.msapHeaderRightSpan
{
    float: right;
    vertical-align: middle;
    text-align: center;
}
.msapDataTbl td
{
    border-bottom: 1px solid #A9DEF2;
    border-right: 1px solid #7f7f7f;
}

.msapDataTbl tr td:first-child
{
    color: #4e8396;
}
.msapDataTbl tr td:last-child
{
    border-left: 0px !important;
}

.msapDataTblLastRow td
{
    border: 0px !important;
}
.msapDataTblLastRowWithBorder td
{
    border: 0px !important;
    border-right: 1px solid #7f7f7f !important;
}
.msapDataTblLastRowWithBorder td:last-child
{
    border: 0px !important;
}
.TDWithBorder
{
    border-right: 1px solid #7f7f7f !important;
    border-bottom: 0px !important;
}
.TDWithTopBorder
{
    border-top: 1px solid #A9DEF2;
}
.TDWithTopNoRightBorder
{
    border-top: 1px solid #A9DEF2;
    border-right: 0px !important;
}
.TDWithBottomBorder
{
    border-bottom: 1px solid #A9DEF2 !important;
    border-right: 0px !important;
	height:12px;
}
.TDWithBlackBottomBorder
{
    border-bottom: 1px solid #7f7f7f !important;
    border-right: 0px !important;
}
.TDWithoutBorder
{
    border: 0px !important;
}
.TDWithBottomRightBorder
{
    border-right: 1px solid #7f7f7f !important;
}
.TDWithTopBottomRightBorder
{
    border-right: 1px solid #7f7f7f !important;
    border-top:2px solid #F58220 !important;
}
.TDWithTopOnlyBorder
{
    border-top:2px solid #F58220 !important;
    border-right: 0px !important;
}
.TDWithBottomNoRightBorder
{
    border-right: 0px !important;
}
.msapBlankTbl td
{
    border: 0px;
}
.msapQuarterReport td
{
    border-bottom: 1px solid #A9DEF2;
}
.CenterContent th, .CenterContent td
{
    text-align: center;
}
.msapChartTbl
{
    width: 98%;
    margin-top: 15px;
    border-spacing: 0;
    border-collapse: collapse;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid #F58220 !important;
}

.msapChartTbl td, .msapChartTbl th
{
    padding: 6px;
}
.msapChartTbl th
{
    border-bottom: 2px solid #F58220 !important;
    color: #f58220;
    text-align: center;
}
.msapChartTbl td
{
    border-bottom: 1px solid #7f7f7f;
    border-right: 1px solid #7f7f7f;
}
.msapChartTbl tr td:last-child
{
    border-right: 0px !important;
}
.msapChartTbl tr th:last-child
{
    border-right: 0px !important;
}
.msapDataTxt
{
    border: 1px solid #addbd0;
    padding: 1px;
    font-size: 10pt;
	resize:none;
}
.msapDataTxtSmall
{
    border: 1px solid #addbd0;
    padding: 1px;
    font: 10pt;
    width: 60px;
}

/*YPA 2_14_12*/
.msapDataTxtSmall_nowidth
{
    border: 1px solid #addbd0;
    padding: 1px;
    font: 10pt;
	resize:none;
}

.LeftAlignCell
{
    text-align:left !important;
}
.CenterAlignCell
{
    text-align:center !important;
}
.txtAlignLeft
{
    text-align:left !important;
    Width:70%;
}

.LeftAlignCell_LinksCol
{
    text-align:left !important;
	width:70px;
}

/*Nav Links YPA 11_29_11*/
.text_nav{
	color: #F58220;
	padding-top:5px;
	margin-top:5px;
}
		
.greater_than{
	color:#4e8396;
	font-weight:bold;
	font-size:12px;
}

/*MAPS Section*/

/*User Guide page*/

#user_guide_pg{
	padding:0px 10px 25px 10px;
	margin:0px 10px;
	line-height:150%;
}

#user_guide_pg table{
	width:100%;
}


/*YPA 1/23/12 MAPS tabs*/
.tab_area{
	border-bottom: 1px solid #f58220;
	margin:0px;
	padding:0px;
	clear:both;
}

.normal_txt{
	font-weight:normal;
}

/*Tabs*/
ul.tabs{
	list-style:none;
	margin:0px;
	padding:0px;
	min-height:19px;
}

ul.tabs li{
	display:inline; /*for IE7*/
}


.tabs a{
	display:block;
	float:right;
	width:70px;
	height:14px;
	background: url(../images/tab_deactive.png) no-repeat;
	color:white;
    font-weight:bold;
	text-decoration:none;
	text-align:center;
	padding-top:5px;
	margin-top:1px;
}

.tabs li.tab_active{
	display:block;
	float:right;
	width:78px;
	height:14px;
	background: url(../images/tab_active.png) no-repeat;
	color:#f58220;
    font-weight:bold;
	text-decoration:none;
	text-align:center;
	padding-top:5px;
	margin-top:1px;
}

/*Titles*/
.titles{
	font-size:16px;
	color:#016c60;
	float:left;
	line-height:20px;
	margin-bottom:-19px;
	font-weight:bold;
}

.titles_noTabs{
	font-size:16px;
	color:#016c60;
	float:left;
	line-height:20px;
	font-weight:bold;
}

.GPRA_titles{
	font-size:16px;
	color:#016c60;
	float:left;
	line-height:18px;
	width:450px;
	margin-bottom:-19px;
	font-weight:bold;
}

.subtitles_green{
	font-weight:bold;
	color: #4E8396 !important;
	vertical-align:top;
}


/*Progress Status Chart (PSC)*/
#PSC_measure_tbl td{
	padding-bottom:10px;
	color:#4e8396;
	font-weight:bold;
}

#PSC_measure_tbl .subtitles_green{
	padding-bottom:10px;
	padding-right:10px;
	color:#4e8396;
	font-weight:bold;
	text-align:right;
	vertical-align:middle;
}

#PSC_measure_tbl td .msapChartTbl td{
	padding-bottom:10px;
	color:#4e8396;
	font-weight:normal;
}

/*Objectives Print Row*/
#Obj_print_rw td{
	background-color:white;
	color:black;
	font-weight:bold;
}

/*For Objectives Removes scroll Bar IE*/
#Objective_disabled textarea {
	overflow:auto;
	height:60px;
}	

#obj_checkbox .change
{
	color:#ccc;
}

/*Desegregation Plan pg*/
#Desg_tbl_headers{
	text-align:left;
	vertical-align:top;
	color: #f58220;
}

#Desg_plan_list_Req li{
	padding-bottom:10px;
}

ul#Desg_plan_list_Req{
	margin-left:8px;
	padding-left:8px;
}
ol#Desg_plan_list_Vol{
	margin-left:11px;
	padding-left:11px;
}


.Desg_content_div{
	 border-bottom: 1px solid #A9DEF2;
	 border-top:1px solid #A9DEF3;
	 padding-bottom:20px;
}

#desg_address{
	/*border: 1px solid #CCCCCC;*/
	border: 1px solid #ADDBD0;
    padding: 10px;
    width: 200px;
}

.desg_important_txt{
	color: #4E8396 !important;
	text-decoration:underline;
}

/*Table 9 Back to Magnet Schools Button*/
#bck_Mag_schools a{
	display:block;
	width:155px;
	height:19px;
	background: url(../images/Back_Magnet_schools_btn.png) no-repeat;
	color:white;
    font-weight:bold;
	text-decoration:none;
	text-align:center;
	padding-top:3px;
}
.GreyedRow
{
    background-color:#eee;
    color:#ccc;
}

/*General tbl styles*/
.tbl_align_center{
	text-align:center;
}

.subheader_txt{
	color:#4E8396;
	font-weight:bold;
}

.Table_11_edit{
	border-top: 2px #A9DEF2 solid;
	border-bottom: 2px #A9DEF2 solid;
}

.Table11_edit2_tbl_header td{
	border-left:1px solid #A9DEF2;
	border-bottom:1px solid #A9DEF2;
	padding:2px;
}

.Table11_edit2_tbl td{
	border-left:1px solid #A9DEF2;
	padding:2px;
}

/*General alignment*/
.right_align{
	text-align:right;
}

/*Question Mark Icon*/
.Q_mark{
	vertical-align:bottom;
}

/*General Header styles*/
.Orange_headers{
	font-weight:bold;
	color:#f58220;
}

#ctl00_LinkButton1{
	color:white;
	text-decoration:none;
	float:right;
	padding-right:10px;
}

legend{
	color:black;
}

.adhoc_disable{
	color:#ccc;
}

/*MAPS txt*/
.asofDate{
	color:#016C60;
	font-style:italic;
}

/*Consultant pg YPA5_24_12*/
.mpeDivHeaderConsult
{
    background: url(../images/hdr_bck.gif) repeat-x;
    height: 35px;
    width: 584px;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 8px;
	padding-right:8px;
	padding-top:20px;
	color: #fff;/*YPA 5-17-12*/
}

.mpeDivConsult
{
    width: 600px;
    background-color: #fff;
	border: 1px solid #088C7D;
	box-shadow: 5px 5px 2px #333;
}
*+ html DIV.mpeDivConsult
{
    height: expression( this.scrollHeight > 500 ? "500px" : "auto" );
}

.closeit{
	float:right;
}


a.closeit_link:link{
	color:#fff;
}

.consult_popupTxt{
	font-weight:bold;
	color:#F58820;
	padding-top:10px;
}

.txtboxDisableClass
        {
            background-color:#EBE9E9;
        }
        
  .DropDownListCssClass
        {
            font-family: Helvetica,Arial,sans-serif;
            font-size:11px;
        }