/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  position:relative;
  width:832px;
}
#carousel {
  height:280px;
  width:832px;
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
.carousel-image {
  border:0;
  display:block;
}
.carousel-feature {
  position:absolute;
  top:-000px;
  left:-1000px;
  border:1px solid #5d5d5d;
  cursor:pointer;
}
.carousel-feature .carousel-caption {
  position:absolute;
  bottom:0;
  left: 50%;
  width:50%;
  background-color:#FFF;
  height:100%;
}
.carousel-feature .carousel-caption h2 {
  margin:0;
  padding:9px;
  font-size: 1.5em;
  color: #016C60;
  line-height:100%;
  font-weight:normal;
}

.carousel-feature .carousel-caption p {
  margin:0;
  padding:7px;
  font-weight:normal;
  font-size:12px;
  color:black;
}

.carousel-feature .carousel-caption .cc_link {
  margin:0;
  padding:8px;
  float:right;
  font-size:11px;
  font-weight: normal;
}

.tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  visibility:hidden;
  background-color:#000;
}
.tracker-individual-container {
  position:absolute;
  color:white;
  right:48px;
  top:210px;
  padding:0;
  margin:0;
  visibility:hidden;
}
.tracker-individual-container li {
  list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  background-color:#DDD;
}
.tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  font-weight:bold;
  background-color:#000;
}
#carousel-left {
  position:absolute;
  bottom:140px;
  left:28px;
  cursor:pointer;
}
#carousel-right {
  position:absolute;
  bottom:140px;
  right:28px;
  cursor:pointer;
}

.carousel_titles {
	font-size: 1.5em;
	color: #016C60;
	line-height:120%;
}