/*Telerik RadGrid Office2007 Skin*/

/*global*/

.RadGrid_MyCustomSkin
{
    /*border:1px solid #688caf;*/
	border: 0px;
    background:#fff;
    color:#333;
}

.RadGrid_MyCustomSkin,
.RadGrid_MyCustomSkin .rgMasterTable,
.RadGrid_MyCustomSkin .rgDetailTable,
.RadGrid_MyCustomSkin .rgGroupPanel table,
.RadGrid_MyCustomSkin .rgCommandRow table,
.RadGrid_MyCustomSkin .rgEditForm table,
.RadGrid_MyCustomSkin .rgPager table,
.GridToolTip_MyCustomSkin
{
    /*font:12px/16px "segoe ui",arial,sans-serif;*/
	font:12px Helvetica, Arial, sans-serif;
}

.RadGrid_MyCustomSkin .rgHeader:first-child,
.RadGrid_MyCustomSkin .rgHeader2:first-child,
.RadGrid_MyCustomSkin th.rgResizeCol:first-child,
.RadGrid_MyCustomSkin .rgFilterRow>td:first-child,
.RadGrid_MyCustomSkin .rgRow>td:first-child,
.RadGrid_MyCustomSkin .rgAltRow>td:first-child
{
	border-left-width:0;
	padding-left:8px;
}

.RadGrid_MyCustomSkin .rgAdd,
.RadGrid_MyCustomSkin .rgRefresh,
.RadGrid_MyCustomSkin .rgEdit,
.RadGrid_MyCustomSkin .rgDel,
.RadGrid_MyCustomSkin .rgFilter,
.RadGrid_MyCustomSkin .rgPagePrev,
.RadGrid_MyCustomSkin .rgPageNext,
.RadGrid_MyCustomSkin .rgPageFirst,
.RadGrid_MyCustomSkin .rgPageLast,
.RadGrid_MyCustomSkin .rgExpand,
.RadGrid_MyCustomSkin .rgCollapse,
.RadGrid_MyCustomSkin .rgSortAsc,
.RadGrid_MyCustomSkin .rgSortDesc,
.RadGrid_MyCustomSkin .rgUpdate,
.RadGrid_MyCustomSkin .rgCancel,
.RadGrid_MyCustomSkin .rgUngroup,
.RadGrid_MyCustomSkin .rgExpXLS,
.RadGrid_MyCustomSkin .rgExpDOC,
.RadGrid_MyCustomSkin .rgExpPDF,
.RadGrid_MyCustomSkin .rgExpCSV
{
	background-image:url('images/Grid/sprite.gif');
}

/*header*/

.RadGrid_MyCustomSkin .rgHeaderDiv,
{
	background:#d6e5f3 0 -8050px repeat-x url('images/Grid/sprite.gif');
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -7550px;
}

.RadGrid_MyCustomSkin .rgHeader2,
.RadGrid_MyCustomSkin th.rgResizeCol
{
	/*border:solid #5d8cc9;
	border-width:0 0 1px 1px;*/
	/*background:0 -2300px repeat-x #c3d8f1 url('images/Grid/sprite.gif');*/
	border-width: 0px 0px 2px 1px;
	border-color: #F58220 #000;
	border-bottom-style:solid;
	border-left-style:solid;
	vertical-align:bottom;
	padding-top:5px;
	padding-bottom:0px;
}

.RadGrid_MyCustomSkin .rgHeader,
.RadGrid_MyCustomSkin th.rgResizeCol
{
	/*border:solid #5d8cc9;
	border-width:0 0 1px 1px;*/
	/*background:0 -2300px repeat-x #c3d8f1 url('images/Grid/sprite.gif');*/
	border-width: 0px 0px 1px 1px;
	border-color: #000;
	border-bottom-style:solid;
	border-left-style:solid;
	vertical-align:bottom;
}


.RadGrid_MyCustomSkin th.rgSorted
{
	border-bottom-color:#ff9b35;
	background-color:#ffca5e;
	background-position:0 -2600px;
}

.RadGrid_MyCustomSkin .rgHeader,
.RadGrid_MyCustomSkin .rgHeader a
{
    /*color:#00156e;*/
	color:#4E8396;
	font-weight:bold !important;
}


.RadGrid_MyCustomSkin .rgHeader2,
.RadGrid_MyCustomSkin .rgHeader2 a
{
	color:#4E8396;
	font-weight:normal;
}

.RadGrid_MyCustomSkin th.rgSorted,
.RadGrid_MyCustomSkin th.rgSorted a
{
    color:#000;
}

/*rows*/

.RadGrid_MyCustomSkin .rgRow td,
.RadGrid_MyCustomSkin .rgAltRow td,
.RadGrid_MyCustomSkin .rgEditRow td,
.RadGrid_MyCustomSkin .rgFooter td
{
	border-style:solid;
	border-width:0 0 1px 1px;
}

.RadGrid_MyCustomSkin .rgRow td,
.RadGrid_MyCustomSkin .rgAltRow td
{
	/*border-color:#d0d7e5;*/
	border-color:#A9DEF2;
	word-wrap: break-word;
}

.RadGrid_MyCustomSkin .rgRow .rgSorted,
.RadGrid_MyCustomSkin .rgAltRow .rgSorted
{
	background-color:#f2f2f2;
}

.RadGrid_MyCustomSkin .rgSelectedRow .rgSorted,
.RadGrid_MyCustomSkin .rgActiveRow .rgSorted,
.RadGrid_MyCustomSkin .rgHoveredRow .rgSorted,
.RadGrid_MyCustomSkin .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_MyCustomSkin .rgRow a,
.RadGrid_MyCustomSkin .rgAltRow a,
.RadGrid_MyCustomSkin .rgEditRow a,
.RadGrid_MyCustomSkin .rgFooter a,
.RadGrid_MyCustomSkin .rgEditForm a
{
	/*color:#00156e;*/
	color:#f58220;
}

.RadGrid_MyCustomSkin .rgSelectedRow
{
    background:#ffcb60 0 -3900px repeat-x url('images/Grid/sprite.gif');
}
*+html .RadGrid_MyCustomSkin .rgSelectedRow .rgSorted{background-color:#ffcb60}
* html .RadGrid_MyCustomSkin .rgSelectedRow .rgSorted{background-color:#ffcb60}

.RadGrid_MyCustomSkin .rgActiveRow,
.RadGrid_MyCustomSkin .rgHoveredRow
{
    background:#ecf4ff;
}
*+html .RadGrid_MyCustomSkin .rgActiveRow .rgSorted,
*+html .RadGrid_MyCustomSkin .rgHoveredRow .rgSorted{background-color:#ecf4ff}
* html .RadGrid_MyCustomSkin .rgActiveRow .rgSorted,
* html .RadGrid_MyCustomSkin .rgHoveredRow .rgSorted{background-color:#ecf4ff}

.RadGrid_MyCustomSkin .rgEditRow
{
	background:#ffe5ad;
}
*+html .RadGrid_MyCustomSkin .rgEditRow .rgSorted{background-color:#ffe5ad}
* html .RadGrid_MyCustomSkin .rgEditRow .rgSorted{background-color:#ffe5ad}

.RadGrid_MyCustomSkin .rgSelectedRow td,
.RadGrid_MyCustomSkin .rgActiveRow td,
.RadGrid_MyCustomSkin .rgHoveredRow td,
.RadGrid_MyCustomSkin .rgEditRow td
{
	border-left-width:0;
	padding-left:0px;
}

.RadGrid_MyCustomSkin .rgSelectedRow td
{
	border-bottom-color:#ff9b35;
}

.RadGrid_MyCustomSkin .rgActiveRow td,
.RadGrid_MyCustomSkin .rgHoveredRow td,
.RadGrid_MyCustomSkin .rgEditRow td
{
	border-bottom-color:#d0d7e5;
}

.RadGrid_MyCustomSkin .rgDrag
{
	background-image:url('images/Grid/rgDrag.gif');
}

/*footer*/

.RadGrid_MyCustomSkin .rgFooterDiv,
.RadGrid_MyCustomSkin .rgFooter
{
	/*background:#9ab5db 0 -6500px repeat-x url('images/Grid/sprite.gif');*/
	/*background: #A9DEF2;*/
	background: #dbf5ff;
}

.rgFooter tr{
	border-top:2px solid #f58220 !important;
}
.RadGrid_MyCustomSkin .rgFooter td
{
	/*border-width:1px 0;*/
	border-width:2px 0px 0px 0px;
	border-color:#f58220;
	padding-left:8px;
}

/*status*/

.RadGrid_MyCustomSkin .rgPager .rgStatus
{
	border:1px solid;
	border-width:1px 1px 0 0;
	border-color:#5d8cc9 #9cb9dc;
}

.RadGrid_MyCustomSkin .rgStatus div
{
	background-image:url('Common/loading_small.gif');
}

/*pager*/

.RadGrid_MyCustomSkin .rgPager
{
	background:#ecf3fc 0 -7000px repeat-x url('images/Grid/sprite.gif');
	color:#00156e;
}

.RadGrid_MyCustomSkin td.rgPagerCell
{
	border-top:1px solid #5d8cc9;
	border-left:1px solid #fff;
}

.RadGrid_MyCustomSkin .rgInfoPart
{
	color:#3e69a3;
}

.RadGrid_MyCustomSkin .rgPageFirst
{
	margin:0 3px 0 0;
	background-position:0 -550px;
}
.RadGrid_MyCustomSkin .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_MyCustomSkin .rgPagePrev
{
	margin:0 3px 0 0;
	background-position:0 -700px;
}
.RadGrid_MyCustomSkin .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_MyCustomSkin .rgPageNext
{
	margin:0 0 0 3px;
	background-position:0 -850px;
}
.RadGrid_MyCustomSkin .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_MyCustomSkin .rgPageLast
{
	margin:0 0 0 3px;
	background-position:0 -1000px;
}
.RadGrid_MyCustomSkin .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_MyCustomSkin .rgPager .rgPagerButton
{
	border-color:#7793b9;
	background:#e8f1fc repeat-x 0 -1550px url('images/Grid/sprite.gif');
	color:#00156e;
	/*font:12px/12px "segoe ui",arial,sans-serif;*/
	font:12px Helvetica, Arial, sans-serif;
}

.RadGrid_MyCustomSkin .rgNumPart a:hover,
.RadGrid_MyCustomSkin .rgNumPart a:hover span,
.RadGrid_MyCustomSkin .rgNumPart a.rgCurrentPage,
.RadGrid_MyCustomSkin .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('images/Grid/sprite.gif');
}

.RadGrid_MyCustomSkin .rgNumPart a
{
	color:#00156e;
}

.RadGrid_MyCustomSkin .rgNumPart a:hover
{
	background-position:100% -1250px;
}

.RadGrid_MyCustomSkin .rgNumPart a:hover span
{
	background-position:0 -1150px;
}

.RadGrid_MyCustomSkin .rgNumPart a.rgCurrentPage,
.RadGrid_MyCustomSkin .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
}

.RadGrid_MyCustomSkin .rgNumPart a.rgCurrentPage span,
.RadGrid_MyCustomSkin .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
}

/*sorting, reordering*/

.RadGrid_MyCustomSkin .rgHeader .rgSortAsc,
.RadGrid_MyCustomSkin .rgHeader2 .rgSortAsc
{
	background-position:3px -147px;
	height:10px;
}

.RadGrid_MyCustomSkin .rgHeader .rgSortDesc,
.RadGrid_MyCustomSkin .rgHeader2 .rgSortDesc
{
	background-position:3px -96px;
	height:10px;
}

.GridReorderTop_MyCustomSkin,
.GridReorderBottom_MyCustomSkin
{
	height:12px;
	background:0 0 no-repeat url('images/Grid/sprite.gif');
}

.GridReorderBottom_MyCustomSkin
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_MyCustomSkin .rgFilterRow
{
	background:#d6e5f3;
}

.RadGrid_MyCustomSkin .rgFilterRow td
{
    border:solid #9eb6ce;
    border-width:0 0 1px 1px;
}

.RadGrid_MyCustomSkin .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_MyCustomSkin .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_MyCustomSkin .rgFilterActive,
.RadGrid_MyCustomSkin .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_MyCustomSkin .rgFilterBox
{
	border-color:#abc1de;
	/*font:12px "segoe ui",arial,sans-serif;*/
	font:12px Helvetica, Arial, sans-serif;
	color:#000;
}

/*filter context menu*/

.RadMenu_MyCustomSkin .rgHCMClear,
.RadMenu_MyCustomSkin .rgHCMFilter
{
	border-color:#a7bedb #7d98bd #a3bad8;
	background:#e8f1fc center -23px repeat-x url('FormDecorator/ButtonSprites.gif');
	color:#00156e;
	font-family:"segoe ui",arial,sans-serif;
}

.RadMenu_MyCustomSkin .rgHCMClear:hover,
.RadMenu_MyCustomSkin .rgHCMFilter:hover
{
	border-color:#d8ca95 #b9a073 #c6ba9d;
	background-position:center -67px;
	background-color:#ffe18a;
	color:#000;
}

/*context menu*/

.GridContextMenu_MyCustomSkin .rmLeftImage
{
	background-image:url('Common/contextMenu.gif');
}

.GridContextMenu_MyCustomSkin .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenu_MyCustomSkin .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenu_MyCustomSkin .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenu_MyCustomSkin .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenu_MyCustomSkin .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenu_MyCustomSkin .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenu_MyCustomSkin .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenu_MyCustomSkin .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.RadGrid_MyCustomSkin .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #688caf;
	background:#ecf3fc;
}

.RadGrid_MyCustomSkin .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
	vertical-align:middle;
}

.RadGrid_MyCustomSkin .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_MyCustomSkin .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_MyCustomSkin .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_MyCustomSkin .rgUngroup
{
	background-position:0 -7500px;
}

.RadGrid_MyCustomSkin .rgGroupItem
{
	border:1px solid #4b78ca;
	background:#e6ebf5 0 -1900px repeat-x url('images/Grid/sprite.gif');
	color:#00156e;
}

.RadGrid_MyCustomSkin .rgGroupHeader
{
    background:#d7e6f7;
    font-size:10px;
    line-height:21px;
	color:#567db0;
}

.RadGrid_MyCustomSkin .rgGroupHeader td
{
	border-top:1px solid #fcfcfd;
	border-bottom:1px solid #6f92b3;
    padding-left:8px;
}

.RadGrid_MyCustomSkin td.rgGroupCol,
.RadGrid_MyCustomSkin td.rgExpandCol
{
	background:#d7e6f7 none;
	border-color:#d7e6f7;
}

.RadGrid_MyCustomSkin .rgGroupHeader .rgExpand
{
	background-position:5px -495px;
}

.RadGrid_MyCustomSkin .rgGroupHeader .rgCollapse
{
	background-position:3px -93px;
}

/*editing*/

.RadGrid_MyCustomSkin .rgEditForm
{
	border-bottom:1px solid #d0d7e5;
}

.RadGrid_MyCustomSkin .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_MyCustomSkin .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_MyCustomSkin .rgDetailTable
{
	border-color:#688caf;
}

.RadGrid_MyCustomSkin .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_MyCustomSkin .rgCollapse
{
	background-position:3px -94px;
}

/*command row*/

.RadGrid_MyCustomSkin .rgCommandRow
{
	/*background:#c4d9f1 0 -2099px repeat-x url('images/Grid/sprite.gif');*/
	background-color:#fff;
	color:#333;
}

.RadGrid_MyCustomSkin .rgCommandCell
{
	border:0;
	padding:0;
}

.RadGrid_MyCustomSkin thead .rgCommandCell
{
	/*border-bottom:1px solid #688caf;*/
	border-bottom: 0px;
}

.RadGrid_MyCustomSkin .rgCommandTable td
{
	border:0px;
	padding:7px 7px;
}

.RadGrid_MyCustomSkin .rgCommandTable
{
	/*border:1px solid #9eb6ce;*/
	border:0px;
}

.RadGrid_MyCustomSkin .rgCommandRow a
{
	/*color:#00156e;*/
	color:#f58220;
	text-decoration:none;
	padding-left:5px; /*padding next to "+" icon*/
}

.RadGrid_MyCustomSkin .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
	background: url("../images/add_btn.jpg") repeat scroll 0 0 transparent;
}

.RadGrid_MyCustomSkin .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_MyCustomSkin .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_MyCustomSkin .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_MyCustomSkin .rgExpXLS,
.RadGrid_MyCustomSkin .rgExpDOC,
.RadGrid_MyCustomSkin .rgExpPDF,
.RadGrid_MyCustomSkin .rgExpCSV
{
	background-image:url('Common/export.gif');
}

.RadGrid_MyCustomSkin .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_MyCustomSkin .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_MyCustomSkin .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_MyCustomSkin .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_MyCustomSkin
{
	background:#00156e;
}

/*row drag n drop*/

.GridItemDropIndicator_MyCustomSkin
{
    border-top:1px solid #00156e;
}

/*tooltip*/

.GridToolTip_MyCustomSkin
{
	border:1px solid #6187b8;
	padding:3px;
	background:#d7e3f2;
	color:#333;
}

/*rtl*/

.RadGridRTL_MyCustomSkin .rgHeader:first-child,
.RadGridRTL_MyCustomSkin .rgHeader2:first-child,
.RadGridRTL_MyCustomSkin th.rgResizeCol:first-child,
.RadGridRTL_MyCustomSkin .rgFilterRow>td:first-child,
.RadGridRTL_MyCustomSkin .rgRow>td:first-child,
.RadGridRTL_MyCustomSkin .rgAltRow>td:first-child
{
	border-left-width:1px;
	padding-left:7px;
}

.RadGridRTL_MyCustomSkin .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_MyCustomSkin .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_MyCustomSkin .rgPagePrev
{
	margin:0 0 0 3px;
	background-position:0 -850px;
}
.RadGridRTL_MyCustomSkin .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_MyCustomSkin .rgPageNext
{
	margin:0 3px 0 0;
	background-position:0 -700px;
}
.RadGridRTL_MyCustomSkin .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_MyCustomSkin .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_MyCustomSkin .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_MyCustomSkin .rgGroupHeader .rgExpand
{
	background-position:-20pxpx -495px;
}

.RadGridRTL_MyCustomSkin .rgExpand
{
	background-position:-20px -496px;
}


/*For Radnumerictextbox*/
.riTextBox .riEnabled{
	color:red;
}
.riEnabled{
	border: 1px solid #addbd0 !important;
    padding: 1px !important;
    font-size: 10pt !important;
}

.riFocused{
	border: 1px solid #addbd0 !important;
    padding: 1px !important;
    font-size: 10pt !important;
}


.riHover{
	border: 1px solid #addbd0 !important;
    padding: 1px !important;
    font-size: 10pt !important;
}

.riError{
	border: 1px solid #addbd0 !important;
    padding: 1px !important;
    font-size: 10pt !important;
}

/*Change the font*/
.riLabel{
	
}

/*when textbox value is negative*/
.riNegative
{
	
}

/*Dropdown Menu*/

/*General dropdown*/
.rcbList{
	background-color:#fff;
	border:0px;
}

/*item in list*/
.rcbItem{

}

/*dropdown item when hovered over*/
.rcbHovered {
	background: none repeat scroll 0 0 #FFE5AD;
	color: #000;
}

.rcbScroll
{
	background-color:#fff;
}

.rcbWidth{
}

.RadComboBox .rcbInputCell .rcbInput {
	border: solid 1px #A9DEF2 !important;
	background-color:#fff !important;
	width:96% !important;
}

.RadGrid .rgRow td, 
.RadGrid .rgAltRow td, 
.RadGrid .rgEditRow td, 
.RadGrid .rgFooter td, 
.RadGrid .rgFilterRow td, 
.RadGrid .rgHeader, 
.RadGrid .rgResizeCol, 
.RadGrid .rgGroupHeader td {
    padding-left: 2px !important;
    padding-right: 2px !important;
	text-align:center;
}

/*Update/Cancel Btns Table 11*/
#update_btn{
	
}

.cancel_btn{
	color:white;
	text-decoration:underline;
}
.MyImageButton
{
}