@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
}

.msapWrap {
	width: 100%;
	background: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
	color: #333;
	height: auto;
	display: table;
	font-family: Helvetica, Arial, sans-serif;
	font-size: .7em;
	line-height: 14px;
}

.msapHold {
	width: 810px;
	text-align: left;
	margin: 0 auto 0 auto;
}

a, a:visited {
			color: #F58220;
		}
		
		a:hover {
			text-decoration: none;
		}

.msapHdr {
	background: url(../images/hdr_bck.gif) repeat-x top;
	height: 78px;
	width: 100%;
	display: block;
	padding: 7.5px 16px 7.5px 16px;
}

.msapHdr h1 {
	background: url(../images/MSAP_logo.png) no-repeat bottom;
	height: 78px;
	width: 223px;
	margin: 0;
	padding: 0;
}

.msapHdr a h1, .msapHdr a:visited h1 {
	text-decoration: none;
}

/* menu */

#msapMenu {
float: left;
height: 24px;
font-weight: bold;
font-size: 11px;
font-family: Helvetica, Arial, sans-serif;
background: url(../images/menu_bck.gif) repeat-x;
width: 832px;
margin-top: 0;
}

 
#msapMenu li a, #msapMenu li a:link, #msapMenu li a:visited {
display: block;
padding-bottom: .1em;
text-decoration: none;
color: #fff;
text-transform: uppercase;
}
 
.msapGridView {
	
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
.msapGridView 
th {
	background: url('images/cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
.msapGridView 
td {
	background: url('images/cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
 
 
#msapMenu, #msapMenu ul {
padding: 2px 0 0 10px;
margin:0;
z-index:2;
}
 
 #msapMenu ul {
	margin-left: 5px;
	list-style-type: none;
 }
 
#msapMenu li ul {
				position:absolute;
                left:-2999px;
				list-style-image: none !important;
				list-style-type: none;
}
 
#msapMenu li {
float:left;
z-index:200;
margin-left: 7px;
padding-top: 1px;
padding-left: 28px;
background: url(../images/menu_blt.gif) no-repeat left;
height: auto;
margin-right: 10px;
}
 
#msapMenu li a:hover {
color: #F1C12C !important;

}

#msapMenu li li {
background: none !important;
padding-left: 0;
margin-left: -15px;
padding-top: 0;
}

*html #msapMenu li li {
margin-left: 0;
display: block;
float: none;
}


 
#msapMenu li ul li a {
color: #fff !important;
background-color: #026F62;
text-decoration: none;
padding: 4px;
width: 150px;
border-bottom: 1px solid #fff;
height: auto;
line-height: 15px;
text-transform: none !important;
}
 
#msapMenu li ul li a:hover,#msapMenu li.msapMenuMSIE ul li a:hover
{
background: #0A9484;
color: #fff !important;
text-decoration: none;
height: auto;
}
 
 
#msapMenu li:hover ul,#msapMenu li.msapMenuMSIE ul
{
    display: block;
    width:160px;
    height: auto;
}
 
#msapMenu li:hover ul, #msapMenu li.sfhover ul { /* lists nested under hovered list items */
                left: auto;
               }
			   
			 .msapHP_Content {
				 width: 100%;
				 height: auto;
				 display: table;
				 padding: 10px;
				 margin-bottom:-20px;
			 }
			 
			   .msapHP_colR {
				   width: 220px;
				   margin-left: 20px;
				   padding: 4px;
				   float: right;
			   }
			   
			   .msapHP_colR h1 {
				   border-top: 1px solid #f1c12c;
				   padding-top: 8px;
				   color: #2274a1;
				   font-size: 1.5em;
				   font-weight: lighter;
				   
			   }
			   
			   .granteeCorner {
				   width: 200px;
				   display: table;
				   height: auto;
				   margin-top: 12px;
				   float: left;
			   }
			   
			   .gcTop {
				   background: url(../images/blubox_top.gif) no-repeat;
				   height: 18px;
				   width: 199px;
				   display: table;
			   }
			   
			   .gcContent {
				   background: url(../images/blubox_mid.gif) repeat-y;
				   width: 199px;
				   height: auto;
				   margin: 0;
				   display: table;
			   }
			   
			   .gcTxt {
				   padding: 0 20px 0 20px;
			   }
			   
			   .granteeCorner h1 {
				   background: url(../images/apple_icon.gif) no-repeat right;
				padding-right: 20px;
				   font-family: Georgia, "Times New Roman", Times, serif;
				   font-weight: lighter;
				   color: #0060b7;
				   font-size: 2em;
				   line-height: 20px;
				   height: 45px;
				   width: 100px;
			   }
			   
			   
			   .gcBot {
				   background: url(../images/blubox_bot.gif) no-repeat;
				   height: 15px;
				   width: 199px;
			   }
			   
			   .msapHPcolL {
				   width: 320px;
				   float: left;
				   margin-left: 20px;
				   margin-top: 12px;
			   }
			   
			   .welcomeTxt {
				   color: #016d61;
				   font-size: 1.3em;
				   text-transform: uppercase;
			   }
			   
			   .archiveTxt1 {
				   color: #016d61;
				   font-size: 1em;
				   font-weight: bold;
			   }
			   			   
			   .archiveTxt2 {
				   color: #999;
				   font-size: 1em;
				   font-weight: lighter;
			   }
			   
			   .archiveTxt3 {
				   color: #f60;
				   font-size: 1em;
				   font-weight: lighter;
			   }
			   
			   .msapHP_blurbs {
				   width: 100%;
				   display: table;
				   height: auto;
				   border-top: 1px solid #a9def2;
				   margin-top: 10px;
				   padding-top: 10px;
			   }
			   
			    .msapHP_blurbs h1, .msapHPadmin{
					font-weight: lighter;
					font-size: 1.5em;
					color: #f58220;
					margin-top: 0;
					margin-bottom: 10px;
					line-height: 1.2em;

				}
				
				.msapBtn {
					background: url(../images/btn_bck.gif);
					border: 0px solid #ef8d00;
					color: #fff;
					font-weight: bold;
					font-size: 10px;
					padding: 1px;
				}
				
					.msapBtn3 {
					background: url(../images/button3.png);
					border: 0px solid #ef8d00;
					color: #fff;
					font-weight: bold;
					font-size: 10px;
					padding: 1px;
				}
				
				
					.msapBtn1 {
					background: url(../images/button2.png);
					border: 0px solid #ef8d00;
					color: #fff;
					font-weight: bold;
					font-size: 10px;
					padding: 1px;
				}
				
				
					.msapBtn2 {
					background: url(../images/button1.png);
					border: 0px solid #ef8d00;
					color: #fff;
					font-weight: bold;
					font-size: 10px;
					padding: 1px;
				}
				
				
			/*	.msapBtn2 {
					background: #a9def2;
					border: 1px solid #36C;
					color: #36C;
					font-weight: bold;
					padding: 4px;
					font-size: .8em;
				}*/
				
				.msapBtn2 a {
					color: #36C !important;
					text-decoration: none !important;
				}

				.msapTxt {
					border: 1px solid #addbd0;
					padding: 1px;
				}
				
				.msapDrop {
					font-size: 10px;
					width: 185px;
				}
				
				.newsRegister {
					font-size: 10px;
					width: 285px;
				}
				
				.lightWaterClass {
					font-size: 10px;
					color: #999;
				}

				
			   .HdrFrm {
				   color: #fff;
				   float: right;
				   margin-right: 10px;
				   margin-top: 10px;
			   }
			   
			   .HdrFrm a, .HdrFrm a:visited {
				   color: #fff !important;
			   }
			   
		
				.msap_Footer {
					width:  840px;
					margin-top: 15px;
					height: auto;
					display: table;
					font-family: Helvetica, Arial, sans-serif;
					font-size: 11px;
					clear: both;
				}
				
				.linkbar_ft {
					background: #a9def2;
					color: #666;
					width:  840px;
					border-bottom: 8px solid #ffe79c;
					text-align: center;
					padding: 8px 0px;
				}
				
				.linkbar_ft a, .linkbar_ft a:visited {
					color: #666;
					text-decoration: none;
				}
				
				.linkbar_ft a:hover {
					color: #016d61;
				}
				
				.addressFt {
				background: #016d61;
				width: 840px;
				padding: 10px 0px;
				color: #fff;
				display: table;
				height: auto;
				}
		
				.addressFt a, .addressFt a:visited {
					color: #fff;
				}
		
				/* Admin menus */
				
				#msapMenu2 {
				float: left;
				height: 24px;
				font-weight: bold;
				font-size: 11px;
				font-family: Helvetica, Arial, sans-serif;
				background: url(../images/menu_bck.gif) repeat-x;
				width: 832px;
				margin-top: 0;
				}
				
				 
				#msapMenu2 li a, #msapMenu2 li a:link, #msapMenu2 li a:visited {
				display: block;
				padding-bottom: .1em;
				text-decoration: none;
				color: #fff;
				text-transform: uppercase;
				}
				 
				 
				#msapMenu2, #msapMenu2 ul {
				padding: 2px 0 0 10px;
				margin:0;
				z-index:2;
				}
				 
				 #msapMenu2 ul {
					margin-left: 2px;
					list-style-type: none;
				 }
				 
				#msapMenu2 li ul {
								position:absolute;
						left:-2999px;
								list-style-image: none !important;
								list-style-type: none;
				}
				 
				#msapMenu2 li {
				float:left;
				z-index:200;
				margin-left: 4px;
				padding-top: 1px;
				padding-left: 18px;
				background: url(../images/menu_blt.gif) no-repeat left;
				height: auto;
				margin-right: 4px;
				}
				
				#msapMenu2 li a:hover {
				color: #F1C12C !important;
				
				}
				
				#msapMenu2 li li {
				background: none !important;
				padding-left: 0;
				margin-left: -15px;
				padding-top: 0;
				}
				
				*html #msapMenu2 li li {
				margin-left: 0;
				display: block;
				float: none;
				}
				
				
				 
				#msapMenu2 li ul li a {
				color: #fff !important;
				background-color: #026F62;
				text-decoration: none;
				padding: 4px;
				width: 150px;
				border-bottom: 1px solid #fff;
				height: auto;
				line-height: 15px;
				text-transform: none !important;
				}
				 
				#msapMenu2 li ul li a:hover,#msapMenu2 li.msapMenuMSIE ul li a:hover
				{
				background: #0A9484;
				color: #fff !important;
				text-decoration: none;
				height: auto;
				}
				 
				 
				#msapMenu2 li:hover ul,#msapMenu2 li.msapMenuMSIE ul
				{
				    display: block;
				    width:160px;
				    height: auto;
				}
								
				#msapMenu2 li:hover ul, #msapMenu2 li.sfhover ul { /* lists nested under hovered list items */
				    left: auto;
				}
				/* end Admin menus */
		
		
		.rss {
			font-size: 1em;
			font-family: Helevtica, Arial, sans-serif;
			/*height: 400px;*/
			display: block;
			width: auto;
			margin-top: -4px;
			margin-bottom: 2px;
			/*overflow-y: scroll;*/
		}
		
		.rss ul {
			list-style-type: none;
			padding-left: 0;
			margin-left: 0;
			float: left;
			
		}
		
		.rss img {
			width: 0;
			height: 0;
		}
		
		.rss li {
			display: table;
			margin-bottom: 0px;
			margin-top: 8px;
		}
		
		.rss a, .rss a:visited {
			font-weight: bold;
			color: #333 !important;
			text-decoration: none;
			
		}
		
		.rss a:hover {
			color: #F58220 !important;
			text-decoration: underline;
		}
		
		.rss p {
			display: inline;
		}
		

.bnrImg {
	width: 842px;
	height: 140px;
}



.mainContent {
	width: 100%;
	height: auto;
	display: table;
	clear: both;
}

.mainContent h1 {
	font-size: 2em;
	font-weight: 100;
	color: #f58220;
	border-top: 1px solid #a9def2;
	padding-top: 10px;
	width: 842px;
	margin-top: 15px;
}

.mainContent h2 {
	font-size: 1.5em;
	font-weight: lighter;
	color: #016C60;
}

.mainContent h3 {
	font-size: 1.5em;
	font-weight: 100;
	color: #f58220;
	padding-top: 10px;
	width: 842px;
}

/* table */

.msapTbl {
	width: 98%;
	margin-top: 15px;
	border-collapse: collapse;
	border: 0;
	border-bottom: 2px solid #F58220 !important;
}

.msapTbl td, .msapTbl th {
	padding: 6px;
}

.msapTbl td {
	border-bottom: 1px solid #A9DEF2;
}



.msapTbl th {
	text-align: left;
	border-bottom: 2px solid #F58220;
}


tr.sub th {
	color: #333;
	border-bottom: none;
	text-align: left;
}

th.blank, tr.msapTblsub th.blank {
	background: none;
	border: none;
}

td.first {
	font-weight: bold;
	color: #26303a;
}

tfoot td p {
	margin-top: 6px;
	color: #666;
	font-size: .9em;
	padding-left: 6px;
}

/* Expandable Color Boxes */


.topCall {
	background: url(../images/topshadow.png) no-repeat;
	width: 181px;
	height: 17px;
}

.midCall {
	height: auto; display: table;background: url(../images/midshadow.png) repeat-y;
	width: 181px;
	
}



.expTxt {
	padding: 10px 25px;
	
}

.expHdr {
	font-size: 1.55em;
	font-weight: 100;
	line-height: 18px;
}

 .expHdr a, .expHdr a:visited {
	text-decoration: none;
}

.botCall {
	background: url(../images/botshadow.png) no-repeat;
	width: 181px;
	height: 15px;
}



.expBoxR {
	height: auto;float: right; margin-left: 20px;
	width: 181px;
}




.resourceBtns {
	background: url(../images/resourceBtn.gif) no-repeat;
	width: 288px;
	height: auto;
	padding: 15px;
	padding-right: 0;
	color: #333;
	margin-bottom: 15px;
}

a div.resourceBtns, a:visited div.resourceBtns {
	text-decoration: none;
}

.heading {
	font-size: 2em;
	color: #016d60;
	font-weight: lighter;
	line-height: 24px;
}

.resourceBtns img {
	margin-right: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
	float: left;
	border: 0;
}

.ressearch {
border-top: 1px dotted #d3e100;
padding-top: 4px;
width: 100%;
height: auto;
display: table;
clear: both;
}

.pubDiv a img {
	border: 0;
}
.halfDiv
{
    width:400px;
    float:left;
}

.chalkboard {
	padding-left: 60px;
}

@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('../fonts/ArchitectsDaughter-webfont.eot');
    src: url('../fonts/ArchitectsDaughter-webfont.eot?iefix') format('eot'),
         url('../fonts/ArchitectsDaughter-webfont.woff') format('woff'),
         url('../fonts/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('../fonts/ArchitectsDaughter-webfont.svg#webfontRPduMdrp') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1.chalkboard {
	font: 2em 'ArchitectsDaughterRegular', Arial, sans-serif; 
	color: #fff;
	margin-left: -90px;
	margin-top: -20px;
	margin-bottom: .5em;
	border-top: none;
}

.chalkboard ul {
	list-style-type: none; 
	font: 1.2em 'ArchitectsDaughterRegular', Arial, sans-serif; 
	color: #FFF;
}

.chalkboard li {
	margin-bottom: 5px;
	margin-left: -60px;
	font-size: .8em;
}

.chalkboard li a {
	color:#FFF !important; 
	text-decoration: none;
}
		
.chalkboard li a:hover { 
	color:#C90 !important;
}

.msapResMenu {
	float: left; 
	margin: 5px 0;
}

.msapVid {
	display: none;
	height: auto;
	width: 640px;
	background: #E6E6E6;
	border: 2px solid #016D61;
	position: absolute;
	padding: 20px;
	margin-left: 100px;
	margin-top: -200px;
}



.vidClose {
	background: url(../images/vidClose.gif) no-repeat;
	height: 26px;
	width: 26px;
	float: right;
	margin-top: -32px;
	margin-right: -32px;
}

.vidClose a {
	text-decoration: none !important;
}

.vidBtn {
	height: auto;
	width: 135px;
	background: #E6E6E6;
	border: 1px solid #016D61;
	display: block;
	padding: 8px;
	margin-right: 8px;
	vertical-align: middle;
}

.vidBtn a {
	text-decoration: none !important;
	vertical-align: middle;
	border: none !important;
}

.orgHdr {
	font-size: 1em;
	color: #F58220;
	font-weight: bold;
}

.twgTbl {
	border-collapse: collapse;
	width: 100%;
	
}

.twgTbl td {
	background: url(../images/TWG_box.gif) no-repeat center;
	width: 178px;
	height: 110px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 20px;
	cursor: pointer;
	color: #016D60;
}

*+html .twgTbl td {
	background: url(../images/TWG_box.gif) no-repeat left;
}


.calendarWrap {
background: #edfaff;
padding: 15px;
border: 1px solid #999;
text-align: center;

}

.Calendar {
border-collapse: collapse;
margin: 0 auto;
border-bottom: 1px solid #999;
}

.Calendar td {
padding: 5px;
border-top: 1px solid #999;
border-left: 1px solid #999;
border-right: 1px solid #999;
text-align: center;
background: #fff;
}

tr.cldTblRow td {
background: #a9def2;
text-align: center;
text-align: center;
padding: 5px;
font-weight: bold;
color: #333;
border-left: 1px solid #999;
border-right: 1px solid #999;
border-top: 1px solid #999;
}

tr.cldTblRow td img {
vertical-align: middle;
}

.Calendar th {
padding: 5px;
text-align: center;
border: 0 !important;
}

.Calendar td.CalendarEventCell {
background: #ED8132 !important;
}

.CalendarEventCell a, .CalendarEventCell a:visited {
color: #fff;
font-weight: bold;
text-decoration: none;
}

.CalendarEventCell a:hover {
color: #a9def2;
}

#TB_window {
border: 1px solid #8bb8c9 !important;
}

#TB_title {
background: #8bb8c9 !important;
}


.eventsTbl td {
vertical-align: top;
padding: 3px;
}