@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
}
h4
{
	font-size:11px;
	font-weight:bold;
}

.msapWrap {
	width: 100%;
	background: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
	color: #333;
	height: auto;
	display: table;
	font-family: Helvetica, Arial, sans-serif;
	font-size: .7em;
	line-height: 14px;
}

.msapHold {
	width: 810px;
	text-align: left;
	margin: 0 auto 0 auto;
}

hr { 
	border: 1px solid #a9def2;
}


a, a:visited {
			color: #F58220;
		}
		
		a:hover {
			text-decoration: none;
		}

.msapHdr {
	background: url(../images/hdr_bck.gif) repeat-x top;
	height: 78px;
	width: 100%;
	display: block;
	padding: 7.5px 16px 7.5px 16px;
}

.msapHdr h1 {
	background: url(../images/MSAP_logo.png) no-repeat bottom;
	height: 78px;
	width: 223px;
	margin: 0;
	padding: 0;
}

.msapHdr a h1, .msapHdr a:visited h1 {
	text-decoration: none;
}

/* menu */

#msapMenu {
float: left;
height: 24px;
font-weight: bold;
font-size: 11px;
font-family: Helvetica, Arial, sans-serif;
background: url(../images/menu_bck.gif) repeat-x;
width: 832px;
margin-top: 0;
}

 
#msapMenu li a, #msapMenu li a:link, #msapMenu li a:visited {
display: block;
padding-bottom: .1em;
text-decoration: none;
color: #fff;
text-transform: uppercase;
}
 
.msapGridView {
	
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	font-color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
    
}

.msapGridView 
th {
	background: url('images/cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
.msapGridView 
td {
	background: url('images/cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
 
 .msapGridView2 {
	
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	font-color:#333333;
	width:100%;
	text-align:center;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	
    
}
 .msapGridView2 a {
	 
 }
 
.msapGridView2 
th {
	background: url('images/cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
.msapGridView2 
td {
	background: url('images/cell-grey.jpg') repeat-x bottom;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
   .msapGridView3 {
	
	font-family: verdana,arial,sans-serif;
	font-size:10px;
	font-color:#333333;
	margin-right: 0px;
	text-align:left;
	border-width: 0px;
	margin-top: 0px;
	border-color: none;
	border-collapse: collapse;
	    
}
 
.msapGridView3 
th {
	/*background: url('images/cell-blue.jpg');*/
	border-width: 0px;
	padding: 0px;
	border-style: none;
	border-color: none;
}
.msapGridView3 
td {
	/*background: url('images/cell-grey.jpg');*/
	border-width: 0px;
	padding: 0px;
	border-style: solid;
	border-color: none;
	height: 20px;
}
 
 
 
 
#msapMenu, #msapMenu ul {
padding: 2px 0 0 10px;
margin:0;
z-index:2;
}
 
 #msapMenu ul {
	margin-left: 5px;
	list-style-type: none;
 }
 
#msapMenu li ul {
				position:absolute;
                left:-2999px;
				list-style-image: none !important;
				list-style-type: none;
}
 
#msapMenu li {
float:left;
z-index:200;
margin-left: 7px;
padding-top: 1px;
padding-left: 28px;
background: url(../images/menu_blt.gif) no-repeat left;
height: auto;
margin-right: 10px;
}
 
#msapMenu li a:hover {
color: #F1C12C !important;

}

#msapMenu li li {
background: none !important;
padding-left: 0;
margin-left: -15px;
padding-top: 0;
}

*html #msapMenu li li {
margin-left: 0;
display: block;
float: none;
}


 
#msapMenu li ul li a {
color: #fff !important;
background-color: #026F62;
text-decoration: none;
padding: 4px;
width: 150px;
border-bottom: 1px solid #fff;
height: auto;
line-height: 15px;
text-transform: none !important;
}
 
#msapMenu li ul li a:hover,#msapMenu li.msapMenuMSIE ul li a:hover
{
background: #0A9484;
color: #fff !important;
text-decoration: none;
height: auto;
}
 
 
#msapMenu li:hover ul,#msapMenu li.msapMenuMSIE ul
{
    display: block;
    width:160px;
    height: auto;
}
 
#msapMenu li:hover ul, #msapMenu li.sfhover ul { /* lists nested under hovered list items */
                left: auto;
               }
			   
			 .msapHP_Content {
				 width: 100%;
				 height: auto;
				 display: table;
				 padding: 10px;
				 margin-bottom:-20px;
			 }
			 
			 .edheader{
			     display: table; 
			     height: auto; 
			     width: 100%; 
			     padding-top: 5px;
			 }
			   .msapHP_colR {
				   width: 220px;
				   margin-left: 20px;
				   padding: 4px;
				   float: right;
			   }
			   
			   .msapHP_colR h1 {
				   border-top: 1px solid #f1c12c;
				   padding-top: 8px;
				   color: #2274a1;
				   font-size: 1.5em;
				   font-weight: lighter;
				   
			   }
			   
			   .granteeCorner {
				   width: 200px;
				   display: table;
				   height: auto;
				   margin-top: 12px;
				   float: left;
			   }
			   
			   .gcTop {
				   background: url(../images/blubox_top.gif) no-repeat;
				   height: 18px;
				   width: 199px;
				   display: table;
				   padding-top:0px;
			   }
			   
			   .gcContent {
				   background: url(../images/blubox_mid.gif) repeat-y;
				   width: 199px;
				   height: auto;
				   margin: 0;
				   display: table;
			   }
			   
			   .gcTxt {
				   padding: 0 20px 0 20px;
			   }
			   
			   .gcBot {
				   background: url(../images/blubox_bot.gif) no-repeat;
				   height: 15px;
				   width: 199px;
			   }
			   
			   .granteeCorner h1 {
				   background: url(../images/apple_icon.gif) no-repeat right;
				padding-right: 20px;
				   font-family: Georgia, "Times New Roman", Times, serif;
				   font-weight: lighter;
				   color: #0060b7;
				   font-size: 2em;
				   line-height: 20px;
				   height: 45px;
				   width: 100px;
			   }
			   
			   
			   .msapHPcolL {
				   width: 320px;
				   float: left;
				   margin-left: 20px;
				   margin-top: 12px;
			   }
			   
			   .welcomeTxt {
				   color: #016d61;
				   font-size: 1.3em;
				   text-transform: uppercase;
			   }
			   
			   .archiveTxt1 {
				   color: #016d61;
				   font-size: 1em;
				   font-weight: bold;
			   }
			   			   
			   .archiveTxt2 {
				   color: #999;
				   font-size: 1em;
				   font-weight: lighter;
			   }
			   
			   .archiveTxt3 {
				   color: #f60;
				   font-size: 1em;
				   font-weight: lighter;
			   }
			   
			   .msapHP_blurbs {
				   width: 325px; /*YPA 12/7/12 updated from 100%*/
				   display: table;
				   height: auto;
				   border-top: 1px solid #a9def2;
				   margin-top: 1px; /*YPA 12/7/12 update from 10px*/
				   padding-top: 10px;
			   }
			   
			   
				.msapHP_blurbs h1, .msapHPadmin{
					font-weight: lighter;
					font-size: 1.5em;
					color: #f58220;
					margin-top: 0;
					margin-bottom: 10px;
					line-height: 1.2em;

				}
			   
			    /*YPA 12/10/12 updated for the last section of the home page*/
			   .msapHP_blurbs_last {
				   width: 325px;
				   display: table;
				   height: auto;
				   border-bottom: 1px solid #a9def2;
				   border-top: 1px solid #a9def2;
				   margin-bottom: 10px;
				   margin-top:1px;
				   padding-bottom:1px;
				   padding-top: 10px;
			   }
			   
			   .msapHP_blurbs_last h1, .msapHPadmin{
					font-weight: lighter;
					font-size: 1.5em;
					color: #f58220;
					margin-top: 0;
					margin-bottom: 10px;
					line-height: 1.2em;

				}
				
				
				.msapBtn {
					background: url(../images/btn_bck.gif);
					border: 1px solid #ef8d00;
					color: #fff;
					font-weight: bold;
					font-size: 10px;
					padding: 1px;
				}
				
					.msapBtn3 {
					background: url(../images/button3.png);
					border: 0px solid #ef8d00;
					color: #fff;
					font-weight: bold;
					font-size: 10px;
					padding: 1px;
				}
				
				
					.msapBtn1 {
					background: url(../images/button2.png);
					border: 0px solid #ef8d00;
					color: #fff;
					font-weight: bold;
					font-size: 10px;
					padding: 1px;
				}
				
				
					.msapBtn2 {
					background: url(../images/button1.png);
					border: 0px solid #ef8d00;
					color: #fff;
					font-weight: bold;
					font-size: 10px;
					padding: 1px;
				}
				
				
			/*	.msapBtn2 {
					background: #a9def2;
					border: 1px solid #36C;
					color: #36C;
					font-weight: bold;
					padding: 4px;
					font-size: .8em;
				}*/
				
				.msapBtn2 a {
					color: #36C !important;
					text-decoration: none !important;
				}

				.msapTxt {
					border: 1px solid #addbd0;
					padding: 1px;
				}
				
				.msapDrop {
					font-size: 10px;
					width: 185px;
				}
				
				.newsRegister {
					font-size: 10px;
					width: 285px;
				}
				
				.lightWaterClass {
					font-size: 10px;
					color: #999;
				}

				
			   .HdrFrm {
				   color: #fff;
				   float: right;
				   margin-right: 10px;
				   margin-top: 10px;
			   }
			   
			   .HdrFrm a, .HdrFrm a:visited {
				   color: #fff !important;
			   }
			   
		
				.msap_Footer {
					width:  840px;
					margin-top: 15px;
					height: auto;
					display: table;
					font-family: Helvetica, Arial, sans-serif;
					font-size: 11px;
					clear: both;
				}
				
				.linkbar_ft {
					background: #a9def2;
					color: #666;
					width:  840px;
					border-bottom: 8px solid #ffe79c;
					text-align: center;
					padding: 8px 0px;
				}
				
				.linkbar_ft a, .linkbar_ft a:visited {
					color: #666;
					text-decoration: none;
				}
				
				.linkbar_ft a:hover {
					color: #016d61;
				}
				
				.addressFt {
				background: #016d61;
				width: 840px;
				padding: 10px 0px;
				color: #fff;
				display: table;
				height: auto;
				}
		
				.addressFt a, .addressFt a:visited {
					color: #fff;
				}
		
				/* Admin menus */
				
				#msapMenu2 {
				float: left;
				height: 24px;
				font-weight: bold;
				font-size: 10px;
				font-family: Helvetica, Arial, sans-serif;
				background: url(../images/menu_bck.gif) repeat-x;
				width: 840px;
				margin-top: 0;
				}
				
				 
				#msapMenu2 li a, #msapMenu2 li a:link, #msapMenu2 li a:visited {
				display: block;
				padding-bottom: .1em;
				text-decoration: none;
				color: #fff;
				text-transform: uppercase;
				}
				 
				 
				#msapMenu2, #msapMenu2 ul {
				padding: 2px 0 0 2px;
				margin:0;
				z-index:2;
				}
				 
				 #msapMenu2 ul {
					margin-left: 2px;
					list-style-type: none;
				 }
				 
				#msapMenu2 li ul {
					position:absolute;
					left:-9999px;
					list-style-image: none !important;
					list-style-type: none;
				}
				 
				#msapMenu2 li {
				float:left;
				z-index:200;
				margin-left: 3px;
				padding-top: 1px;
				padding-left: 18px;
				background: url(../images/menu_blt.gif) no-repeat left;
				height: auto;
				margin-right: 4px;
				}
				
				#msapMenu2 li a:hover {
				color: #F1C12C !important;
				
				}
				
				#msapMenu2 li li {
				background: none !important;
				padding-left: 0;
				margin-left: -15px;
				padding-top: 0;
				}
				
				*html #msapMenu2 li li {
				margin-left: 0;
				display: block;
				float: none;
				}
				
				
				 
				#msapMenu2 li ul li a {
				color: #fff !important;
				background-color: #026F62;
				text-decoration: none;
				padding: 4px;
				width: 150px;
				border-bottom: 1px solid #fff;
				height: auto;
				line-height: 15px;
				text-transform: none !important;
				}
				 
				#msapMenu2 li ul li a:hover,#msapMenu2 li.msapMenuMSIE ul li a:hover
				{
				background: #0A9484;
				color: #fff !important;
				text-decoration: none;
				height: auto;
				}
				 
				 
				#msapMenu2 li:hover ul,#msapMenu2 li.msapMenuMSIE ul
				{
				    display: block;
				    width:160px;
				    height: auto;
				}
								
				#msapMenu2 li:hover ul, #msapMenu2 li.sfhover ul { /* lists nested under hovered list items */
				    left: auto;
				}
				/* end Admin menus */
		
		
		.rss {
			font-size: 1em;
			font-family: Helevtica, Arial, sans-serif;
			/*height: 400px;*/
			display: block;
			width: auto;
			margin-top: -4px;
			margin-bottom: 2px;
			/*overflow-y: scroll;*/
		}
		
		.rss ul {
			list-style-type: none;
			padding-left: 0;
			margin-left: 0;
			float: left;
			
		}
		
		.rss img {
			width: 0;
			height: 0;
		}
		
		.rss li {
			display: table;
			margin-bottom: 0px;
			margin-top: 8px;
		}
		
		.rss a, .rss a:visited {
			font-weight: bold;
			color: #333 !important;
			text-decoration: none;
			
		}
		
		.rss a:hover {
			color: #F58220 !important;
			text-decoration: underline;
		}
		
		.rss p {
			display: inline;
		}
		

.bnrImg {
	width: 842px;
	height: 140px;
}



.mainContent {
	width: 100%;
	height: auto;
	display: table;
	clear: both;
}

.mainContent2 {
	width: 100%;
	height: auto;
	display: table;
	clear: both;
	border-bottom:thin;
	border:thin;
	border-color:#999;
}




.mainContent h1 {
	font-size: 2em;
	font-weight: 100;
	color: #f58220;
	border-top: 1px solid #a9def2;
	padding-top: 10px;
	width: 842px;
	margin-top: 15px;
	line-height:2em;
}

.mainContent h2 {
	font-size: 1.5em;
	font-weight: bold;
	color: #016C60;
}

.mainContent h3 {
	font-size: 1.5em;
	font-weight: 100;
	color: #f58220;
	padding-top: 10px;
	width: 842px;
}

/* table */

.msapTbl {
	width: 98%;
	margin-top: 15px;
	border-collapse: collapse;
	border: 0;
	border-bottom: 2px solid #F58220 !important;
}

.msapTbl td, .msapTbl th {
	padding: 6px;
}

.msapTbl td {
	border-bottom: 1px solid #A9DEF2;
}



.msapTbl th {
	text-align: left;
	border-bottom: 2px solid #F58220;
}


tr.sub th {
	color: #333;
	border-bottom: none;
	text-align: left;
}

th.blank, tr.msapTblsub th.blank {
	background: none;
	border: none;
}

td.first {
	font-weight: bold;
	color: #26303a;
}

tfoot td p {
	margin-top: 6px;
	color: #666;
	font-size: .9em;
	padding-left: 6px;
}


/* Expandable Color Boxes */


.topCall {
	background: url(../images/topshadow.png) no-repeat;
	width: 181px;
	height: 17px;
}

.midCall {
	height: auto; display: table;background: url(../images/midshadow.png) repeat-y;
	width: 181px;
	
}



.expTxt {
	padding: 10px 25px;
	
}

.expHdr {
	font-size: 1.55em;
	font-weight: 100;
	line-height: 18px;
}

 .expHdr a, .expHdr a:visited {
	text-decoration: none;
}

.botCall {
	background: url(../images/botshadow.png) no-repeat;
	width: 181px;
	height: 15px;
}



.expBoxR {
	height: auto;float: right; margin-left: 20px;
	width: 181px;
}




.resourceBtns {
	background: url(../images/resourceBtn.gif) no-repeat;
	width: 288px;
	height: auto;
	padding: 15px;
	padding-right: 0;
	color: #333;
	margin-bottom: 15px;
}

a div.resourceBtns, a:visited div.resourceBtns {
	text-decoration: none;
}

.heading {
	font-size: 2em;
	color: #016d60;
	font-weight: lighter;
	line-height: 24px;
}

.resourceBtns img {
	margin-right: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
	float: left;
	border: 0;
}

.ressearch {
border-top: 1px dotted #d3e100;
padding-top: 4px;
width: 100%;
height: auto;
display: table;
clear: both;
}

.pubDiv a img {
	border: 0;
}

/*Program Officers textarea*/
/*If there are three PO*/
.onethirdDiv{
	width:280px;
	float:left;
}


*+ html .onethirdDiv{
	width:270px;
	float:left;
}

.PO_txt1{
	width: 270px; 
	height: auto; 
	display: table;
    margin-right: 0px;
}

.PO_txt2{
	border-left: 1px dotted #078576; 
	padding-left: 10px; 
	width: 270px; 
	height: 540px;
	display: table;
}

*+ html .PO_txt2{
	border-left: 1px dotted #078576; 
	padding-left: 10px; 
	width: 270px; 
	height: 600px;
	display: table;
}


/*If there are only Two PO on page*/
.halfDiv
{
    width:400px;
    float:left;
}

.PO_txt3{
	width: 300px; 
	height: auto; 
	display: table;
}

.PO_txt4{
	border-left: 1px dotted #078576; 
	padding-left: 20px; 
	width: 300px; 
	height: 110%;
	display: table;
}



.chalkboard {
	padding-left: 60px;
}

@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('../fonts/ArchitectsDaughter-webfont.eot');
    src: url('../fonts/ArchitectsDaughter-webfont.eot?iefix') format('eot'),
         url('../fonts/ArchitectsDaughter-webfont.woff') format('woff'),
         url('../fonts/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('../fonts/ArchitectsDaughter-webfont.svg#webfontRPduMdrp') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1.chalkboard {
	font: 2em 'ArchitectsDaughterRegular', Arial, sans-serif; 
	color: #fff;
	margin-left: -90px;
	margin-top: -20px;
	margin-bottom: .5em;
	border-top: none;
}

.chalkboard ul {
	list-style-type: none; 
	font: 1.2em 'ArchitectsDaughterRegular', Arial, sans-serif; 
	color: #FFF;
}

.chalkboard li {
	margin-bottom: 5px;
	margin-left: -60px;
	font-size: .8em;
}

.chalkboard li a {
	color:#FFF !important; 
	text-decoration: none;
}
		
.chalkboard li a:hover { 
	color:#C90 !important;
}

.msapResMenu {
	float: left; 
	margin: 5px 0;
}

.msapVid {
	display: none;
	height: auto;
	width: 640px;
	background: #E6E6E6;
	border: 2px solid #016D61;
	position: absolute;
	padding: 20px;
	margin-left: 100px;
	margin-top: -200px;
}



.vidClose {
	background: url(../images/vidClose.gif) no-repeat;
	height: 26px;
	width: 26px;
	float: right;
	margin-top: -32px;
	margin-right: -32px;
}

.vidClose a {
	text-decoration: none !important;
}

.vidBtn {
	height: auto;
	width: 135px;
	background: #E6E6E6;
	border: 1px solid #016D61;
	display: block;
	padding: 8px;
	margin-right: 8px;
	vertical-align: middle;
}

.vidBtn a {
	text-decoration: none !important;
	vertical-align: middle;
	border: none !important;
}

.orgHdr {
	font-size: 1em;
	color: #F58220;
	font-weight: bold;
}

.twgTbl {
	border-collapse: collapse;
	width: 100%;
	
}

.twgTbl td {
	background: url(../images/TWG_box.gif) no-repeat center;
	width: 178px;
	height: 110px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 20px;
	cursor: pointer;
	color: #016D60;
}

*+html .twgTbl td {
	background: url(../images/TWG_box.gif) no-repeat left;
}


.calendarWrap {
background: #edfaff;
padding: 15px;
border: 1px solid #999;
text-align: center;

}

.Calendar {
border-collapse: collapse;
margin: 0 auto;
border-bottom: 1px solid #999;
}

.Calendar td {
padding: 5px;
border-top: 1px solid #999;
border-left: 1px solid #999;
border-right: 1px solid #999;
text-align: center;
background: #fff;
}

tr.cldTblRow td {
background: #a9def2;
text-align: center;
text-align: center;
padding: 5px;
font-weight: bold;
color: #333;
border-left: 1px solid #999;
border-right: 1px solid #999;
border-top: 1px solid #999;
}

tr.cldTblRow td img {
vertical-align: middle;
}

.Calendar th {
padding: 5px;
text-align: center;
border: 0 !important;
}

.Calendar td.CalendarEventCell {
background: #ED8132 !important;
}

.CalendarEventCell a, .CalendarEventCell a:visited {
color: #fff;
font-weight: bold;
text-decoration: none;
}

.CalendarEventCell a:hover {
color: #a9def2;
}

#TB_window {
border: 1px solid #8bb8c9 !important;
}

#TB_title {
background: #8bb8c9 !important;
}


.eventsTbl td {
vertical-align: top;
padding: 3px;
}

.surveyTbl
{
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
.surveyEven
{
    background: #ededed;
}

.surveyTbl td
{
    margin: 0 0 0 20px;
    padding: 0 0 0 8px ;
    /*vertical-align:middle;*/
    border-left: 0;
    border-right: 2px solid #ccc;
}
.surveyTbl table
{
    margin-top:12px;
}
.surveyTbl td + td + td
{
    border-right: none;
}
.surveyTbl td table, .surveyTbl td table td
{
    border: 0;
}
.surveyTh
{
    background-color: #A6CAF0;
    border: 2px solid #93a9c2;
}

/*Events Tab pgs*/
.first_element{
	clear:both;
	padding-top:10px;
	margin-top:10px;
	border-top: 1px solid #A9DEF2
}
.space_top
{
    padding-top:10px;
	margin-top:10px;
	border-top: 1px solid #A9DEF2;
}

.upcoming_event_spacing
{
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom: 15px;
	margin-top:10px;
	border-top: 1px solid #A9DEF2;
	border-bottom:1px solid #A9DEF2; 
}

.teal_txt{
	color:#4E8396;
	/*color:#f48220;*/
}

.indent{
	padding-left:15px;
	padding-right:15px;
	padding-bottom:10px;
}

/*Consultant Page 4/16/12 YPA*/

.consultTbl {
	border-collapse: collapse;
	width: auto;
}

*+html .consultTbl {
	width:auto;
}

.consultTbl img{
	width:80px;
}

.consultTbl td {
	background: url(../images/Consult_box.gif) no-repeat center;
	width: 270px;
	height: 200px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: left;
	font-size: 1.5em;
	padding: 5px 0px 20px 40px;
	cursor: pointer;
	color: #016D60;
	vertical-align:top;
}

*+html .consultTbl td {
	background: url(../images/Consult_box.gif) no-repeat center;
	width: 270px;
	height: 150px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: left;
	font-size: 1.5em;
	padding: 20px 0px 20px 35px;
	cursor: pointer;
	color: #016D60;
	vertical-align:top;
}

.consult_title{
	margin-top:35px;
}

*+html .consult_title{
	margin-top:10px;
}
.consult_img{
	border:1px solid #A9DEF2;
	float:left;
	margin-left:2px;
	margin-top:5px;
}

.consult_info{
	float:left;
	margin-right:5px;
	font-size:10.5px;
	width:52%;
	margin-top:3px;
	font-family: Helvetica, Arial, sans-serif;
}

*+html .consult_info{
	float:left;
	margin-right:1px;
	font-size:10.5px;
	width:52%;
	margin-top:3px;
	font-family: Helvetica, Arial, sans-serif;
}

.consult_info ul {
	margin-top:0px;
}


.consult_info li{
	margin-left:-20px;
}

.h1_popup{
	color: #F58220;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 2em !important;
    font-weight: lighter;
}

/*Consultant Page - colorbox 4/18/12 YPA*/
.twoColElsLtHdr #container { 
	width: 46em;  
	background: #FFFFFF;
	margin: 0 auto; 
	border: 0px;
	text-align: left; 
} 

.twoColElsLtHdr #title { 
	background: #fff; 
	padding: 0 10px; 
} 
.twoColElsLtHdr #title h1 {
	margin: 0; 
	padding: 10px 0; 
}

.twoColElsLtHdr #sidebar1 {
	float: left; 
	width: 12em; 
	background: #fff; 
	padding: 0px 5px 5px 10px; 
	font-size:10.5px;
	font-family: Helvetica, Arial, sans-serif;
	color: #016D60;
    text-align: left;
}

.twoColElsLtHdr #sidebar1 ul {
	margin-top:0px;
}

.twoColElsLtHdr #sidebar1 li {
	margin-left:-20px;
}

.twoColElsLtHdr #sidebar1 img{
	border: 1px solid #A9DEF2;
}

.twoColElsLtHdr #mainContent {
	margin: 0 1.5em 0 13em; 
} 

/* Consultants table */

.ConsultTbl {
	width: 98%;
	margin-top: 15px;
	border-collapse: collapse;
	border: 0;
	border-bottom: 2px solid #F58220 !important;
}

.ConsultTbl td, .ConsultTbl th{
	padding: 6px;
}

.ConsultTbl td{
	border-bottom: 1px solid #A9DEF2;
}

.ConsultTbl_header{
	text-align:center !important;
}

.ConsultTbl table>td img{
	text-align:center !important;
}

.ConsultTbl th {
	text-align: left;
	border-bottom: 2px solid #F58220;
	border-top: 1px solid #bfc0c1;
	border-left: 1px solid #bfc0c1;
	border-right: 1px solid #bfc0c1;
	background: url(../images/Consult_header.jpg);
}

.Consult_centerAlign{
	text-align:center !important;
}

.Consult_footer{
	border: 1px solid #bfc0c1;
	background: url(../images/Consult_header.jpg);
	width: 823px;
}

*+html .Consult_footer{
	border: 1px solid #bfc0c1;
	background: url(../images/Consult_header.jpg);
	width: 793px;
}

/*News Archive page*/
.news_search_topbox {
   background: url(../images/news_top_bluebox.jpg) no-repeat;
   height: 15px;
   width: 842px;
   display: table;
 }

.news_search_content {
   background: url(../images/news_mid_bluebox.jpg) repeat-y;
   width: 842px;
   height: auto;
   margin: 0;
   display: table;
}
.news_search_bottombox{
	background: url(../images/news_bot_bluebox.jpg) no-repeat;
    height: 15px;
    width: 842px;
}

.RadDataPager_Default {
    background: none repeat scroll 0 0 #EEEEEE;
    border-top: 1px solid #828282 !important;
	border-bottom:0px !important;
	border-left: 0px !important;
	border-right:0px !important;
    color: #333333;
    margin-top: 15px;
}


/*Theme Integration- Library page*/
.LibTop {
   background: url(../images/blubox_top2.gif) no-repeat;
   height: 15px;
   width: 175px;
   display: table;
}

.LibContent {
   background: url(../images/blubox_mid2.gif) repeat-y;
   width: 175px;
   height: auto;
   margin: 0;
   display: table;
}

.LibTxt {
   padding: 0 15px 0 15px;
}

.LibBot {
   background: url(../images/blubox_bot2.gif) no-repeat;
   height: 15px;
   width: 175px;
}

.expBox1R {
	height: auto;float: right; margin-left: 20px;
	width: 177px;
}

*+html .expBox1R {
	height: auto;float: right; margin-left: 23px;
	width: 177px;
}

/*MAPS Styles YPA 1-30-13*/
#MAPS_Year{
	font-size: 14px;
	color: #F58220;
	font-style: italic;
	margin-top:-10px;
}

.MAPS_Qs{
	color:#4e8396;
}

.GPRAarrow img:hover{
	cursor: hand; cursor: pointer;
}

/*Upcoming Events Styles YPA 10-4-12*/
.Events_subhead{
	color:#04564A !Important;
	padding-top:0px;
	margin-top:0px;
	font-size:16px;
}

/*Past Conferences Styles YPA 10-19-12*/
.pastconf_subsection{
	color:#F58220;
}

.pastconf_subtitle {
	color: #1f566a;
}

.pastconf_author{
	font-size:10px;
}

/*Home page styles*/
.home_layout1{
	float:left;
	width:70%;
}

.intro_txt{
	color: #016D61; 
	font-size: larger;
}

/*END of Home page styles*/

/*General styles*/

.clear
{
	clear:both;
}

.list_space li{
	margin-top:10px;
}

.img_frame{
	float: left; 
	margin-right: 8px;                     
	border: 1px solid #078576; 
	padding: 4px; 
	background: #fff;
}

.subtitle_green{
	font-size: 1.5em;
	font-weight: normal;
	color: #016C60;
}

/*About Us Styles YPA 12-5-12*/
#aboutUsimgs{
	margin-top:25px;
}

#aboutUsimgs img{
	margin-right:11px;
}

#aboutUsimgs img:last-child{
	margin-right:0px !important;
}

.aboutustxt{
	width:600px;
}

#AboutUsRbox{
	height:170px;
}

#FAQimg {
	float: left; 
	margin-right: 8px;
	margin-bottom: 5px;
	width:90px;
}

.AboutUs_expBoxR {
	height: auto;
	float: right; 
	margin-left: 5px;
	margin-right: 10px;
	width: 181px;
}

/*Home page section styles*/

.past_upcomingpgs
{
    background-image: url("../images/Bluegradient.jpg");
    width:320px;
    height:24px;
    text-align:right;
    padding-right:5px;
    line-height:24px;
}

.past_upcomingpgs img
{
    width:15px;
    height:15px;
    vertical-align:middle;
	border:0px;
}

/*YPA 1_11_13 FY 2013 Grantee Competition Ad- this is a space for general ads*/
.FY2013{
	background-image: url("../img/FY2013Ad.jpg");
	width:170px;
	height:425px;
	background-repeat:no-repeat;
	padding:25px;
	
}

*+html .FY2013 ul {
margin-left: 0;
display: block;
float: none;
}

/*YPA 3/11/13 New Flag for blueboxes*/
.new_flag{
	position:absolute;
	top:-30px;
	right:-35px;
}

.newflag {
  position:relative;
  margin:0;
  padding:0;
  display:inline-block;
}

/*YPA 3/12/13 TA Courses Styles*/

.left_img_frame{
	float: left; 
	margin-right: 18px;                     
	border: 1px solid #078576; 
	padding: 4px; 
	background: #fff;
}

.course_info{
	width:100%;
	height:140px;
	padding-top:10px;
}

.course_info_toolkit{
	width:100%;
	height:110px;
	padding-top:10px;
}



	
