﻿<%@ Page Title="MSAP: Introduction" Language="C#" MasterPageFile="~/modules/magnetsub.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" runat="Server">
    MSAP: Leverage Resources to Deepen Knowledge
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="Server">
    <!-- Style and Javascript here -->
    <script type="text/javascript">
        function PopWindows(divID, status, imageID, imageSrc) {
            if (status == 0)
                document.getElementById(divID).style.display = 'none'
            else
                document.getElementById(divID).style.display = 'block'
            document.getElementById(imageID).src = imageSrc;
        }
    </script>
	<link rel="stylesheet" type="text/css" media="screen" href="/modules/css/modules.css" />
	<link rel="stylesheet" type="text/css" media="print" href="/modules/css/print.css" />
	<script type="text/javascript" src="/modules/js/hoverbox_init.js"></script>
	<script type="text/javascript" src="/modules/js/showhide2.js"></script>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
<!-- MAIN CONTENT -->


<!-- Module Container -->
<div id="mod-container" class="mod2">

<img src="/modules/imgs/logo_print.gif" class="print" />

<h1><em>COURSE 2</em> Mapping the Magnet Theme Into the Curriculum
<a href="../admin/TA_courses.aspx"><img src="/modules/imgs/home_icon2.png"/></a>
</h1>

<!-- Inner -->
<div class="inner group">


<!-- Subnav -->
<div class="subnav">

<ul>
<li><a href="/modules/module2_intro.aspx">Introduction</a></li>
<li><a href="/modules/module2_groundwork_integration.aspx">Lesson 1:<br />Laying the Groundwork for Theme Integration</a></li>
<li><a href="/modules/module2_mapping_curriculum.aspx">Lesson 2:<br />Mapping Curriculum for a Coherent Program</a></li>
<li><a href="/modules/module2_scaling_strategy.aspx">Lesson 3:<br />Scaling the Strategy</a></li>
<li class="on"><a href="/modules/module2_leveraging_strategies.aspx">Lesson 4:<br />Leveraging Innovative Strategies</a>
	<ul>
	<li><a href="/modules/module2_leverage_resources.aspx" class="on">Leverage Resources to Deepen Knowledge</a></li>
	<li><a href="/modules/module2_expand_magnet_partners.aspx">Expand the Role of Magnet Partners</a></li>
	<li><a href="/modules/module2_pedagogical_approaches.aspx">Explore Pedagogical Approaches to Theme Integration</a></li>
	</ul>
</li>
<li><a href="/modules/module2_cycle_improvement.aspx">Lesson 5:<br />Instituting a Cycle of Improvement</a></li>
</ul>

<div class="vidpromo">
<span class="thumb"><img src="/modules/imgs/module2-promo_video.jpg" alt="Magnet Theme Mapping in Action Video" /></span>
<p><a href="/modules/downloads/module2_mappinginaction.mp4" target="_blank">Download our Magnet Theme Mapping in Action Video</a> (.mp4)</p>
<p class="note"><em>Requires <a href="http://www.apple.com/quicktime/download/" target="_blank">QuickTime</a></em></p>
</div>

</div>
<!-- Subnav end -->


<!-- Content -->
<div class="content">

<h2>Leverage Resources to Deepen Knowledge</h2>

<p>Teams have many professional resources they can tap to deepen their knowledge base on a theme-related topic or their understanding of how theme can be integrated in different content areas. Teachers may want real-world examples from experts in the field or opportunities to see firsthand how another class or magnet site is integrating the theme.</p>

<h3>Create Collaborative Opportunities</h3>

<p>As part of professional development, provide teacher teams with collaborative opportunities to: </p>

<ul class="collabOppor">
<li><strong>Observe</strong> how the theme is integrated into instruction in other classrooms or at other magnet sites for cross-pollination of ideas.</li>
<li><strong>Plan and learn</strong> with industry experts or professors/instructors from higher education to inform development of overarching questions or new areas of the curriculum.</li>
<li><strong>Cultivate</strong> relationships with external partners in the community. </li>
<li><strong>Exchange</strong> information on the Magnet Connector and with the program-level learning community, about how other magnet schools or teachers integrate theme into a particular topic or unit of instruction. </li>
<li><strong>Invite</strong> guest speakers to discuss resources, updates, ideas, or applications in theme-related fields.</li>
<li><strong>Meet</strong> with science, literacy, or math coaches, especially if they are from a different content area than that of the team.</li>
</ul>

<br clear="all" />

<!-- open/close -->
<div class="openclose">
<h3 class="showhide"><span class="flag"></span> LEADERSHIP TIP</h3>
<!-- child -->
<div class="showhide-child">
<p>Arrange for an offsite meeting between teachers and professionals or experts at an engineering firm, hospital, museum, theater, or other theme-relevant organization to gain new perspectives.</p>
</div>
<!-- child end -->
</div>
<!-- open/close end -->

<br clear="all" />









</div>
<!-- Content end -->

<br clear="all" />
<br clear="all" />

</div>
<!-- inner end -->


</div>
<!-- Module Container end -->



<!-- MAIN CONTENT end -->
</asp:Content>
