﻿<%@ Page Title="MSAP: Introduction" Language="C#" MasterPageFile="~/modules/magnetsub.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" runat="Server">
    MSAP: Lead New Teams Through Curriculum Mapping
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="Server">
    <!-- Style and Javascript here -->
    <script type="text/javascript">
        function PopWindows(divID, status, imageID, imageSrc) {
            if (status == 0)
                document.getElementById(divID).style.display = 'none'
            else
                document.getElementById(divID).style.display = 'block'
            document.getElementById(imageID).src = imageSrc;
        }
    </script>
	<link rel="stylesheet" type="text/css" media="screen" href="/modules/css/modules.css" />
	<link rel="stylesheet" type="text/css" media="print" href="/modules/css/print.css" />
	<script type="text/javascript" src="/modules/js/hoverbox_init.js"></script>
	<script type="text/javascript" src="/modules/js/showhide2.js"></script>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
<!-- MAIN CONTENT -->


<!-- Module Container -->
<div id="mod-container" class="mod2">

<img src="/modules/imgs/logo_print.gif" class="print" />

<h1><em>COURSE 2</em> Mapping the Magnet Theme Into the Curriculum
<a href="../admin/TA_courses.aspx"><img src="/modules/imgs/home_icon2.png"/></a>
</h1>

<!-- Inner -->
<div class="inner group">


<!-- Subnav -->
<div class="subnav">

<ul>
<li><a href="/modules/module2_intro.aspx">Introduction</a></li>
<li><a href="/modules/module2_groundwork_integration.aspx">Lesson 1:<br />Laying the Groundwork for Theme Integration</a></li>
<li><a href="/modules/module2_mapping_curriculum.aspx">Lesson 2:<br />Mapping Curriculum for a Coherent Program</a></li>
<li class="on"><a href="/modules/module2_scaling_strategy.aspx">Lesson 3:<br />Scaling the Strategy</a>
	<ul>
	<li><a href="/modules/module2_sharing_environment.aspx">Create a Sharing Environment</a></li>
	<li><a href="/modules/module2_lead_teams_curriculum_mapping.aspx" class="on">Lead New Teams Through Curriculum Mapping</a></li>
	<li><a href="/modules/module2_support_vertical_alignment.aspx">Support Vertical Alignment</a></li>
	<li><a href="/modules/module2_develop_overarching_questions.aspx">Develop Overarching Questions</a></li>
	</ul>
</li>
<li><a href="/modules/module2_leveraging_strategies.aspx">Lesson 4:<br />Leveraging Innovative Strategies</a></li>
<li><a href="/modules/module2_cycle_improvement.aspx">Lesson 5:<br />Instituting a Cycle of Improvement</a></li>
</ul>

<div class="vidpromo">
<span class="thumb"><img src="/modules/imgs/module2-promo_video.jpg" alt="Magnet Theme Mapping in Action Video" /></span>
<p><a href="/modules/downloads/module2_mappinginaction.mp4" target="_blank">Download our Magnet Theme Mapping in Action Video</a> (.mp4)</p>
<p class="note"><em>Requires <a href="http://www.apple.com/quicktime/download/" target="_blank">QuickTime</a></em></p>
</div>

</div>
<!-- Subnav end -->


<!-- Content -->
<div class="content">

<h2>Lead New Teams Through Curriculum Mapping</h2>

<p>Using the Pilot Team’s curriculum map as a starting point, and with support and guidance from the Facilitation Team, new grade-level and/or content-area teams will work through the process described in the lesson Mapping the Curriculum for a Coherent Program. </p>

<p>As you did with the Pilot Team, suggest that teams focus on mapping lessons from the same weeks of a marking period (e.g., Quarter 1, Weeks 4–8), and preferably the same weeks that the Pilot Team mapped. This will help them to recognize areas of overlap, gaps in skills instruction, or new opportunities for theme integration.</p>

<br clear="all" />

<!-- open/close -->
<div class="openclose">
<h3 class="showhide"><span class="thumbsup"></span> QUICK WIN</h3>
<!-- child -->
<div class="showhide-child">
<p>Refer to the implementation timeline (developed in the lesson on Laying the Groundwork) to determine how the theme integration is progressing. Give status reports to staff.</p>
</div>
<!-- child end -->
</div>
<!-- open/close end -->

<br clear="all" />

<!-- open/close -->
<div class="openclose">
<h3 class="showhide"><span class="flag"></span> LEADERSHIP TIP</h3>
<!-- child -->
<div class="showhide-child">
<p>Give teacher teams freedom to decide how to build on the curriculum map created by the Pilot Team. Reluctant teachers may want to connect to it very closely—scaffolding a skill or extending a concept—while other teachers may be ready to use it as a launching pad.</p>
</div>
<!-- child end -->
</div>
<!-- open/close end -->

<br clear="all" />









</div>
<!-- Content end -->

<br clear="all" />
<br clear="all" />

</div>
<!-- inner end -->


</div>
<!-- Module Container end -->



<!-- MAIN CONTENT end -->
</asp:Content>
