﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/magnetpub.master"
    CodeFile="newsdetail.aspx.cs" Inherits="newsdetail" %>

<asp:Content ID="Content3" ContentPlaceHolderID="title" runat="Server">
    MSAP - News
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <a name="skip"></a>
    <div class="msapHP_Content">
        <div runat="server" id="mainContent">
        </div>
        <div runat="server" id="videoContent">
        </div>
    </div>
</asp:Content>
