/*
Title:		CSS template for MSAP Modules
Author:		Jessie Johnson, jjohns@wested.org, WestEd
*/


/* Global
-------------------------------------------------------------------- */
#mod-container img.print {
	display: none;
	height: 0;
	margin: 0;
	padding: 0;
	}

#mod-container a:link, #mod-container a:visited {
	color: #F27F1F;
	text-decoration: underline;
	}
#mod-container a:hover, #mod-container a:active {
	color: #F27F1F;
	text-decoration: none;
	}	

#mod-container hr {
	clear: both;
	border: none 0;
	border-top: 1px solid #ccc;
	text-align: center;
	width: 100%;
	height: 1px;
	margin: 7px 0 7px 0;
	}

#mod-container blockquote {
	margin: 15px;
	}

/* self-clearing floats: add .group class to parents with floats */
#mod-container .group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;	
	visibility: hidden;
	}
#mod-container *:first-child+html .group { /* IE7 */
	min-height: 1px;
	}


/* Main and Inner Containers
-------------------------------------------------------------------- */
#mod-container {
	width: 816px;
	margin: 34px 0 -7px 0;
	padding: 12px;
	}
#mod-container.mod1 {
	background-color: #EBE5D0;
	}

#mod-container .inner {
	background: #fff;
	margin: 0;
	padding: 0;
	clear:both; /*YPA 3/14/13 added for home icon float (mod-container.mod2 h1 img)*/
	}


/* Subnav
-------------------------------------------------------------------- */
#mod-container .subnav {
	float: left;
	width: 190px;
	margin: 0;
	padding: 0;
	}
#mod-container .subnav ul {
	list-style: none;
	margin: 0 0 15px 0;
	padding: 0;
	}
#mod-container .subnav ul li {
	font-family: Helvetica, Arial;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	background: none;
	border-bottom: 1px solid #DAD5C5;
	margin: 0;
	padding: 0;
	}
#mod-container .subnav ul li a {
	display: block;
	color: #8B7B3C;
	text-decoration: none;
	margin: 0;
	padding: 10px;
	}
#mod-container .subnav ul li a:hover {
	color: #F58220;
	}
#mod-container .subnav ul li a.on {
	color: #F58220;
	font-weight: 800;
	}

#mod-container .subnav ul li.on a {
	border-left: 10px solid #f58220;
	}
#mod-container .subnav ul li.on li a {
	border: none;
	}

#mod-container .subnav ul ul {
	margin: 0 0 0 20px;
	padding: 0;
	}
#mod-container .subnav li li {
	background: url(/modules/imgs/arrow.png) no-repeat 0 7px;
	border: none;
	margin: 0;
	padding: 0 0 0 14px;
	}
#mod-container .subnav li li a {
	padding: 5px;
	}
#mod-container .subnav li li a.on {
	border: none;
	}

#mod-container .subnav ul ul ul {
	margin: 0 0 0 5px;
	padding: 0;
	}
#mod-container .subnav li li li {
	background: url(/modules/imgs/arrow.png) no-repeat 0 7px;
	border: none;
	margin: 0;
	padding: 0 0 0 14px;
	}
#mod-container .subnav li li li a {
	padding: 5px;
	}
#mod-container .subnav li li li a.on {
	border: none;
	}


/* Basics
-------------------------------------------------------------------- */
#mod-container .content {
	float: right;
	width: 580px;
	margin: 0 12px 0 20px;
	padding: 0;
	}	 

#mod-container h1 {
	font-size: 23px;
	line-height: 18px;
	font-weight: 800;
	color: #04776A;
	margin: 0 0 12px 0;
	padding: 0;
}
#mod-container h1 em {
	display: block;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	padding-bottom: 5px;
}
#mod-container h1 img{ /*YPA 3/14/13 for Home icon*/
	height:15px;
	width:15px;
	border:0px;
	padding-bottom:2px;
	margin:0px;	
	float:right;
}
#mod-container .content h2 {
	font-size: 19px;
	line-height: 18px;
	font-weight: 800;
	color: #04776A;
	border-bottom: 1px solid #DAD5C5;
	margin: 15px 0 12px 0;
	padding: 0 0 5px 0;
	}
#mod-container h2 em {
	display: block;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	padding-bottom: 5px;
	}
#mod-container .content h3 {
	font-size: 16px;
	line-height: 18px;
	font-weight: 800;
	color: #04776A;
	margin: 20px 0 7px 0;
	padding: 0;
	}
#mod-container .content h4 {
	font-size: 14px;
	line-height: 16px;
	font-weight: 800;
	color: #04776A;
	text-transform: uppercase;
	margin: 15px 0 5px 0;
	padding: 0;
	}
#mod-container .content p {
	font-size: 13px;
	line-height: 17px;
	font-weight: 400;
	color: #333;
	margin: 0 0 10px 0;
	padding: 0;
	}
	#mod-container .content a.doc {
	background: url(/modules/imgs/icon_file_doc.png) no-repeat 3px 0;
	padding-left: 23px;
	padding-bottom: 3px;
	*white-space:nowrap;
	*position:relative;/*YPA 7/13/12 added to fix IE7 issue with background img not showing when used on a multi line link*/
	}
	#mod-container .content a.pdf {
	background: url(/modules/imgs/icon_file_pdf.png) no-repeat 3px 0;
	padding-left: 23px;
	padding-bottom: 3px;
	padding-bottom: 3px;
	*white-space:nowrap;
	*position:relative;/*YPA 7/13/12 added to fix IE7 issue with background img not showing when used on a multi line link*/
	}

#mod-container .content ul {
	list-style: none;
	margin: 0 0 15px 10px;
	padding: 0;
	}
#mod-container .content ul li {
	font-size: 13px;
	line-height: 17px;
	color: #333;
	background: url(/modules/imgs/bullet.png) no-repeat 0 6px;
	margin: 0 0 5px 0;
	padding: 0 0 0 12px;
	}

#mod-container .content ul.res {
	margin-left: 5px;
	}
#mod-container .content ul li ul li {
	background: url(/modules/imgs/bullet2.png) no-repeat 0 6px;
	}
	
#mod-container .content ul.res li {
	background: none;
	line-height: 19px;
	}
	#mod-container .content ul.res li a {
	text-decoration: none;
	}
	#mod-container .content ul.res li a:hover {
	text-decoration: underline;
	}
#mod-container .content ul.res li.pdf {
	background: url(/modules/imgs/icon_file_pdf.png) no-repeat 0 2px;
	padding-left: 22px;
	}
#mod-container .content ul.res li.doc {
	background: url(/modules/imgs/icon_file_doc.png) no-repeat 0 2px;
	padding-left: 22px;
	}
#mod-container .content ul.res li.open {
	background: url(/modules/imgs/icon_open.png) no-repeat 0 2px;
	padding-left: 22px;
	}
#mod-container .content ol {
	margin: 0 0 15px 20px;
	padding: 0;
	}
#mod-container .content ol li {
	font-size: 13px;
	line-height: 17px;
	color: #333;
	margin: 0 0 5px 0;
	padding: 0;
	}


/* And the rest
-------------------------------------------------------------------- */
#mod-container .content img.photo {
	margin: 0 0 15px 0;
	padding: 0;
	}

#mod-container .content .colLeft {
	float: left;
	width: 365px;
	margin: 0 0 15px 0;
	padding: 0;
	}
#mod-container .content .colRight {
	float: right;
	width: 195px;
	margin: 0 0 15px 0;
	padding: 0;
	}
#mod-container .content .colRight .mod {
	border: 1px solid #DEEEE2;
	margin: 0;
	padding: 3px;
	}
#mod-container .content .colRight .mod-inner {
	-moz-box-shadow: inset 0 0 5px 2px #D5E9DA;
	-webkit-box-shadow: inset 0 0 5px 2px #D5E9DA;
	box-shadow: inset 0 0 5px 2px #D5E9DA;
	margin: 0;
	padding: 12px;
	}
#mod-container .content .colRight .mod h3 {
	font-size: 12px;
	line-height: 15px;
	font-weight: 800;
	color: #666;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding: 0;
	}
#mod-container .content .colRight .mod h3.modobj {
	background: url(/modules/imgs/icon_clipboard.png) no-repeat 0 0;
	padding-left: 37px;
	}
#mod-container .content .colRight .mod h3.obj {
	background: url(/modules/imgs/icon_clipboard.png) no-repeat 0 0;
	padding-top: 10px;
	padding-left: 37px;
	padding-bottom: 7px;
	}
#mod-container .content .colRight .mod h3.workers {
	background: url(/modules/imgs/icon_workers.png) no-repeat 0 0;
	padding-left: 37px;
	}
#mod-container .content .colRight .mod h3.toolsinst {
	background: url(/modules/imgs/icon_download_lg.png) no-repeat 0 0;
	padding-left: 37px;
	}
#mod-container .content .colRight .mod p {
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	color: #333;
	margin: 0 0 10px 0;
	padding: 0;
	}
#mod-container .content .colRight .mod ul {
	list-style: none;
	margin: 0 0 15px 10px;
	padding: 0;
	}
#mod-container .content .colRight .mod ul li {
	font-size: 12px;
	line-height: 16px;
	color: #333;
	background: url(/modules/imgs/bullet.png) no-repeat 0 6px;
	margin: 0 0 5px 0;
	padding: 0 0 0 12px;
	}
#mod-container .content .colRight .mod ul:last-child {
	margin-bottom: 0;
	}
#mod-container .content .colRight .mod ul li.doc {
	background: url(/modules/imgs/icon_file_doc.png) no-repeat 0 1px;
	padding-left: 23px;
	padding-bottom: 3px;
	}
#mod-container .content .colRight .mod ul li.pdf {
	background: url(/modules/imgs/icon_file_pdf.png) no-repeat 0 2px;
	padding-left: 22px;
	padding-bottom: 3px;
	}
#mod-container .content .colRight .mod ul li.vid {
	background: url(/modules/imgs/icon_file_vid.png) no-repeat 0 2px;
	padding-left: 22px;
	padding-bottom: 3px;
	}
#mod-container .content .colRight .mod hr {
	border-top: 1px solid #D8E2CB;
	}

/* Where would you like to start */
#mod-container .content .colLeft .wherestart {
	position: relative;
	width: 385px;
	height: 386px;
	background: url(/modules/imgs/start_bg.png) no-repeat 0 0;
	margin: -10px 0 0 0; /*YPA 7/11/12 changed from -20 to -10 for EI7 overlap above txt issue*/
	padding: 0;
	}
#mod-container .content .colLeft .wherestart h3 {
	text-align: center;
	padding-top: 35px; /*YPA 7/11/12 changed from 50px to 35px to fix IE7 issue*/
	}
#mod-container .content .colLeft .wherestart h3 span.inst {
	display: block;
	font-size: 11px;
	font-weight: 400;
	}
#mod-container .content .colLeft .wherestart ul {
	margin: 0;
	padding: 0;
	}
#mod-container .content .colLeft .wherestart ul li {
	position: absolute;
	font-size: 13px;
	font-weight: 400;
	background: none;
	margin: 0;
	padding: 0;
	}
	#mod-container .content .colLeft .wherestart ul li a {
	cursor: pointer;
	display: block;
	width: 155px;
	height: 30px;
	color: #8B7B3C;
	border: 1px solid #d5cfbd;
	text-align: center;
	background: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	margin: 0;
	padding: 8px 12px 12px 12px;
	}
	#mod-container .content .colLeft .wherestart ul li a:hover {
	background: #F4811F;
	color: #fff;
	text-decoration: none;
	border: 5px solid #fff;
	}
#mod-container .content .colLeft .wherestart ul li.lead {
	top: 103px;
	left: -10px;
	}
#mod-container .content .colLeft .wherestart ul li.assess {
	top: 103px;
	right: 20px;
	}
#mod-container .content .colLeft .wherestart ul li.integ {
	top: 170px;
	left: 80px;
	}
#mod-container .content .colLeft .wherestart ul li.lev {
	top: 237px;
	left: -10px;
	}
#mod-container .content .colLeft .wherestart ul li.conn {
	top: 237px;
	right: 20px;
	}
#mod-container .content .hbox {
    position: relative;
    }
#mod-container .content .hbox a {
	text-decoration: none;
    padding-bottom: 3px; /* increases hover area as child appears couple px below parent */
    }
#mod-container .content .hoverbox {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 9999;
	width: 220px;
	background: #fff;
	-moz-box-shadow: 0 0 12px 5px #FDE3CE;
	-webkit-box-shadow: 0 0 12px 5px #FDE3CE;
	box-shadow: 0 0 12px 5px #FDE3CE;
	margin: 0;
    padding: 15px;
    }
#mod-container .content .hoverbox p {
	margin: 0;
	padding: 0;
	}
#mod-container .content .hbox:hover .hoverbox,
#mod-container .content .hbox.hover .hoverbox {
    display: block;
    }
#mod-container .content .colLeft .wherestart ul li.lead .hoverbox {
	top: -20px;
	left: -260px;
	}
#mod-container .content .colLeft .wherestart ul li.lead .hoverbox .arrow {
     position: absolute;
     top: 12px;
     right: -19px;
     width: 19px;
     height: 72px;
     background: url(/modules/imgs/start_arrow_right.png) no-repeat 0 0;
     }
#mod-container .content .colLeft .wherestart ul li.assess .hoverbox {
	top: -20px;
	right: -260px;
	}
#mod-container .content .colLeft .wherestart ul li.assess .hoverbox .arrow {
     position: absolute;
     top: 12px;
     left: -19px;
     width: 19px;
     height: 72px;
     background: url(/modules/imgs/start_arrow_right.png) no-repeat 0 0;
     }
#mod-container .content .colLeft .wherestart ul li.integ .hoverbox {
	top: -20px;
	right: -260px;
	}
#mod-container .content .colLeft .wherestart ul li.integ .hoverbox .arrow {
     position: absolute;
     top: 12px;
     left: -19px;
     width: 19px;
     height: 72px;
     background: url(/modules/imgs/start_arrow_right.png) no-repeat 0 0;
     }
#mod-container .content .colLeft .wherestart ul li.lev .hoverbox {
	top: -20px;
	left: -260px;
	}
#mod-container .content .colLeft .wherestart ul li.lev .hoverbox .arrow {
     position: absolute;
     top: 12px;
     right: -19px;
     width: 19px;
     height: 72px;
     background: url(/modules/imgs/start_arrow_right.png) no-repeat 0 0;
     }
#mod-container .content .colLeft .wherestart ul li.conn .hoverbox {
	top: -20px;
	right: -260px;
	}
#mod-container .content .colLeft .wherestart ul li.conn .hoverbox .arrow {
     position: absolute;
     top: 12px;
     left: -19px;
     width: 19px;
     height: 72px;
     background: url(/modules/imgs/start_arrow_right.png) no-repeat 0 0;
     }

/* Two Column */
#mod-container .content .twoCol h4 {
	float: left;
	width: 70px;
	text-align: right;
	margin: 0 0 10px 0;
	padding: 0;
	*float: none; /* IE7 */
	*width: auto; /* IE7 */
	*text-align: left; /* IE7 */
	}
#mod-container .content .twoCol p {
	margin: 0 0 10px 80px;
	padding: 0;
	*margin-left: 0; /* IE7 */
	}

/* Open/Close Boxes */
#mod-container .content .openclose {
	margin: 10px 0 10px 0;
	padding: 0;
	}
#mod-container .content h3.showhide {
	z-index: 222;
	cursor: pointer;
	display: inline;
	position: relative;
	font-size: 12px;
	font-weight: 800;
	color: #F4811F;
	text-transform: uppercase;
	border: 1px solid #B9D6D3;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	background: url(/modules/imgs/arrow_sm_down.png) no-repeat right 11px;
	margin: 0;
	padding: 8px 25px 6px 43px;
	}
#mod-container .content h3.showhide.arrowClose {
	color: #0C7266;
	background: url(/modules/imgs/arrow_sm_up.png) no-repeat right 11px;
	padding-bottom: 18px;
	}
#mod-container .content h3 span.flag {
	position: absolute;
	top: -12px;
	left: 5px;
	width: 32px;
	height: 29px;
	background: url(/modules/imgs/icon_flag.png) no-repeat 0 0;
	z-index: 999; /*YPA 7/11/12 fixes IE8 flag being overlapped by border line*/
	}
#mod-container .content h3 span.thumbsup {
	position: absolute;
	top: -12px;
	left: 5px;
	width: 32px;
	height: 32px;
	background: url(/modules/imgs/icon_thumbsup.png) no-repeat 0 0;
	z-index: 999; /*YPA 7/11/12 fixes IE8 flag being overlapped by border line*/
	}
#mod-container .content h3 span.ast {
	position: absolute;
	top: -7px;
	left: 10px;
	width: 29px;
	height: 29px;
	background: url(/modules/imgs/icon_ast.png) no-repeat 0 0;
	}
#mod-container .content div.showhide-child {
	z-index: 333;
	position: relative;
	display: none;
	background: #F2F8F4;
	border: 1px solid #B9D6D3;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;  
    border-bottom-left-radius: 10px;  
    border-bottom-right-radius: 10px;  
	margin: 0 0 15px 0;
	padding: 10px 15px 5px 15px;
	}
#mod-container .content div.showhide-child .twoCol h4 {
	float: left;
	width: 35px; /*YPA 7/11/12 to fix wrap around*/
	margin: 0;
	padding: 0;
	*float: none; /* IE7 */
	*width: auto; /* IE7 */
	}
#mod-container .content div.showhide-child .twoCol p {
	margin: 0 0 7px 40px;
	padding: 0;
	*margin-left: 0; /* IE7 */
	}
#mod-container .content div.showhide-child .twoCol hr {
	border-top: 1px solid #c6dedb;
	}
/* Intro */
#mod-container .colRight .impcon h3.showhide {
	-moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;  
	padding-right: 42px;
	}
#mod-container .colRight .impcon div.showhide-child {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;  
	}
#mod-container .colRight .impcon div.showhide-child ul {
	margin-left: 0;
	}

/* Open/Close Vertical (set height inline) */
#mod-container .content .tabsvert {
	position: relative;
	border-top: 1px solid #f8b784;
	margin: 20px 0 10px 0;
	padding: 0;
	}
#mod-container .content .tabsvert ul {
	position: relative;
    margin: -1px 0 0 0;
    padding: 0;
    }
#mod-container .content .tabsvert ul li {
    list-style: none;
	background: none;
    margin: 0;
    padding: 0;
    }
#mod-container .content .tabsvert ul li a {
	display: block;
	width: 166px; /*changed from 171px to 166px to deal with EI7 and 8*/
	text-decoration: none;
	outline: none;
	margin: 0;
	padding: 7px 7px 5px 7px;
	}
#mod-container .content .tabsvert ul li.parent.open a {
	border: 1px solid #f8b784;
	background: #faf2e0 url(/modules/imgs/arrow_sm_right.png) no-repeat right 10px;
	}
#mod-container .content .tabsvert ul.child {
    display: none;
	}
#mod-container .content .tabsvert ul.parent.open .child {
    display: block;
    }
#mod-container .content .tabsvert ul.child.open {
    display: block;
	}
#mod-container .content .tabsvert ul ul {
	width: 350px;
	position: absolute;
	top: 8px;
	left: 215px;
    margin: 0 0 0 10px;
    padding: 0;
    }
#mod-container .content .tabsvert li li {
    list-style: none;
	background: url(/modules/imgs/bullet.png) no-repeat 0 6px;
    margin: 0 0 8px 0;
    padding: 0 0 0 12px;
    }
#mod-container .content .tabsvert h3 {
	position: absolute;
	font-size: 12px;
	font-weight: 400;
	color: #797979;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	}
#mod-container .content .tabsvert h3#org {
	top: -23px;
	left: 2px;
	}
#mod-container .content .tabsvert h3#part {
	top: -23px;
	left: 210px;
	}
/* Defines no bullet version */
#mod-container .content .tabsvert.nb li li {
	background: none;
	}
#mod-container .content .tabsvert.nb li li a,
#mod-container .content .tabsvert.nb ul li.parent.open li a {
	display: inline;
	background: none;
	border: none;
	text-decoration: underline;
	margin: 0;
	padding: 0;
	}
#mod-container .content .tabsvert.nb li li a:hover,
#mod-container .content .tabsvert.nb ul li.parent.open li a:hover {
	text-decoration: none;
	}
#mod-container .content .tabsvert.nb li li h4 {
	font-size: 12px;
	font-weight: 800;
	color: #797979;
	text-transform: uppercase;
	margin: 2px 0 2px 0;
	padding: 0;
	}

/* Download */
#mod-container .content p.download {
	display: inline;
	font-size: 12px;
	font-weight: 800;
	border: 1px solid #F3A96E;
	background: #F8F0D8;
	margin: 0;
	padding: 5px;
	}
	#mod-container .content p.download a {
	background: url(/modules/imgs/icon_download.png) no-repeat 0 0;
	padding-left: 20px;
	}
#mod-container .content p.download span.type {
	font-weight: 400;
	}

/* Blockquote */
#mod-container .content blockquote {
	margin: 15px 0 10px 0;
	padding: 0;
	}
#mod-container .content blockquote p {
	margin: 0;
	padding: 0 12px 12px 22px;
	}
#mod-container .content blockquote strong {
	font-size: 12px;
	font-weight: bold;
	color: #006C5F;
	text-transform: uppercase;
	background: #e2f0eb url(/modules/imgs/icon_star.png) no-repeat 5px 1px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	padding: 4px 8px 2px 25px;
	}
#mod-container .content blockquote.question strong {
	background: #e2f0eb url(/modules/imgs/icon_question.png) no-repeat 5px 1px;
	}

/* Tabs */
#mod-container .content .tabs {
	height: 25px;
	border: 1px solid #F3A96D; 
	margin: 0 0 10px 0;
    padding: 0;
    }
#mod-container .content .tabs ul {
    list-style: none;
    display: inline;
	margin: 0;
	padding: 0;
    }
#mod-container .content .tabs ul li {
    display: inline;
    background: none;
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 0;
    }
	#mod-container .content .tabs ul li a {	
    float: left;
    display: block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 4px 10px 4px 10px;
    }
    #mod-container .content .tabs ul li a:hover {
    background-color: #F8F0D8;
    }
    #mod-container .content .tabs ul li a.on {
	background: #F8F0D8 url(/modules/imgs/arrow_sm_down.png) no-repeat right 10px;
	padding-right: 25px;
	border-left: 1px solid #F3A96D; 
	border-right: 1px solid #F3A96D; 
	}
    #mod-container .content .tabs ul li:first-child a.on {
	border-left: none;
	}
/* Show/Hide */
#mod-container .content .itemB,
#mod-container .content .itemC,
#mod-container .content .itemD {
    display: none;
    }
#mod-container .content .itemA,
#mod-container .content .itemB,
#mod-container .content .itemC,
#mod-container .content .itemD {
	border-bottom: 1px solid #F3A96D; 
	padding-bottom: 30px;
	}
#mod-container .content .itemA img,
#mod-container .content .itemB img,
#mod-container .content .itemC img,
#mod-container .content .itemD img {
	float: left;
	margin: 0;
	padding: 0 25px 0 15px;
	}
#mod-container .content .itemA h4,
#mod-container .content .itemB h4,
#mod-container .content .itemC h4,
#mod-container .content .itemD h4 {
	text-indent: -9999px;
	height: 0;
	margin: 0;
	padding: 0;
	}






/* TABLES
-------------------------------------------------------------------- */
table.data {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 15px 0 15px 0;
	}
table.data thead {
	border: 1px solid #B8D6D3;
	}
table.data th {
	font-size: 13px;
	font-weight: 800;
	color: #006C5F;
	text-align: left;
	vertical-align: bottom;
	padding: 7px;
	}
table.data td {
	font-size: 13px;
	font-weight: 400;
	color: #333;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #CAE0DE;
	padding: 7px;
	}
table.data td.alignRight {
	text-align: right;
	}
table.data td.alignCenter {
	text-align: center;
	}



/* Mod 2
-------------------------------------------------------------------- */
#mod-container.mod2 {
	background-color: #f8e7c2;
}
/*Original color*/
/*#mod-container.mod2 {
	background-color: #fde8b5;
}*/

.clear{
	clear:both;
	display:hidden;
}
/* Headers */
#mod-container.mod2 h1,
#mod-container.mod2 h2,
#mod-container.mod2 h3,
#mod-container.mod2 h4 {
	color: #016da8;
	}
#mod-container.mod2 h1 img{ /*YPA 3/14/13 for Home icon*/
	height:15px;
	width:15px;
	border:0px;
	padding-bottom:2px;
	margin:0px;	
	float:right;
}

/*Footers*/
#mod-container #footer_note{
	text-align:right;
	width:507px;	
	height:0px;
	padding:0px;
	float:right;
}
/* Inline tooltip */
#mod-container.mod2 .content p .hbox a {
	cursor: pointer;
	color: #333;
	text-decoration: underline;
	background: url(/modules/imgs/module2-icon_info.png) no-repeat right 0;
	padding-right: 20px;
	}
#mod-container.mod2 .content p .hbox a:hover {
	text-decoration: none;
	background-color: #DFEDEB;
	}
#mod-container.mod2 .content p .hoverbox {
    top: -20px;
    right: -260px;
    z-index: 9999;
	width: 220px;
	background: #fff;
	-moz-box-shadow: 0 0 12px 5px #DFEDEB;
	-webkit-box-shadow: 0 0 12px 5px #DFEDEB;
	box-shadow: 0 0 12px 5px #DFEDEB;
	}

/* Intro tooltip */
#mod-container.mod2 .content .colLeft .wherestart ul li a {
	height: 50px;
	}
#mod-container.mod2 .content .colLeft .wherestart ul li.l3 a {
	height: 35px;
	}
#mod-container.mod2 .content .colLeft .wherestart ul li.l1 {
	top: 103px;
	left: -10px;
	}
#mod-container.mod2 .content .colLeft .wherestart ul li.l2 {
	top: 103px;
	right: 20px;
	}
#mod-container.mod2 .content .colLeft .wherestart ul li.l3 {
	top: 185px;
	left: 80px;
	}
#mod-container.mod2 .content .colLeft .wherestart ul li.l4 {
	top: 252px;
	left: -10px;
	}
#mod-container.mod2 .content .colLeft .wherestart ul li.l5 {
	top: 252px;
	right: 20px;
	}
#mod-container.mod2 .content .colLeft .wherestart ul li.l1 .hoverbox {
	top: -5px;
	left: -260px;
	}
#mod-container.mod2 .content .colLeft .wherestart ul li.l1 .hoverbox .arrow {
     position: absolute;
     top: 12px;
     right: -19px;
     width: 19px;
     height: 72px;
     background: url(/modules/imgs/start_arrow_right.png) no-repeat 0 0;
     }
#mod-container.mod2 .content .colLeft .wherestart ul li.l2 .hoverbox {
	top: -10px;
	right: -260px;
	}
#mod-container.mod2 .content .colLeft .wherestart ul li.l2 .hoverbox .arrow {
     position: absolute;
     top: 12px;
     left: -19px;
     width: 19px;
     height: 72px;
     background: url(/modules/imgs/start_arrow_right.png) no-repeat 0 0;
     }
#mod-container.mod2 .content .colLeft .wherestart ul li.l3 .hoverbox {
	top: -20px;
	right: -260px;
	}
#mod-container.mod2 .content .colLeft .wherestart ul li.l3 .hoverbox .arrow {
     position: absolute;
     top: 12px;
     left: -19px;
     width: 19px;
     height: 72px;
     background: url(/modules/imgs/start_arrow_right.png) no-repeat 0 0;
     }
#mod-container.mod2 .content .colLeft .wherestart ul li.l4 .hoverbox {
	top: -5px;
	left: -260px;
	}
#mod-container.mod2 .content .colLeft .wherestart ul li.l4 .hoverbox .arrow {
     position: absolute;
     top: 12px;
     right: -19px;
     width: 19px;
     height: 72px;
     background: url(/modules/imgs/start_arrow_right.png) no-repeat 0 0;
     }
#mod-container.mod2 .content .colLeft .wherestart ul li.l5 .hoverbox {
	top: -5px;
	right: -260px;
	}
#mod-container.mod2 .content .colLeft .wherestart ul li.l5 .hoverbox .arrow {
     position: absolute;
     top: 12px;
     left: -19px;
     width: 19px;
     height: 72px;
     background: url(/modules/imgs/start_arrow_right.png) no-repeat 0 0;
     }

/* Video */
#mod-container.mod2 .content .video {
	width: 350px;
	background: #f3f8f4;
	border: 1px solid #bcd6d3;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
	margin: 5px 0 15px 0;
	padding: 15px;
	}
#mod-container.mod2 .content .video .vid {
	position: relative;
	width: 350px;
	height: 262px;
	margin: 5px 0 0 0;
	padding: 0;
	}
#mod-container.mod2 .content .video .vid span {
	position: absolute;
	top: 100px;
	left: 150px;
	background: url(/modules/imgs/module2-video_play.png) no-repeat 0 0;
	width: 48px;
	height: 48px;
	}
#mod-container.mod2 .content .video p.transcript {
	font-size: 11px;
	text-align: center;
	margin: 7px 0 0 0;
	padding: 0;
	}

#mod-container.mod2 .content ul.collabOppor li strong {
	color: #016DA8;
	font-size: 14px;
	}

/* Promo */
#mod-container.mod2 .content .promo {
	width: 370px;
	background: #f3f8f4;
	border: 1px solid #bcd6d3;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
	margin: 20px 0 15px 0;
	padding: 15px;
	}
#mod-container.mod2 .content .promo .thumb {
	float: left;
	width: 90px;
	height: 102px;
	margin: 0 10px 0 0;
	padding: 0;
	}
#mod-container.mod2 .content .promo p.dl {
	margin: 15px 0 15px 0;
	padding: 0;
	}
	#mod-container.mod2 .content .promo p.dl a {
	text-decoration: underline;
	background: #fff url(/modules/imgs/icon_file_pdf.png) no-repeat 5px 3px;
	border: 1px solid #f3a96d;
	margin: 0;
	padding: 5px 10px 5px 25px;
	}
	#mod-container.mod2 .content .promo p.dl a:hover {
	text-decoration: underline;
	background-color: #f8f0d8;
	}

/* video promo */
#mod-container .subnav .vidpromo {
	background: #f3f8f4;
	border: 1px solid #bcd6d3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	margin: 40px 10px 15px 10px;
	padding: 15px;
	}
#mod-container .subnav .vidpromo .thumb {
	width: 135px;
	height: 101px;
	margin: 0;
	padding: 0;
	}
#mod-container .subnav .vidpromo p {
	margin: 10px 0 5px 0;
	padding: 0;
	}
#mod-container .subnav .vidpromo p.note {
	font-size: 11px;
	margin: 0;
	padding: 0;
	}




















