body { 
	margin: 0;
	padding: 0;
	background: #fff;
	color: #000;
	font: normal 13px/16px Arial, sans-serif;
	}

a:link, a:visited {
	color: #000;
	text-decoration: none;
	}

.msapHdr,
#msapMenu,
.msap_Footer,
.subnav {
	display: none !important;
	}

.tabs {
	display: none;
	}

#mod-container .content .itemA,
#mod-container .content .itemB,
#mod-container .content .itemC,
#mod-container .content .itemD {
	position: relative;
	}
#mod-container .content .itemA img,
#mod-container .content .itemB img,
#mod-container .content .itemC img,
#mod-container .content .itemD img {
	display: none;
	height: 0;
	margin: 0;
	padding: 0;
	}
#mod-container .content .itemA h4,
#mod-container .content .itemB h4,
#mod-container .content .itemC h4,
#mod-container .content .itemD h4 {
	margin: 0 0 3px 0;
	padding: 0;
	}

h3#org,
h3#part {
	display: none;
	}

#mod-container {
	width: 650px;
	margin-top: 0;
	}
#mod-container img.print {
	display: relative;
	width: 254px;
	height: 91px;
	margin: 0 0 15px 0;
	padding: 0;
	}

.inner {
	border-top: 2px solid #ccc;
	padding-top: 20px;
	}

.inner img {
	margin-bottom: 7px;
	}

.openclose {
	border-top: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	padding: 10px 0 10px 0;
	}
.openclose h3 {
	margin-bottom: 7px;
	}

h1 {
	font-size: 18px;
	font-weight: bold;
	color: #000;
	margin: 0 0 10px 0;
	padding: 0;
	}
h1 em {
	display: block;
	font-size: 14px;
	color: #ccc !important;
	font-style: normal;
	padding-bottom: 5px;
	}
h2 {
	font-size: 15px;
	font-weight: bold;
	color: #000;
	margin: 0 0 10px 0;
	padding: 0;
	}
h2 em {
	display: block;
	font-size: 12px;
	color: #ccc;
	font-style: normal;
	text-transform: uppercase;
	padding-bottom: 5px;
	}
h3 {
	font-size: 13px;
	font-weight: bold;
	color: #000;
	margin: 0;
	padding: 0;
	}
p {
	font-size: 13px;
	margin: 0 0 10px 0;
	padding: 0;
	}
ul, ol {
	margin: 10px 0 10px 30px;
	padding: 0;
	}
li {
	font-size: 13px;
	padding: 0 0 10px 0;
	}