@import "jquery/jquery-ui.css";

.yafnet {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3B3b3b;
}
.yafnet td {
	font-family: sans-serif, Helvetica, Arial;
	font-size: 11px;
	color: #3b3b3b;
}
.yafnet input,
.yafnet select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #3b3b3b;	
	background-color: #FFFFFF;
	border: 1px solid #E3E3E3;	
}
.yafnet img {
	border: 0;
}
.yafnet ul {
	margin: 2px 2px 2px 2px;
	padding: 0;
}
.yafnet li {
	margin-left: 15px;
}
.yafnet tr.header1 {	
	background-image: url('titleBack.png');
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	font-size: 11pt;
}
.yafnet tr.header1 a {
	color: #ffffff;
	text-decoration: none;
}
.yafnet tr.header1 a:hover {
	color: #eeffee;
	text-decoration: underline;
}	
.yafnet td.header1 {
	background-image: url('titleBack.png');
	/*background-color: #66a262;*/
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	font-size: 15px;
	line-height: 30px;
}	
.yafnet .header1Title {
	background-image: url('titleBack.png');
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;	
	font-size: 15px;
	line-height: 30px;
}
.yafnet tr.header2 {
	background-color: #e3e3e3;
	color: #55a055;
	font-weight: bold;
}
.yafnet td.header2 {
	background-color: #e3e3e3;
	color: #5555a0;
	font-weight: bold;
}
.yafnet a.header2 { height: auto; background-color: Transparent; border-style: none; background-image: none; }
.yafnet td.header2 a { color: #000090; text-decoration: none; }
.yafnet td.header2 a:link { color: #7f7f7f; text-decoration: none; }
.yafnet td.header2 a:visited { color: #7f7f7f; text-decoration: none; }
.yafnet td.header2 a:active { color: #7f7f7f; text-decoration: none; }
.yafnet td.header2 a:hover { color: #7f7f7f; text-decoration: underline; }
.yafnet td.infoTable {
	background-color: #FAFAFA;
	padding: 10px;
	border: 1px solid #F2F2F2;
}
/* all links */
.yafnet .content a			{ color: #001090; text-decoration: none; }
.yafnet .content a:hover	{ color: #001090; text-decoration: underline; }
/* Footer1 - Bottom of tables */
.yafnet .footer1 {
	font-size: 7pt;
	height: 28px;
	background-color: #f4f4f4;
}
.yafnet .footer1 select,
.yafnet .footer1 td {
	font-size: 10px;
}
.yafnet .forumheading {
	font-size: 9pt;
	font-weight: bold;
}
.yafnet a.post_link
{
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
}
/* Header of posts */
.yafnet .postheader {
	background-color: #f0f0f0;
}
.yafnet .postheader a {
	font-size: 11pt;
	color: Black;	
}
/* User info and post/article */
.yafnet .post {
	background-color: #F5F5F5;
}
.yafnet .post_alt {
	background-color: #FaFaFa;
}
.yafnet tr.post:hover {
	background-color: #FFFFFF;	
}
.yafnet tr.post_alt:hover {
	background-color: #FFFFFF;	
}
/* Footer of posts */
.yafnet .postfooter {
	background-color: #cdcdcd;
}
/* Area between posts */
.yafnet .postsep {
	background-color: #575757;
	height: 10px;
}
/* most tables are class 'content' */
.yafnet table.content {
	border: solid 1px #777777;
	padding: 0px;
	margin: 0px;
	color: #000000;
	border-collapse: collapse;
}
.yafnet .postformheader {
	background-color: #EEEEEE;
	font-weight:bold;
}
.yafnet .fileattach {
	padding: 5px;
	background-color: #eeeeee;
	border: solid 1px #808080;
}
.yafnet .fileattach .filetitle,
.yafnet .fileattach .imgtitle {
	font-weight: bold;
	color: #444444;
	margin-bottom: 5px;
	font-size: 1.1em;
}
.yafnet .fileattach .attachedimg,
.yafnet .fileattach .attachedfile {
	margin-left: 10px;
}
.yafnet .fileattach a {
	font-weight: bold;
}
.yafnet table.content td {
	padding: 5px;
}
.yafnet .content td table td table td {
	padding: 0px;	
}
.yafnet .content .headersub {
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	font-size: 15px;
	line-height: 30px;	
}
/* used for quoting messages */
.yafnet .quote {
	padding-left: 16px;
	margin: 5px;
}
.yafnet .innerquote {
	padding: 4px;
	background-color: #fefefe;
	border: 1px dashed #808080;
}
/* used for code */
.yafnet .code {
	padding-left: 16px;	
	margin: 5px;
}
.yafnet .innercode {
	padding: 4px;
	background-color: #efefef;
	border: solid 1px #808080;
	color: #000000;
	line-height: 1.3em;
	font-family: "courier new", "times new roman", monospace;
    overflow: scroll;
    width: 600px;
	white-space: nowrap;
}
/* font sizes */
.yafnet .smallfont	{ font-size: 10px; }
.yafnet .largefont	{ font-size: 11px; }
/* Image Links */
.yafnet a.imagelink {
	font-weight: bold;
	color: #000000;
}
.yafnet a:hover.imagelink {
	text-decoration: none;
	/*background-color: #D0D0D0;*/
}
/* Used for editor textarea */
.yafnet .posteditor {
	width: 100%;
	height: 200px;
}
/* p-tag at the top of pages with navigation links */
.yafnet .navlinks { font-weight: bold; color: #000000; }
.yafnet .navlinks a { color: #000000; text-decoration: none }
.yafnet .navlinks a:hover {color: #666666; }
/* for printing */
.yafnet table.print {
	border: solid 1px #C0C0C0;
}
.yafnet .printheader {
	background-color: #DDDDDD;
	color: #000000;
	padding: 4px;
}
.yafnet .printbody {
	background-color: #FFFFFF;
	color: #000000;
	padding: 4px;
}
.yafnet .pbutton {
	background-color: #3B3B3B;
	font-size: 10px;
	color: #FFFFFF;
	border: none;
	font-weight: bold;
}
.yafnet .textfield {
	background-color: #FFFFFF;
	border: 1px solid #3B3b3b;
	width: 100%;
}
.yafnet .ButtonOut {
	border: #669966 1px solid;
}
.yafnet .ButtonOver {
	border: #000000 1px solid;
	background-color: #ffffff;
}
.yafnet .ButtonChecked {
	border: #000000 1px solid;
}
.yafnet .ButtonOff {
	border: #669966 1px solid;
}
.yafnet #bbcodeFeatures {
	border: #eeffee 1px solid;
}
/*
Use this to setup overflow feature for your site.
On IE that would mean specifying a width so that the overflow will work properly.
This CSS already works on FireFox.
*/
.yafnet div.postdiv {
	width: 100%;
	min-height: 100px;
	overflow: auto;	
}
.yafnet div.yafsignature
{
	border-top: solid 1px #666666;
	margin-top: 15px;
	padding-top: 5px;
}
/* CSS Pagelinks */
.yafnet .yafpager {
	color: #555555;
	margin: 6px 0px 6px 0px;
}
.yafnet .pagelink,
.yafnet .pagelinkfirst,
.yafnet .pagelinklast,
.yafnet .pagecurrent,
.yafnet .pagecount{
	background: #F5F5F5;
	border: 1px solid #444444;
	padding: 1px 3px 1px 3px;
	margin-right: 2px;
}
.yafnet .pagecount {
	margin-right: 5px;
}
.yafnet .pagelinkfirst,
.yafnet .pagelinklast{
	background: #e0e0e0;
}
.yafnet .pagecurrent{
	background: #dddddd;
}
.yafnet .pagelink a,
.yafnet .pagelinkfirst a,
.yafnet .pagelinklast a {
	text-decoration: none;
	color: #000090;
}
/* CCS Buttons */
.yafnet a.yaflittlebutton {
	background: transparent url('ButtonEnd.gif') no-repeat scroll top right;
    color: #ffffff;
    display: block;
    float: right;
	font-size: 8px; 
    height: 18px;
    margin: 2px 0px 2px 2px;
    padding-right: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
}
.yafnet a.yaflittlebutton span {
    background: transparent url('ButtonBack.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 4px 3px 4px 5px;
}
.yafnet a.yaflittlebutton img {
	vertical-align: middle;
	padding: 0px 4px 2px 0px;
}
.yafnet a.yaflittlebutton:hover {
	color: #ffffff;
	text-decoration: none;
}
.yafnet a.yaflittlebutton:active {
    background-position: bottom right;
    outline: none;
}
.yafnet a.yaflittlebutton:active img {
    padding: 0px 4px 2px 0px;
}
.yafnet a.yaflittlebutton:active span{
    background-position: bottom left;
    padding: 5px 3px 3px 5px;
}
.yafnet a.yafcssbigbutton{
    background: transparent url('ButtonEnd.gif') no-repeat scroll top right;
    color: #ffffff;
    display: block;
	font-size: 8px; 
    height: 18px;
    margin: 2px 0px 2px 2px;
    padding-right: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
}
.yafnet a.yafcssbigbutton span{
    background: transparent url('ButtonBack.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 4px 10px 4px 12px;
}
.yafnet a.yafcssbigbutton img{
	vertical-align: top;
	padding: 0px 4px 0px 0px;
}
.yafnet a.yafcssbigbutton:active{
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
}
.yafnet a.yafcssbigbutton:active img{
    padding: 0px 4px 0px 0px;
}
.yafnet a.yafcssbigbutton:active span{
    background-position: bottom left;
    padding: 5px 10px 3px 12px; /* push text down 1px */
}
/* css image button */
.yafnet a.yafcssimagebutton{
    background: transparent url('ButtonEndB.gif') no-repeat scroll top right;
    color: #ffffff;
    display: block;
    float: left;
	font-size: 10px; 
    height: 18px;
    margin: 2px 0px 2px 2px;
    padding-right: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
}
.yafnet a.yafcssimagebutton span{
    background: transparent url('ButtonBackB.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 2px 6px 2px 8px;
}
.yafnet a.yafcssimagebutton img{
	vertical-align: top;
	padding: 0px 4px 0px 0px;
}
.yafnet a.yafcssimagebutton:hover{
	text-decoration: none;
	color: #eeee00;
}
.yafnet a.yafcssimagebutton:active{
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
}
.yafnet a.yafcssimagebutton:active img{
    padding: 0px 4px 0px 0px;
}
.yafnet a.yafcssimagebutton:active span{
    background-position: bottom left;
    padding: 3px 6px 1px 8px; /* push text down 1px */
}
/* CSS Popupmenu */
.yafnet .yafpopupmenu {
	background-color: #ffffff;
	border: solid 1px #333333;
	
}
.yafnet .yafpopupmenu ul {	
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.yafnet .yafpopupmenu li {
	padding: 5px 10px 5px 10px;
	margin: 0;
}
.yafnet .yafpopupmenu li.popupitemhover {
	background-color: #cccccc;
}
/* ajax tabs */
.yafnet .ajax__tab_yaf .ajax__tab_header 
{
    font-family:"Helvetica Neue", Arial, Sans-Serif;
    background:url(tab-line.png) repeat-x bottom;
    font-size:12px;
    display:block;
}
.yafnet .ajax__tab_yaf .ajax__tab_header .ajax__tab_outer 
{
    background:url(tab.png) no-repeat left top;
    border-color:#222;
    color:#222;
    padding-left:10px;
    margin-right:3px;
}
.yafnet .ajax__tab_yaf .ajax__tab_header .ajax__tab_inner 
{
    background:url(tab.png) no-repeat right top;
    border-color:#666;
    color:#666;
    padding:3px 10px 2px 0px;
}
.yafnet .ajax__tab_yaf .ajax__tab_hover .ajax__tab_inner 
{
    color:#000000;
}
.yafnet .ajax__tab_yaf .ajax__tab_active .ajax__tab_outer 
{
    background:url(tab.png) no-repeat 0pt -40px;
    border-bottom-color:#ffffff;
}
.yafnet .ajax__tab_yaf .ajax__tab_active .ajax__tab_inner 
{
    background:url(tab.png) no-repeat right -40px;
    color:#000000;
    border-color:#333
}
.yafnet .ajax__tab_yaf .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:8px;
    background-color:#ffffff;
    border:solid 1px #d7d7d7;
    border-top-width:0;
}

/* scrolling */
.yafnet .ajax__scroll_horiz {overflow-x:scroll;}
.yafnet .ajax__scroll_vert {overflow-y:scroll;}
.yafnet .ajax__scroll_both {overflow:scroll}
.yafnet .ajax__scroll_auto {overflow:auto}

/*Modal Popup*/
.modalBackground
{
	background-color:#000;
	filter:alpha(opacity=80);
	opacity:0.8;
}

.modalPopup
{
	background-color: #ffffff;
	border: solid 1px #aaaaaa;
	width: 400px;
}

.modalPopup .modalBase
{

}

.modalPopup .modalHeader
{
	background-image: url('titleBack.png');
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	font-size: 15px;
	line-height: 30px;
}

.modalPopup .modalInner
{
	padding: 10px;
	text-align:center;
}

.modalPopup .modalInnerMain
{
	font-size: 9pt;
	font-weight: bold;
	color: #992222;
	text-align: center;
}

.modalPopup .modalInnerSub
{
	font-size: 8pt;
	color: #333333;
	text-align: center;
}

.modalPopup .modalFooter
{
	padding: 5px;
	background-color: #f4f4f4;	
	line-height: 20px;
}

.modalPopup .modalFooter input
{
	display:block;
	vertical-align: middle;
	margin:0 auto;
}

/* Goto Page Form */
.gotoPageForm
{
	background-color: #f0f0f0;
	border: solid 1px #555555;
	width: 76px;
	margin: 1px;			
}
.gotoPageForm .gotoBase
{
	border: solid 1px #ffffff;
}
.gotoPageForm .gotoHeader
{
	background-image: url('titleBack.png');
	color: #ffffff;
	font-weight: bold;	
	padding: 2px;	
}
.gotoPageForm .gotoInner
{
	padding: 2px;
}
.gotoPageForm .gotoInner input
{
	margin: 2px;
}