﻿<%@ Page Title="" Language="C#" AutoEventWireup="true" CodeFile="surveyp6.aspx.cs"
    Inherits="survey_surveyp6" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>MSAP Principal Survey (Web-based) </title>
    <link href="~/css/msapMain.css" rel="stylesheet" type="text/css" />
    <link href="~/css/extra.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function checkWordLen(obj, wordLen, cid) {
            var len = obj.value.split(/[\s]+/);
            $("#" + cid).val(len.length.toString());
            if (len.length > wordLen) {
                alert("You've exceeded the " + wordLen + " word limit for this field!");
                obj.value = obj.SavedValue;
                len = obj.value.split(/[\s]+/);
                $("#" + cid).val(len.length.toString());
                return false;
            } else {
                obj.SavedValue = obj.value;
            }
            return true;
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <asp:HiddenField ID="hfUserID" runat="server" />
    <div class="msapWrap">
        <div class="msapHold">
            <div class="msapHdr">
                <a href="http://www.msapcenter.com">
                    <h1>
                    </h1>
                </a>
            </div>
            <div style="margin-top: 10px; margin-bottom: 10px;">
                <div style="display: none;">
                    <iframe id="KeepAliveFrame" src="KeepSessionAlive.aspx" frameborder="0" width="0"
                        height="0" runat="server"></iframe>
                </div>
                
                   <p style=" color: #063; font-size:16px" > <strong>Technical assistance:<br />
                        <br />
                      <p style="font-size:12px"> <strong> 7. What are your top three technical assistance needs or concerns? </strong></p>
                </p>
                <table width="100%">
                    <tr>
                        <td>
                          <p style="font-size:12px">  1</p>
                        </td>
                        <td>
                            <asp:TextBox ID="txtQuestion71" runat="server" CssClass="msapTxt" TextMode="MultiLine"
                                Columns="94" Rows="3" onkeyup="checkWordLen(this, 75, 'otherskillcnt');"></asp:TextBox>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator90" runat="server" ErrorMessage="This fields is required!"
                                ControlToValidate="txtQuestion71"></asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <p style="font-size:12px">    2</p>
                        </td>
                        <td>
                            <asp:TextBox ID="txtQuestion72" runat="server" CssClass="msapTxt" TextMode="MultiLine"
                                Columns="94" Rows="3" onkeyup="checkWordLen(this, 75, 'otherskillcnt');"></asp:TextBox>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator91" runat="server" ErrorMessage="This fields is required!"
                                ControlToValidate="txtQuestion72"></asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <p style="font-size:12px">    3</p>
                        </td>
                        <td>
                            <asp:TextBox ID="txtQuestion73" runat="server" CssClass="msapTxt" TextMode="MultiLine"
                                Columns="94" Rows="3" onkeyup="checkWordLen(this, 75, 'otherskillcnt');"></asp:TextBox>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator100" runat="server" ErrorMessage="This fields is required!"
                                ControlToValidate="txtQuestion73"></asp:RequiredFieldValidator>
                        </td>
                    </tr>
                </table>
               <p style="font-size:12px">
                    <strong>8. Please select your three preferred methods for receiving technical assistance.</strong>
                </p>
                <table>
                    <tr>
                        <td>
                            <asp:CheckBoxList ID="cblPreferredMethods" runat="server" RepeatColumns="4" AutoPostBack="true"
                                OnSelectedIndexChanged="OnPreferredMethods">
                                <asp:ListItem Value="1">Conference workshops</asp:ListItem>
                                <asp:ListItem Value="2">Emails</asp:ListItem>
                                <asp:ListItem Value="3">Fact sheets</asp:ListItem>
                                <asp:ListItem Value="4">Newsletters</asp:ListItem>
                                <asp:ListItem Value="5">Telephone conferences</asp:ListItem>
                                <asp:ListItem Value="6">Toolkits</asp:ListItem>
                                <asp:ListItem Value="7">Webinars</asp:ListItem>
                                <asp:ListItem Value="8">Website </asp:ListItem>
                            </asp:CheckBoxList>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <asp:CheckBox runat="server" ID="cbOther1" Text="Other, specify:" />
                                    </td>
                                    <td>
                                        <asp:TextBox ID="txtOther1" runat="server" CssClass="msapTxt" onkeyup="checkWordLen(this, 50, 'otherskillcnt');"></asp:TextBox>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <asp:CheckBox runat="server" ID="CheckBox1" Text="Other, specify:" />
                                    </td>
                                    <td>
                                        <asp:TextBox ID="txtOther2" runat="server" CssClass="msapTxt" onkeyup="checkWordLen(this, 50, 'otherskillcnt');"></asp:TextBox>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td align="left" width="10%">
                            &nbsp;<asp:Button ID="Button1" runat="server" CssClass="msapBtn" OnClick="OnPrevious"
                                Text="Previous" />
                        </td>
                        <td align="center">
                            90% completed
                        </td>
                        <td align="right" width="10%">
                            <asp:Button ID="Button2" runat="server" CssClass="msapBtn" OnClick="OnNext" Text="Submit" />
                        </td>
                    </tr>
                </table>
            <div class="addressFt">
                <div style="float: right; width: 300px;">
                    <strong>MSAP Technical Assistance Center</strong><br />
                    8757 Georgia Ave., Suite 1440 &#9679; Silver Spring, MD 20910<br />
                    1-866-997-MSAP (6727) &#9679; <a href="mailto:msapcenter@seiservices.com">msapcenter@seiservices.com</a>
                </div>
                <a href="http://www.ed.gov" target="_blank">
                    <img id="Img1" src="~/images/Edgov_ft.gif" border="0" alt="ed.gov" style="float: left;
                        vertical-align: middle; margin-right: 10px; margin-left: 16px;" runat="server" /></a><div>
                            Funded by the<br />
                            U.S. Department of Education<br />
                            Contract Number: ED-OII-10-C-0079</div>
            </div>
        </div>
    </div>
    </form>
</body>
</html>
