﻿<%@ Page Title="" Language="C#" AutoEventWireup="true" CodeFile="surveyp21.aspx.cs"
    Inherits="survey_surveyp2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>MSAP Principal Survey (Web-based) </title>
    <link href="~/css/msapMain.css" rel="stylesheet" type="text/css" />
    <link href="~/css/extra.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <asp:HiddenField ID="hfUserID" runat="server" />
    <div class="msapWrap">
        <div class="msapHold">
            <div class="msapHdr">
                <a href="http://www.msapcenter.com">
                    <h1>
                    </h1>
                </a>
            </div>
            <div style="margin-top: 10px; margin-bottom: 10px;">
                <div style="display: none;">
                    <iframe id="KeepAliveFrame" src="KeepSessionAlive.aspx" frameborder="0" width="0"
                        height="0" runat="server"></iframe>
                </div>
                <h1 style="color: #F58220">
                    MSAP Principal Survey</h1>
                <hr color="#A6CAF0" />
                <p style="font-size: 12px">
                   Each statement has two answers that will be recorded separately on this survey. The first answer for each statement is “What is” and relates to the current conditions at your magnet school; the second answer for each statement is “What should be” and relates to what you believe ought to be the situation for you or your magnet program by May 2012. It is possible that some of your responses to “What is” and “What should be” could be the same.
                </p>
                <p style="color: #063; font-size: 16px">
                    Activities</p>
                <p style="font-size: 12px">
                    <strong>4. How would you rate your performance on the following activities, and what
                        do you believe your performance should be?
                        <br />
                        (1= Needs improvement; 2= Adequate; 3= Good; 4= Excellent; N/A= Not applicable)</strong>
                </p>
                <table class="surveyTbl" width="100%">
                    <tr>
                        <td style="border: 0;">
                        </td>
                        <td style="border: 0;" align="center">
                            <p style="font-size: 14px">
                                <strong>What is</strong></p>
                        </td>
                        <td align="center" style="border: 0;">
                            <p style="font-size: 14px">
                                <strong>What should be</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="surveyTh">
                            <p style="font-size: 13px">
                                <strong>Project implementation and management</strong></p>
                        </td>
                        <td class="surveyTh">
                            <table class="fullTbl">
                                <tr>
                                    <td>
                                        <p style="font-size: 12px">
                                            <strong>1</strong></p>
                                    </td>
                                    <td>
                                        <p style="font-size: 12px">
                                            <strong>2</strong></p>
                                    </td>
                                    <td>
                                        <p style="font-size: 12px">
                                            <strong>3</strong></p>
                                    </td>
                                    <td>
                                        <p style="font-size: 12px">
                                            <strong>4</strong></p>
                                    </td>
                                    <td>
                                        <p style="font-size: 12px">
                                            <strong>N/A</strong></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="surveyTh">
                            <table class="fullTbl">
                                <tr>
                                    <td>
                                        <p style="font-size: 12px">
                                            <strong>1</strong></p>
                                    </td>
                                    <td>
                                        <p style="font-size: 12px">
                                            <strong>2</strong></p>
                                    </td>
                                    <td>
                                        <p style="font-size: 12px">
                                            <strong>3</strong></p>
                                    </td>
                                    <td>
                                        <p style="font-size: 12px">
                                            <strong>4</strong></p>
                                    </td>
                                    <td>
                                        <p style="font-size: 12px">
                                            <strong>N/A</strong></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            
                            
                            <table>
                                <tr style="font-size: 12px">
                                    <td valign="top">
                                      a.
                                    </td>
                                    <td>
                                        Providing leadership for the MSAP project
                                    </td>
                                </tr>
                            </table>
                        <td>
                            <asp:RadioButtonList ID="rblLeaderShip" CssClass="fullTbl" runat="server" RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator4" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblLeaderShip"></asp:RequiredFieldValidator>
                        </td>
                        <td>
                            <asp:RadioButtonList ID="rblLeaderShipShouldBe" CssClass="fullTbl" runat="server"
                                RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator5" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblLeaderShipShouldBe"></asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr class="surveyEven">
                        <td>
                            <table>
                                <tr style="font-size: 12px">
                                    <td valign="top">
                                        b.
                                    </td>
                                    <td>
                                        Hiring necessary staff for the MSAP project
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <asp:RadioButtonList ID="rblHiring" CssClass="fullTbl" runat="server" RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator6" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblHiring"></asp:RequiredFieldValidator>
                        </td>
                        <td>
                            <asp:RadioButtonList ID="rblHiringShouldBe" CssClass="fullTbl" runat="server" RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator7" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblHiringShouldBe"></asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <table>
                                <tr style="font-size: 12px"> 
                                    <td valign="top">
                                       c.
                                    </td>
                                    <td>
                                        Keeping teachers motivated to implement the MSAP project
                                    </td>
                                </tr>
                            </table>
                        <td>
                            <asp:RadioButtonList ID="rblMotivateTeacher" CssClass="fullTbl" runat="server" RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator8" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblMotivateTeacher"></asp:RequiredFieldValidator>
                        </td>
                        <td>
                            <asp:RadioButtonList ID="rblMotivateTeacherShouldBe" CssClass="fullTbl" runat="server"
                                RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator9" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblMotivateTeacherShouldBe"></asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr class="surveyEven">
                        <td>
                            <table>
                                <tr style="font-size: 12px">
                                    <td valign="top">
                                        d.
                                    </td>
                                    <td>
                                        Obtaining magnet school materials and equipment
                                    </td>
                                </tr>
                            </table>
                        <td>
                            <asp:RadioButtonList ID="rblObtaningMaterial" CssClass="fullTbl" runat="server" RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator10" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblObtaningMaterial"></asp:RequiredFieldValidator>
                        </td>
                        <td>
                            <asp:RadioButtonList ID="rblObtaningMaterialShouldBe" CssClass="fullTbl" runat="server"
                                RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator11" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblObtaningMaterialShouldBe"></asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            
                               <table>
                                <tr style="font-size: 12px">
                                    <td valign="top">
                                        e.
                                    </td>
                                    <td>
                                        Implementing the MSAP project on schedule
                                    </td>
                                </tr>
                            </table>
                          
                        </td>
                        <td>
                            <asp:RadioButtonList ID="rblImplementingProject" CssClass="fullTbl" runat="server"
                                RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator12" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblImplementingProject"></asp:RequiredFieldValidator>
                        </td>
                        <td>
                            <asp:RadioButtonList ID="rblImplementingProjectShouldBe" CssClass="fullTbl" runat="server"
                                RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator13" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblImplementingProjectShouldBe"></asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr class="surveyEven">
                        <td>
                          <table>
                                <tr style="font-size: 12px">
                                    <td valign="top">
                                        f.
                                    </td>
                                    <td>
                                        Implementing the critical components of the MSAP project
                                    </td>
                                </tr>
                            </table> 
                        <td>
                            <asp:RadioButtonList ID="rblImplementingCriticalComponents" CssClass="fullTbl" runat="server"
                                RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator14" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblImplementingCriticalComponents"></asp:RequiredFieldValidator>
                        </td>
                        <td>
                            <asp:RadioButtonList ID="rblImplementingCriticalComponentsShouldBe" CssClass="fullTbl"
                                runat="server" RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator15" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblImplementingCriticalComponentsShouldBe"></asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr style="font-size: 12px">
                                    <td valign="top">
                                        g.
                                    </td>
                                    <td>
                                        Assessing the implementation status of your magnet program
                                    </td>
                                </tr>
                            </table>
                        <td>
                            <asp:RadioButtonList ID="rblAssessing" CssClass="fullTbl" runat="server" RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator16" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblAssessing"></asp:RequiredFieldValidator>
                        </td>
                        <td>
                            <asp:RadioButtonList ID="rblAssessingShouldBe" CssClass="fullTbl" runat="server"
                                RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator17" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblAssessingShouldBe"></asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    
                        <tr class="surveyEven">
                        <td>
                          <table>
                                <tr style="font-size: 12px">
                                    <td valign="top">
                                        h.
                                    </td>
                                    <td>
                                        Assessing the progress of students in the magnet program
                                    </td>
                                </tr>
                            </table> 
                        <td>
                            <asp:RadioButtonList ID="rblAssessingProgress" CssClass="fullTbl" runat="server"
                                RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator18" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblAssessingProgress"></asp:RequiredFieldValidator>
                        </td>
                        <td>
                            <asp:RadioButtonList ID="rblAssessingProgressShouldBe" CssClass="fullTbl" runat="server"
                                RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator19" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblAssessingProgressShouldBe"></asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr class="SurveyLastTr">
                        
                        
                        <td>
                        <table>
                               
                                    <td valign="top">
                                        i.
                                    </td>
                                    <td style="font-size: 12px">
Interpreting assessment results
                                    </td>
                                </tr>
                            </table>
                        
                        </td>
                        <td>
                            <asp:RadioButtonList ID="rblInterpreting" CssClass="fullTbl" runat="server" RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator20" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblInterpreting"></asp:RequiredFieldValidator>
                        </td>
                        <td>
                            <asp:RadioButtonList ID="rblInterpretingShouldBe" CssClass="fullTbl" runat="server"
                                RepeatDirection="Horizontal">
                                <asp:ListItem Text="" Value="1"></asp:ListItem>
                                <asp:ListItem Text="" Value="2"></asp:ListItem>
                                <asp:ListItem Text="" Value="3"></asp:ListItem>
                                <asp:ListItem Text="" Value="4"></asp:ListItem>
                                <asp:ListItem Text="" Value="5"></asp:ListItem>
                            </asp:RadioButtonList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator21" runat="server" ErrorMessage="Required"
                                ControlToValidate="rblInterpretingShouldBe"></asp:RequiredFieldValidator>
                        </td>
                    </tr>
                </table><br />
                <table width="100%">
                    <tr>
                        <td align="left" width="40%">
                        </td>
                        <td align="center">
                            9% completed
                        </td>
                        <td align="right" width="40%">
                            <asp:Button ID="Button1" runat="server" CssClass="surveyBtn" OnClick="OnPrevious"
                                Text="Previous" OnClientClick="return confirm('Please note that all information on this page may not be saved if you go back to the previous page. Do you wish to proceed?');" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <asp:Button ID="Button2" runat="server" CssClass="surveyBtn" OnClick="OnNext" Text="Next" />
                        </td>
                    </tr>
                </table>
                <div class="surveyFt">
                    <div style="float: right; width: 300px;">
                        <strong>MSAP Technical Assistance Center</strong><br />
                        8757 Georgia Ave., Suite 1440 &#9679; Silver Spring, MD 20910<br />
                        1-866-997-MSAP (6727) &#9679; <a href="mailto:msapcenter@seiservices.com" style="color:#FFF">msapcenter@seiservices.com</a>
                    </div>
                    <a href="http://www.ed.gov" target="_blank">
                        <img id="Img1" src="~/images/Edgov_ft.gif" border="0" alt="ed.gov" style="float: left;
                            vertical-align: middle; margin-right: 10px; margin-left: 16px;" runat="server" /></a><div>
                                Funded by the<br />
                                U.S. Department of Education<br />
                                Contract Number: ED-OII-10-C-0079</div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
    </form>
</body>
</html>
