﻿<%@ page title="" language="C#" masterpagefile="~/magnetpub.master" autoeventwireup="true" inherits="_Default, App_Web_nsuhwpnn" enableEventValidation="false" viewStateEncryptionMode="Never" %>

<asp:Content ID="Content3" ContentPlaceHolderID="title" runat="Server">
    MSAP Center - Homepage
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/thickbox-compressed.js"></script>
    <link rel="stylesheet" href="css/thickbox.css" type="text/css" media="screen" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="brnImg">
        <script type="text/javascript">            bnrInit();</script>
    </div>
    <a name="skip"></a>
    <div class="msapHP_Content">
        <div class="granteeCorner">
            <div class="gcTop">
                &nbsp;</div>
            <div class="gcContent">
                <div class="gcTxt">
                    <h1>
                        Grantee<br />
                        Corner</h1>
                    <p>
                        <strong>The Rhodes School</strong></p>
                    <p>
                        <a href="granteecorner.aspx">
                            <img src="images/IMG_0234.jpg" alt="kids reading" border="0" width="160" height="119" /></a><br />
                        <small>The Rhodes School Literacy Cafe</small><br />
                        <br />
                        The Rhodes School is an open enrollment PK-5 charter school and local education
                        agency (LEA) serving 350 students with the capacity to serve 850 students. It is
                        located within the boundaries of Sheldon ISD and serves Channelview, Galena Park,
                        Houston, Humble, North Forest, and Sheldon school districts. The Rhodes School was
                        formed as an alternative educational choice for students enrolled in schools identified
                        for school improvement or with low performance among minority students. More than
                        80% of the schools served meet Title I requirements and nearly 80% (11 of 14) of
                        the schools in North Forest were identified for improvement. <a href="granteecorner.aspx">
                            (Read More)</a></p>
                </div>
            </div>
            <div class="gcBot">
                &nbsp;</div>
            <p style="margin-top: 0;">
                &nbsp;</p>
            <div class="gcTop">
                &nbsp;</div>
            <div class="gcContent" style="padding: 6px;">
                <div class="gcTxt">
                    <img src="images/phone_icon.gif" alt="phone icon" style="margin-right: 6px; margin-bottom: 10px;
                        float: left;" /><span style="color: #1d5ba9; font-size: 1.55em; line-height: 20px;">Technical
                            Assistance</span>
                    <p style="margin-top: 15px; margin-bottom: 0;">
                        Call 1-866-997-MSAP (6727)<br />
                        or click <a href="assistance.aspx">here</a>
                    </p>
                </div>
            </div>
            <div class="gcBot">
                &nbsp;</div>
        </div>
        <div class="msapHPcolL">
            <p>
                <span class="welcomeTxt">Magnet Schools Assistance Program Technical Assistance Center</span><br />
                <br />
                Welcome! The <strong>Magnet Schools Assistance Program Technical Assistance Center (MSAP
                    Center)</strong> is pleased to support the U.S. Department of Education, Office
                of Innovation and Improvement (OII) in their effort to provide students with equal
                opportunities in public school education through the Magnet Schools Assistance Program
                (MSAP).
            </p>
            <p>
                The MSAP Center is a technical assistance resource for MSAP grantees and the general
                magnet schools community that offers tools, information, and strategies to assist
                in planning, implementing, and revising magnet school programs. The MSAP Center
                provides resources and tailored support services focused on diversity, academic
                excellence, and equity.</p>
            <p>
                Please browse our resources page to find magnet school articles, toolkits, and newsletters
                about magnet school topics, best practices, and innovative approaches.
            </p>
            <div class="msapHP_blurbs">
                <a href="faq.aspx">
                    <img src="images/faq_icon.gif" border="0" style="float: left; margin-right: 10px;
                        margin-bottom: 20px;" alt="chalkboard, written FAQs" /></a>
                <h1>
                    MSAP Center FAQs</h1>
                Visit the MSAP Center FAQs to learn about the MSAP Center and technical assistance.
                <a href="faq.aspx">Learn More</a>
            </div>
            <div class="msapHP_blurbs">
                <h1>
                    The Magnet Compass Newsletter</h1>
                <a href="doc/MSAP_Magnet_Compass_Vol1_Is1_0211.pdf" target="_blank">
                    <img src="images/magnet_compass.jpg" style="float: left; margin-right: 10px; margin-bottom: 8px;"
                        alt="Magnet Compass Newsletter" border="0" /></a>Read the inaugural edition
                of the MSAP Center’s newsletter, The Magnet Compass! The February 2011 edition of
                The Magnet Compass focuses on sustaining magnet programs and introduces the MSAP
                Center's Technical Working Group members. <a href="doc/MSAP_Magnet_Compass_Vol1_Is1_0211.pdf"
                    target="_blank">Learn More</a>
            </div>
            <div class="msapHP_blurbs">
                <h1>
                    Upcoming Webinars</h1>
                <a href="webinar.aspx">
                    <img src="images/webinar_icon.gif" alt="upcoming webinars" style="float: left; margin-right: 10px;
                        margin-bottom: 8px;" border="0" /></a>
                <div id="webinarDiv" runat="server"></div>
            </div>
        </div>
        <div class="msapHP_colR">
            <h1>
                <span style="font-family: Helvetica, Arial, sans-serif;">Recent News</span></h1>
            <div class="rss">
                <ul style="margin-top: 2px;">
                    <asp:Repeater ID="newsRepeater" runat="server">
                        <ItemTemplate>
                            <li><strong><a href='newsdetail.aspx?id=<%#DataBinder.Eval(Container.DataItem,"ID")%>'>
                                <%#DataBinder.Eval(Container.DataItem, "Title")%></a></strong><br />
                                <%#DataBinder.Eval(Container.DataItem, "Source")%>.
                                <%#DataBinder.Eval(Container.DataItem, "Author")%>.
                                <%#DataBinder.Eval(Container.DataItem, "Date")%>. </li>
                        </ItemTemplate>
                    </asp:Repeater>
                    <li><a href="news.aspx"><span style="color: #F58220">Read more magnet school news</span></a></li>
                </ul>
            </div>
            <div style="display: table; height: auto; width: 100%; padding-top: 10px;">
                <h1>
                    <img src="images/Edgov.gif" style="float: left; margin-right: 6px;" alt="Ed.gov" /><div
                        style="float: left; margin-top: 4px; font-family: Georgia, 'Times New Roman', Times, serif;">
                        | Updates</div>
                </h1>
            </div>
            <div class="rss">
                <script language="JavaScript" src="http://itde.vccs.edu/rss2js/feed2js.php?src=http%3A%2F%2Fwww.ed.gov%2Ffree%2Ffree-rss.xml&chan=n&num=4&desc=1&date=n&targ=y"
                    type="text/javascript"></script>
                <noscript>
                    <a href="http://itde.vccs.edu/rss2js/feed2js.php?src=http%3A%2F%2Fwww.ed.gov%2Ffree%2Ffree-rss.xml&chan=n&num=5&desc=1&date=n&targ=y&html=y">
                        View ED RSS feed</a>
                </noscript>
            </div>
            <p style="margin-top: 0;">
                <img src="images/rss.gif" alt="rss icon" width="21" height="20" style="vertical-align: middle;
                    margin-right: 4px;" />RSS provided by <a href="http://www.ed.gov" target="_blank">http://www.ed.gov</a></p>
        </div>
    </div>
</asp:Content>
