﻿<%@ page title="" language="C#" masterpagefile="~/magnetpub.master"%>

<asp:Content ID="Content3" ContentPlaceHolderID="title" runat="Server">
    MSAP Center - Grantee Corner
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <a name="skip"></a>
    <div class="mainContent">
        <h1>Grantee Corner
&nbsp;| <span style="color: #666; line-height:120%;">&nbsp;Area Cooperative Educational Services</span></h1>
        <div style="margin-top: -60px; float: right; margin-left: 20px; width: 200px;">
            
  <br/><br/>
      <img src="../images/gc044811/cars-1.jpg" alt="Cars photo" /><br />
            <small>Wintergreen Interdistrict Magnet School students build a moving vehicle with the Eli Whitney Museum</small><br />
            <br />
      <img src="../images/gc044811/charting-1.jpg" alt="Charting photo" /><br />
      <small>Wintergreen Interdistrict Magnet School student makes a frame to classify Connecticut rocks </small><br />
  <br />
            
      <img src="../images/gc044811/rocks-1.jpg" alt="Rocks photo" /><br />
            <small>Wintergreen Interdistrict Magnet School student investigates rocks </small>
            <br /> <br />
            
      <img src="../images/gc044811/teachers-1.jpg" alt="Teachers photo" /><br />
            <small>Thomas Edison Magnet School teachers participate in inquiry professional development at the Connecticut Science Center </small>
            
    </div>
	    
        <p>Area Cooperative Educational Services (ACES) is a regional educational service center with two full-time interdistrict magnet schools that cumulatively enroll students from a broad range of racial, cultural, and socioeconomic backgrounds from multiple school districts. ACES serves a 25-school district area in the south central Connecticut region, and comprises large, urban schools districts such as Meriden, New Haven and Waterbury. This project, Learning Through Science, serves over 1,350 students. </p>
<p>
Learning Through Science implements inquiry-based learning activities that strengthen the instructional programs in science and ultimately expand an inquiry approach into reading/language arts, social studies, and mathematics.  The project coincides with the development of a new science curriculum. At ACES, curriculum revision and renewal is an ongoing process of improvement which ensures that diverse student needs are met in accordance with state standards and implemented in a best practices model.  Essential elements include diversity of people, thoughts, and responses within a global perspective.</p>
Thomas Edison Magnet School is a 6-8 grade middle school that serves 720 students and has a Mathematics, Science, and Technology theme. Wintergreen Interdistrict Magnet <p>School is a K-8 combination elementary/middle school that serves 640 students and has a Liberal Arts with Technology magnet theme.  
The two magnet schools collaborate with two primary partners, the Connecticut Science Center in Hartford and the Eli Whitney Museum in Hamden. Additional resource partners are the Peabody Museum of Natural History at Yale University,  Mystic Seaport , and Hammonasset Beach State Park. Through class and field experiences, students examine problems to discover patterns and trends and are able to make inferences and predictions based on this information. Students develop the capacity to hypothesize and support their thinking with evidence. Work moves from content investigation to construct completion. Science is the unifying framework for ongoing exploration within each school and is enhanced by resources in literature and technology. The project provides professional development for teachers, and fosters family-centered events for the school community. </p>
<p>Learning Through Science is administered by Project Director Sharyn Esdaile along with an outstanding team of ACES principals and staff.  Ms. Esdaile has over 20 years of experience in educational administration. She served as co-designer of three magnet schools and as Artistic Director of New Haven's middle school Arts Magnet for over fifteen years. Ms. Esdaile joined ACES in 1983 and has been both a principal and assistant principal. Her knowledge of magnet schools, education systems, curriculum development, and implementation, grant management, and equity and desegregation strategies allow her to effectively lead, manage, and refine this grant project. </p>



</p>
<p><a href="../cornerarchives.aspx">See Grantee Corner Archive</a></p>
    </div>
</asp:Content>
