﻿<%@ page title="" language="C#" masterpagefile="~/magnetpub.master"%>

<asp:Content ID="Content3" ContentPlaceHolderID="title" runat="Server">
    MSAP Center - Grantee Corner
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <a name="skip"></a>
    <div class="mainContent">
        <h1>Grantee Corner
&nbsp;| <span style="color: #666; line-height:120%;">&nbsp;Colorado Springs School District 11</span></h1>
        <div style="margin-top: -60px; float: right; margin-left: 20px; width: 200px;">
            
 <!-- <br/><br/>
      <img src="../images/gc048811/El_Paso-028.jpg" alt="Grantee Corner 4-26-2011" /><br />
      <small>Jack Swigert Aerospace Academy students with astronauts Jim Reilly and Mike Good</small>-->
  <br />
            <br />
      <img src="../images/gc048811/El_Paso-027.jpg" alt="Grantee Corner JSwigert 2" /><br />
      <small>JSAA students at the National Space Symposium</small><br />
  <br />
            
      <img src="../images/gc048811/El_Paso-026.jpg" alt="kid and astronaut" /><br />
      <small>JSAA student viewing a genuine astronaut suit donated to the school by the Space Foundation</small><br /> <br />
            
      <img src="../images/gc048811/El_Paso-029.jpg" alt="Grantee Corner JSwigert 5" /><br />
      <small>Mary Ley, Colorado Springs School District 11 Project Director</small></div>
	    
      <p>Jack Swigert Aerospace Academy (JSAA), in Colorado Springs School District 11, is a middle school that focuses on 21st century learning with an integrated aerospace curriculum. It embraces community partnerships, such as its unique public-private partnership with the Space Foundation, a global space advocacy and education organization also based in Colorado Springs. The Space Foundation provides intensive aerospace curriculum training for teachers and offers student learning opportunities at its Space Foundation Discovery Institute, which is located on the JSAA campus. The Space Foundation Discovery Institute houses the Analytical Graphics Inc. (AGI) Space Missions Simulator laboratory, a simulated Mars Yard and the Honeywell Mars Robotics Experience, and a space-themed Educator Resource Center. </p>
      <p>Allison Reilly, a former NASA education director, serves as JSAA’s curriculum coordinator; the magnet grant team also includes Derek Swanson, a highly qualified 21st century coordinator. Connections with NASA have allowed the grant team to recruit dynamic individuals such as Air Force Space Command Vice Commander
        Lt. Gen. Michael J. Basla and former NASA astronauts Mike Good and Jim Reilly to visit and work with JSAA students. The grant team also coordinated activities with Peterson Air Force Volunteers, participated in the Festival of Science with the Space Foundation, and visited the 27th National Space Symposium, where JSAA students helped host an exhibit booth.</p>
      <p>In the fall, JSAA will launch two new projects: a community cyber café and a broadcasting center. The café will be located at the school entrance and will be open four nights a week. It will provide parents with an opportunity to contact military relatives overseas, learn Spanish or English, or learn how to use the same technology as their students. The café will also give students extended technology time for homework and access to fun technology-based math and science games. The student-managed broadcasting room, called WRKT (“rock it” or “rocket”), will be located in the center of the school.</p>
      <p>Jack Swigert Aerospace Academy (JSAA) was named in honor of former astronaut and Colorado Congressman-elect John L. “Jack” Swigert, Jr. He was an Apollo 13 astronaut who overcame obstacles to continue forward with the mission he was assigned. The school was named for him to provide students with an enduring example of the integrity and ideals of the aerospace academy. </p>




</p>
<p><a href="../cornerarchives.aspx">See Grantee Corner Archive</a></p>
    </div>
</asp:Content>
