﻿<%@ page title="" language="C#" masterpagefile="~/magnetpub.master" autoeventwireup="true" enableEventValidation="false" viewStateEncryptionMode="Never" %>
   
<asp:Content ID="Content3" ContentPlaceHolderID="title" runat="Server">
    MSAP Center - Grantee Corner
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <a name="skip"></a>
    <div class="mainContent">
        <h1>
           Grantee Corner &nbsp;| <span style="color: #666; line-height:120%;">&nbsp;Unified School District 259 dba Wichita Public Schools</span></h1>
         <div style="margin-top: -25px; float: right; margin-left: 20px; width: 206px;text-align:center;">
          <br />
            <br />
  <img src="../../images/gc042811/Muller-026.jpg" alt="Mueller student prepares for a flight" /><br />
            <small>Mueller student prepares for a flight</small><br />
            <br />
      <img src="../../images/gc042811/IMG_4950.jpg" alt="Mueller students conduct flight experiments" /><br />
            <small>Mueller students conduct flight experiments </small><br />
            <br />
      <img src="../../images/gc042811/Muller-012.jpg" alt="Mueller students participate in Aviation Festival activities" /><br />
            <small>Mueller students participate in Aviation Festival activities</small><br />
            <br />
      <img src="../../images/gc042811/stacey-painchaud.jpg" alt="Stacey Painchaud, Unified School District 259 dba Wichita Public Schools Project Director" /><br />
            <small>Stacey Painchaud, Unified School District 259 dba Wichita Public Schools Project Director</small></div>
	    
        <p>
Wichita Public Schools (WPS), a Title I district in Kansas, serves more than 50,000 students in 89 elementary, middle, and high schools who speak more than 70 languages. WPS is the largest, most urban, and most diverse school district in Kansas. 
	</p>
	<p>
A major goal in the revision of Mueller Aerospace and Engineering Discovery Magnet Elementary School (Mueller) has been to establish a high-quality magnet school with a theme relevant to the community and important to parents. Known as the “Air Capital of the World,” Wichita is home to many major aircraft companies such as Boeing, Cessna/Textron, Spirit, Beechcraft, and Bombardier. <em>Project DREAM</em> (DiscoveRy Engineering and Aerospace Magnet) offers a science, technology, engineering, and mathematics (STEM) program where students learn core subjects through constructivist methodologies. 	
    </p>
	<p>
WPS and Mueller partner with many national and local businesses and organizations that are well suited to support the project. Such partnerships include local universities, local aircraft manufacturing companies, Jabara Airport, Exploration Place Science and Discovery Center, Kansas Cosmosphere and Space Center, Civil Air Patrol, STARBASE, National Aeronautics and Space Administration (NASA), Experimental Aviation Association Chapter 88 (EAA), and Society of Manufacturing Engineers. These community partnerships allow Mueller to offer experiences such as the annual Aviation Festival, an initiative that gives third through fifth graders an opportunity to fly and participate in other flight-related activities, and science module lessons provided through the Civil Air Patrol, NASA, and Engineering is Elementary.
</p>
<p>
<em>Project DREAM</em> is administered by Project Director Stacey Painchaud. She has worked in WPS for 11 years as a classroom teacher and an instructional coach in Title I schools.  Stacey brings her district-level experience of working in professional development and curriculum to Mueller, helping teachers integrate the STEM theme into the curriculum.
</p>
	
<p><a href="../cornerarchives.aspx">See Grantee Corner Archive</a></p>
    </div>
</asp:Content>
