﻿.waterClass
{
    color: Gray;
}
.redFont
{
    color: Red;
}
.tblHeader
{
    color: #333333;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    line-height: 14px;
}
.magnetMPE
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.mpeDiv
{
    width: 600px;
    background-color: #fff;
    display: block;
    overflow: auto;
    max-height: 450px;
}
* html DIV.mpeDiv
{
    height: expression( this.scrollHeight > 450 ? "450px" : "auto" );
}
.mpeDivHeader
{
    background: url(../images/hdr_bck.gif) repeat-x;
    height: 35px;
    width: 592px;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 2px;
}
.clear
{
    clear: both;
}
.searchDiv1
{
    float: left;
    width: 60px;
}
.searchDiv2
{
    float: left;
    width: 190px;
}
.searchDiv3
{
    width: 78px;
    margin-top: 6px;
    float: left;
}
.searchDiv4
{
    width: 90px;
    margin-top: 6px;
    float: left;
}
.searchDiv5
{
    margin-top: 8px;
}
.searchTbl
{
    margin: 0;
    margin-top: -5px;
    padding: 0;
    line-height: 1em;
}
.waterClass
{
    font-size: 0.8em;
    text-align: center;
    vertical-align: middle;
}
.grnDiv
{
    padding-left: 220px;
}
.midCall2
{
    height: auto;
    display: table;
    background: url(../images/midshadow.png) repeat-y;
    width: 200px;
}
.newsDiv
{
    font-size: 0.9em;
}
.linkP
{
    margin-top: 2px;
    margin-bottom: 6px;
}
.cleanTbl
{
    border: 0;
}
.cleanTbl td, .cleanTbl th
{
    padding: 6px;
    border: 0;
}
.reportHeader
{
    background: none repeat scroll 0 0 #A9DEF2;
    width: 100%;
    font-size: 1.5em;
    padding: 2px 0px;
}
.adminCall
{
    background: url(../images/istockphoto2.jpg) no-repeat scroll 0 0;
    width: 300px;
    height: 216px;
    display: table;
    float: right;
}
.buttonTbl
{
    width: 98%;
    margin-top: 15px;
    border-collapse: collapse;
    border: 0; /*border-bottom: 2px solid #F58220 !important;*/
}

.buttonTbl td, .buttonTbl th
{
    padding: 6px;
}

.buttonTbl td
{
    border-bottom: 1px solid #A9DEF2;
}
.linkBtn
{
    font-size: 12px;
    text-decoration: none;
}
#ctl00_ContentPlaceHolder1_rblClaimingIndrectCost
{
    padding: 0px;
    margin: -10px 0px 0px 0px;
}
#ctl00_ContentPlaceHolder1_rblRageAggrement
{
    padding: 0px;
    margin: -10px 0px 0px 0px;
}
.fullTbl
{
    width: 100%;
}
.fullTbl tr td
{
    width: 20%;
	
}

.fullTb tr 

	table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color: #9CF;
	border-width: none;
	border-color: #999999;
	border-collapse: collapse;
}

td {
	background:#CCC url('images/cell-blue.jpg');
	border-width: 0px;
	padding: 8px;
	border-style: solid;
	border-color: #FFF;
}
table.imagetable tr {
	background:#CCC url('images/cell-grey.jpg');
	border-width: 0px;
	padding: 8px;
	border-style: solid;
	border-color: #FFF;
}
	
	
}

.msapTxtSmall
{
    border: 1px solid #addbd0;
    padding: 1px;
    width:60px;
}
