﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/magnetadmin.master" AutoEventWireup="true" CodeFile="managesips.aspx.cs" Inherits="admin_data_managesips" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" Runat="Server">
    Manage SIPs
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
        <h1>
            <a href="datareport.aspx">Home</a> --> Manage SIPs</h1>
        <p style="text-align: left">
            <asp:Button ID="Newbutton" runat="server" Text="New SIP" CssClass="msapBtn" OnClick="OnAddSIP" />
        </p>
        <asp:HiddenField ID="hfReportID" runat="server" />
        <asp:GridView ID="GridView1" runat="server" AllowPaging="false" AllowSorting="false"
            PageSize="20" AutoGenerateColumns="false" DataKeyNames="ID" CssClass="msapTbl">
            <Columns>
                <asp:BoundField DataField="SchoolName" SortExpression="" HeaderText="School Name" />
                <asp:BoundField DataField="CurrentStudentAttendance" SortExpression="" HeaderText="Current Student Attendance" />
                <asp:BoundField DataField="ExpectedStudentAttendance" SortExpression="" HeaderText=" Expected Student Attendance" />
                <asp:BoundField DataField="NumberInSchoolSuspensions" SortExpression="" HeaderText="In-school Suspensions" />
                <asp:BoundField DataField="ExpectedInSchoolSuspensions" SortExpression="" HeaderText="Expected In-school Suspensions" />
                <asp:BoundField DataField="NumberOutSchoolSuspensions" SortExpression="" HeaderText="Out-of-school Suspensions" />
                <asp:BoundField DataField="ExpectedOutSchoolSuspensions" SortExpression="" HeaderText="Expected Out-of-school Suspensions" />
                <asp:BoundField DataField="CurrentDropoutRate" SortExpression="" HeaderText="Dropout Rate" />
                <asp:BoundField DataField="ExpectedDropoutRate" SortExpression="" HeaderText="Expected Dropout Rate" />
                <asp:BoundField DataField="CurrentparentalInvolvementRate" SortExpression="" HeaderText="Parental IRate" />
                <asp:BoundField DataField="ExpectedParentalInvolvementRate" SortExpression="" HeaderText="Expected Parental IRate" />
                <asp:TemplateField>
                    <ItemTemplate>
                        <asp:LinkButton ID="LinkButton1" runat="server" Text="Edit" CommandArgument='<%# Eval("ID") %>'
                            OnClick="OnEdit"></asp:LinkButton>
                        <asp:LinkButton ID="LinkButton2" runat="server" Text="Delete" CommandArgument='<%# Eval("ID") %>'
                            Visible="false" OnClick="OnDelete" OnClientClick="return confirm('Are you certain you want to delete this record?');"></asp:LinkButton>
                    </ItemTemplate>
                </asp:TemplateField>
            </Columns>
        </asp:GridView>
</asp:Content>

