﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/magnetadmin.master" AutoEventWireup="true" CodeFile="NotifyEDconfirm.aspx.cs" Inherits="admin_data_NotifyEDconfirm" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" Runat="Server">
Submit Report Confirmation
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div style="height:600px;">
<h3>Submit Report Confirmation</h3>
<asp:Literal ID="ltlmessage" runat="server" />
</div>
</asp:Content>

