



<%@ Control language="c#" CodeFile="recover.ascx.cs" AutoEventWireup="True" Inherits="YAF.Pages.help.recover" %>
<YAF:PageLinks runat="server" id="PageLinks" />
<YAF:helpmenu runat="server">

<table class="content" width="100%" cellspacing="0" cellpadding="0">
<tr><td class="post" valign="top">
	<table width="100%" cellspacing="0" cellpadding="0">
	<tr><td nowrap class="header2"><b>Recover lost passwords</b></td></tr>
	<tr><td class="post">
		<p>Yadayada yada yada...</p>
		<p style="font-weight:bold">Some Title</p>
		<p>Some more yada-yada...</p>
	</td></tr>
	</table>
</td></tr>
</table>


</YAF:helpmenu>
<YAF:SmartScroller id="SmartScroller1" runat = "server" />
