<%@ Control Language="c#" CodeFile="error.ascx.cs" AutoEventWireup="True" Inherits="YAF.Pages.error" %>
<table class="content" width="100%" cellspacing="1" cellpadding="0">
    <tr>
        <td class="header1">
            Error</td>
    </tr>
    <tr>
        <td class="post" id="errormsg" runat="server">
        </td>
    </tr>
</table>
