﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="shoutbox.ascx.cs" Inherits="YAF.Pages.shoutbox" %>
<%@ Register TagPrefix="YAF" TagName="ShoutBox" Src="../controls/ShoutBox.ascx" %>

<YAF:ShoutBox ID="ShoutBox1" runat="server" />