﻿<%@ Page Title="" Language="C#" AutoEventWireup="true" CodeFile="memberdetail.aspx.cs"
    Inherits="admin_memberdetail" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
</head>
<body>
    <form id="form1" runat="server">
    <div id="content" runat="server">
    </div>
    </form>
</body>
</html>
