@import "jquery/jquery-ui.css";

.yafnet {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #3B3b3b;
}
.yafnet td {
	font-family: sans-serif, Helvetica, Arial;
	font-size: 8pt;
	color: #3b3b3b;
}
.yafnet input,
.yafnet select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt; 
	color: #3b3b3b;	
	background-color: #FFF;	
	border: 1px solid #aaaaaa;
}

.yafnet .pbutton
{
    /*color: #ffffff;
	background: url("btn_bck.gif") repeat scroll 0 0 transparent;
    font-size: 7.5pt;
    font-weight: bold;
    padding: 1px 6px 1px 6px;*/
	color: #ffffff;
	background: url("ButtonBackB.gif") repeat scroll 0 0 transparent;
    font-size: 7.5pt;
    font-weight: bold;
    padding: 1px 6px 1px 6px;
	border:0px !important;
	
}
.yafnet .pbutton:hover
{
    /*border: solid 1px #ccc;*/
	/*color:white;*/
	/*color: #000;*/
	color: #F1C12C;
}
.yafnet img {
	border: 0;
}
.yafnet ul {
	margin: 2px 2px 2px 2px;
	padding: 0;
}
.yafnet li {
	margin-left: 15px;
}
.yafnet tr.header1 {	
	background-image: url('titleBack.gif');
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	font-size: 11pt;
}
.yafnet tr.header1 a {
	color: #ffffff;
	text-decoration: none;
}
.yafnet tr.header1 a:hover {
	color: #eeffee;
	text-decoration: underline;
}	
.yafnet td.header1 {
	background-color: #A9DEF2;
	/*YPA 2_1_12 background-image: url('titleBack.gif');*/
	/*YPA 1_31_12 background-color: #66a262;*/
	/*YPA 2_1_12 color: #ffffff;*/
	color: #000;
	font-weight: bold;
	padding-left: 10px;
	font-size: 13px;/*YPA 1_31_12 15px*/
	line-height: 30px;
}	
.yafnet .header1Title {
	background-color: #A9DEF2;
	/*YPA 2_1_12 background-image: url('titleBack.gif');*/
	/*YPA 2_1_12 color: #ffffff;*/
	color: #000;
	font-weight: bold;
	padding-left: 10px;	
	font-size: 15px;
	line-height: 30px;
}
.yafnet .postTitle .rightItem a
{
	color: #000;
    /*YPA 2_1_12 color: White;*/
}
.yafnet tr.header2 {
	background-color: #EDFAFF;/*YPA 2_1_12 #e3e3e3*/
	color: #55a055;
	font-weight: bold;
}
.yafnet td.header2 {
	background-color: #EDFAFF; /*YPA 2_1_12 #e3e3e3*/
	color: #000; /*YPA 1_31_12 #5555a0*/
	font-weight: bold;
}
.yafnet a.header2 { height: auto; background-color: Transparent; border-style: none; background-image: none; }
.yafnet td.header2 a { color: #000090; text-decoration: none; }
.yafnet td.header2 a:link { 
	/*YPA 2_2_12 color: #7f7f7f;*/
	color: #000;
	text-decoration: none; 
}
.yafnet td.header2 a:visited { 
	/*YPA 2_2_12 color: #7f7f7f;*/
	color: #000;
	text-decoration: none; 
}
.yafnet td.header2 a:active { 
	/*YPA 2_2_12 color: #7f7f7f;*/
	color: #000;
	text-decoration: none; 
}
.yafnet td.header2 a:hover { 
	/*YPA 2_2_12 color: #7f7f7f;*/
	color: #000; 
	text-decoration: underline; 
}
.yafnet td.infoTable {
	background-color: #FAFAFA;
	padding: 10px;
	border: 1px solid #F2F2F2;
}
/* all links */
.yafnet .content a			{ color: #f58220; text-decoration: none; } /*YPA 1_31_12 #001090*/
.yafnet .content a:hover	{ color: #f58220; text-decoration: underline; } /*YPA 1_31_12 #001090*/
/* Footer1 - Bottom of tables */ 
.yafnet .footer1 {
	font-size: 7pt;
	height: 28px;
	background-color: #f4f4f4;
}
.yafnet .footer1 select,
.yafnet .footer1 td {
	font-size: 10px;
}
.yafnet .forumheading {
	font-size: 9pt;
	font-weight: bold;
}
.yafnet a.post_link
{
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
}
/* Header of posts */
.yafnet .postheader {
	background-color: #f0f0f0;
}
.yafnet .postheader a {
	font-size: 12px;/*YPA 1_31_12 11pt*/
	color: Black;	
}
/* User info and post/article */
.yafnet .post {
	background-color: #fff; /*YPA 1_31_12 #F5F5F5 */
}
.yafnet .post_alt {
	background-color: #FaFaFa;
}
.yafnet tr.post:hover {
	background-color: #FFFFFF;	
}
.yafnet tr.post_alt:hover {
	background-color: #FFFFFF;	
}
/* Footer of posts */
.yafnet .postfooter {
	background-color: #cdcdcd;
}
.yafnet .postfooter .editedinfo {
	color:#FF0000;
	font-weight:bold;
}
/* Area between posts */
.yafnet .postsep {
	background-color: #A9DEF2;/*YPA 1_31_12 #3a3b5a*/
	height: 10px;
}
/* most tables are class 'content' */
.yafnet table.content {
	/*border: solid 1px #A9DEF2; *//*YPA 1_31_12 #777777*/
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	color: #000000;	
}
.yafnet .postformheader {
	background-color: #EEEEEE;
	font-weight:bold;
}
.yafnet .fileattach {
	padding: 5px;
	background-color: #eeeeee;
	border: solid 1px #808080;
}
.yafnet .fileattach .filetitle,
.yafnet .fileattach .imgtitle {
	font-weight: bold;
	color: #444444;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
}
.yafnet .fileattach .attachedimg,
.yafnet .fileattach .attachedfile {
	margin-left: 10px;
}
.yafnet .fileattach a {
	font-weight: bold;
}
.yafnet table.content td {
	/*YPA 1_31_12 padding: 5px;*/
	padding: 5px 10px 2px 10px;
}
.yafnet .content td table td table td {
	padding: 0px;	
}
.yafnet .content .headersub {
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	font-size: 15px;
	line-height: 30px;	
}
/* used for quoting messages */
.yafnet .quote {
	padding-left: 16px;
	margin: 5px;
}
.yafnet .innerquote {
	padding: 4px;
	background-color: #fefefe;
	border: 1px dashed #808080;
}
/* used for code */
.yafnet .code {
	padding-left: 16px;	
	margin: 5px;
}
.yafnet .innercode {
	padding: 4px;
	background-color: #efefef;
	border: solid 1px #808080;
	color: #000000;
	line-height: 1.3em;
	font-family: "courier new", "times new roman", monospace;
    overflow: scroll;
    width: 600px;
	white-space: nowrap;
}
/* font sizes */
.yafnet .smallfont	{ font-size: 10px; }
.yafnet .largefont	{ font-size: 11px; }
/* Image Links */
.yafnet a.imagelink {
	font-weight: bold;
	color: #000000;
}
.yafnet a:hover.imagelink {
	text-decoration: none;
	/*background-color: #D0D0D0;*/
}
/* Used for editor textarea */
.yafnet .posteditor {
	width: 100%;
	height: 200px;
}
/* Forum Welcome Message */
.yafnet .yafForumWelcome
{
	text-align: right;
	padding: 5px;
}
.yafnet .DivTopSeparator
{
	clear: both;
}
/* div at the top of pages with navigation links */
.yafnet .yafPageLink
{
	background-color:#EDFAFF;
	font-weight: bold;
	color: #000000;
	margin-top: 0px;	
	margin-bottom:0px;/*margin-bottom: 10px;*/
	padding: 5px;
}
.yafnet .yafPageLink .currentPageLink { color: #125C78; } /*YPA 1_31_12 #001090*/
.yafnet .yafPageLink .linkSeperator { color: #666666; }
.yafnet .yafPageLink a { color: #000000; text-decoration: none }
.yafnet .yafPageLink a:hover {color: #666666; }
/* for printing */
.yafnet table.print {
	border: solid 1px #C0C0C0;
}
.yafnet .printheader {
	background-color: #DDDDDD;
	color: #000000;
	padding: 4px;
}
.yafnet .printbody {
	background-color: #FFFFFF;
	color: #000000;
	padding: 4px;
}
.yafnet .textfield {
	background-color: #FFFFFF;
	border: 1px solid #3B3b3b;
	width: 100%;
}
.yafnet .ButtonOut {
	border: #669966 1px solid;
}
.yafnet .ButtonOver {
	border: #000000 1px solid;
	background-color: #ffffff;
}
.yafnet .ButtonChecked {
	border: #000000 1px solid;
}
.yafnet .ButtonOff {
	border: #669966 1px solid;
}
.yafnet #bbcodeFeatures {
	border: #eeffee 1px solid;
}
/*
Use this to setup overflow feature for your site.
On IE that would mean specifying a width so that the overflow will work properly.
This CSS already works on FireFox.
*/
.yafnet div.postdiv {
	width: 100%;
	min-height: 100px;
	overflow: auto;	
}

.yafnet div.postdiv1 {
	width: 110%;
	min-height: 100px;
	overflow: auto;	
}
.yafnet div.yafsignature
{
	border-top: solid 1px #666666;
	margin-top: 15px;
	padding-top: 5px;
}
.yafnet .yafactiveusers a.active_hidden {
	font-style: italic;
	color: #aaaaaa;
}
/* CSS Pagelinks */
.yafnet .yafpager {
	color: #555555;
	margin: 6px 0px 6px 0px;
}
.yafnet .pagelink,
.yafnet .pagelinkfirst,
.yafnet .pagelinklast,
.yafnet .pagecurrent,
.yafnet .pagecount{
	background: #F5F5F5;
	border: 1px solid #444444;
	padding: 1px 3px 1px 3px;
	margin-right: 2px;
}
.yafnet .pagecount {
	margin-right: 5px;
}
.yafnet .pagelinkfirst,
.yafnet .pagelinklast{
	background: #e0e0e0;
}
.yafnet .pagecurrent{
	background: #dddddd;
}
.yafnet .pagelink a,
.yafnet .pagelinkfirst a,
.yafnet .pagelinklast a {
	text-decoration: none;
	color: #37819D;
	/*YPA 2_2_12 color: #000090;*/
}
/* CCS Buttons */
.yafnet a.yaflittlebutton {
	background: transparent url('ButtonEnd.gif') no-repeat scroll top right;*/
    color: #ffffff;
    display: block;
    float: right;
	font-size: 8px; 
    height: 18px;
    margin: 2px 0px 2px 2px;
    padding-right: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
}
.yafnet a.yaflittlebutton span {
	background: transparent url('ButtonBack.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 4px 3px 4px 5px;
	text-align:center;
	color:#fff;
}
.yafnet a:hover.yaflittlebutton span {
	background: transparent url('ButtonBack.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 4px 3px 4px 5px;
	text-align:center;
	color: #F1C12C;
}

.yafnet a.yaflittlebutton img {
	vertical-align: middle;
	padding: 0px 4px 2px 0px;
}
.yafnet a.yaflittlebutton:hover {
	/*color: #ffffff;*/
	color: #000;
	text-decoration: none;
}
.yafnet a.yaflittlebutton:active {
    background-position: bottom right;
    outline: none;
}
.yafnet a.yaflittlebutton:active img {
    padding: 0px 4px 2px 0px;
}
.yafnet a.yaflittlebutton:active span{
    background-position: bottom left;
    padding: 5px 3px 3px 5px;
}
.yafnet a.yafcssbigbutton{
    background: transparent url('ButtonEnd.gif') no-repeat scroll top right;
    color: #ffffff;
    display: block;
	font-size: 8px; 
    height: 18px;
    margin: 2px 0px 2px 2px;
    padding-right: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
}
.yafnet a.yafcssbigbutton span{
    background: transparent url('ButtonBack.gif') no-repeat;
    display: block;
    line-height: 10px;
    padding: 4px 10px 4px 12px;
}
.yafnet a.yafcssbigbutton img{
	vertical-align: top;
	padding: 0px 4px 0px 0px;
}
.yafnet a.yafcssbigbutton:hover {
	color: #F1C12C;
	/*YPA 2_1_12 color: #ffffff;*/
	text-decoration: none;
}
.yafnet a.yafcssbigbutton:active{
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
}
.yafnet a.yafcssbigbutton:active img{
    padding: 0px 4px 0px 0px;
}
.yafnet a.yafcssbigbutton:active span{
    background-position: bottom left;
    padding: 5px 10px 3px 12px; /* push text down 1px */
}
/* css image button */
.yafnet a.yafcssimagebutton{
    /*YPA 2_1_12 background: transparent url('ButtonEndB.gif') no-repeat scroll top right;*/
    color: #ffffff;
    display: block;
    /*YPA 2_2_12 float: left;*/
	font-size: 10px; 
    height: 18px;
    margin: 2px 0px 3px 300px;
    padding-right: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
	width:180px;
}
.yafnet a.yafcssimagebutton span{
	background: transparent url('ButtonBackB.gif') no-repeat;
    display: block;
    line-height: 14px;
	text-align:center;
    padding: 2px 6px 2px 8px;
}
.yafnet a.yafcssimagebutton img{
	vertical-align: top;
	padding: 0px 4px 0px 0px;
}
.yafnet a.yafcssimagebutton:hover{
	text-decoration: none;
	color: #F1C12C;
}
.yafnet a.yafcssimagebutton:active{
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
}
.yafnet a.yafcssimagebutton:active img{
    padding: 0px 4px 0px 0px;
}
.yafnet a.yafcssimagebutton:active span{
    background-position: bottom left;
    padding: 3px 6px 1px 8px; /* push text down 1px */
}
/* CSS Popupmenu */
.yafnet .yafpopupmenu {
	background-color: #ffffff;
	border: solid 1px #333333;
	
}
.yafnet .yafpopupmenu ul {	
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.yafnet .yafpopupmenu li {
	padding: 5px 10px 5px 10px;
	margin: 0;
}
.yafnet .yafpopupmenu li.popupitemhover {
	background-color: #cccccc;
}
/* ajax tabs */
.yafnet .ajax__tab_yaf .ajax__tab_header 
{
    font-family:"Helvetica Neue", Arial, Sans-Serif;
    background:url(tab-line.png) repeat-x bottom;
    font-size:12px;
    display:block;
}
.yafnet .ajax__tab_yaf .ajax__tab_header .ajax__tab_outer 
{
    background:url(tab.png) no-repeat left top;
    border-color:#222;
    color:#222;
    padding-left:10px;
    margin-right:3px;
}
.yafnet .ajax__tab_yaf .ajax__tab_header .ajax__tab_inner 
{
    background:url(tab.png) no-repeat right top;
    border-color:#666;
    color:#666;
    padding:3px 10px 2px 0px;
}
.yafnet .ajax__tab_yaf .ajax__tab_hover .ajax__tab_inner 
{
    color:#000000;
}
.yafnet .ajax__tab_yaf .ajax__tab_active .ajax__tab_outer 
{
    background:url(tab.png) no-repeat 0pt -40px;
    border-bottom-color:#ffffff;
}
.yafnet .ajax__tab_yaf .ajax__tab_active .ajax__tab_inner 
{
    background:url(tab.png) no-repeat right -40px;
    color:#000000;
    border-color:#333
}
.yafnet .ajax__tab_yaf .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:8px;
    background-color:#ffffff;
    border:solid 1px #d7d7d7;
    border-top-width:0;
}

/* scrolling */
.yafnet .ajax__scroll_horiz {overflow-x:scroll;}
.yafnet .ajax__scroll_vert {overflow-y:scroll;}
.yafnet .ajax__scroll_both {overflow:scroll}
.yafnet .ajax__scroll_auto {overflow:auto}

/*Modal Popup*/
.modalInner
{
	text-align:center;
	display:block;
	font-weight:bold;
}

.modalOuter
{
	margin:10px;
	display:block;
}

/* Goto Page Form */
.gotoPageForm
{
	background-color: #f0f0f0;
	border: solid 1px #555555;
	width: 76px;
	margin: 1px;			
}
.gotoPageForm .gotoBase
{
	border: solid 1px #ffffff;
}
.gotoPageForm .gotoHeader
{
	background-image: url('titleBack.gif');
	color: #ffffff;
	font-weight: bold;	
	padding: 2px;	
}
.gotoPageForm .gotoInner
{
	padding: 2px;
}
.gotoPageForm .gotoInner input
{
	margin: 2px;
}

.yafnet textarea.basicBBCodeEditor{
	resize:none;
}

*+html .yafnet textarea.basicBBCodeEditor{
	resize:none;
	height:100px;
}

/*AutoComplete flyout */
.autocomplete_completionListElement
{
    margin : 0px!important ;
    background-color : inherit;
    color : windowtext ;
    border : buttonshadow ;
    border-width : 1px ;
    border-style : solid ;
    cursor : 'default' ;
    overflow : auto ;
    height : 200px ;
    font-family : Tahoma ;
    font-size : small ;
    text-align : left ;
    list-style-type : none;
	height:auto;
    }
.autocomplete_completionListElement li{
	margin-left:0px!important;
}
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
   {
    background-color : #ffff99 ;
    color : black ;
    padding : 1px ;
    }

    /* AutoComplete item */
.autocomplete_listItem
    {
    background-color : window ;
    color : windowtext ;
    padding : 1px ;
   }