@charset "UTF-8";
/* MSAP STEM Beacon */

/*******************************************************************
GLobal 
*******************************************************************/
* {
	margin: 0;
	padding: 0;
}

body {
	  width: 100%;
	  height: auto;
}

a:link,a:visited,a:active {
    color: #333;
	text-decoration: none;
	text-decoration: underline;
}

a:hover {
	color:#009385;
}
/*******************************************************************
CONTAINER 
*******************************************************************/
#container {
	width: 842px;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}

#header {
	width: 842px;
	height: 77px;
	background:url('../images/gradient-bg.png') repeat-x;
}

/*******************************************************************
NAVIGATION 
*******************************************************************/
#menu ul, #menu ul li {
	display:block;
	position: relative;
	list-style: none;
}

#menu ul li {
	width: 167.5px;
	float: left;
	border-right:solid .5px #7F7F7F;
	line-height: 77px;
}

#menu li:last-child {
	border-right:none;
}

#menu ul li:hover, #menu ul li:active {
    background-color: #4E4E4E;
}

#menu ul li a {
	display: block;
	position: relative	;
	font-family: Cambria, Arial, Helvetica, sans-serif; 
	width: auto;
    color: #fff;
    text-decoration: none;
	font-size: .85em;
	text-align: center;
	padding: 5px;
}

#menu ul li.projects a,#menu ul li.mobile-apps a,#menu ul li.events a,#menu ul li.case-studies a,#menu ul li.careers a {
	margin-top: 12px;
}

#menu ul li.projects a {
	background:url('../images/project-icon.png') no-repeat top center;
	height: 77px;
}

#menu ul li.mobile-apps a {
	background:url('../images/mobile-icon.png') no-repeat top center;
	height: 77px;
}

#menu ul li.events a {
	background:url('../images/events-icon.png') no-repeat top center;
	height: 77px;
}

#menu ul li.case-studies a {
	background:url('../images/case-studies-icon.png') no-repeat top center;
	height: 77px;
}

#menu ul li.careers a {
	background:url('../images/careers-icon.png') no-repeat top center;
	height: 77px;
}

/*******************************************************************
MAIN CONTENT 
*******************************************************************/
#main-content {
	display: block;
	position: relative;
	width: 842px;
	height: 576px;
	background:url('../images/student.jpg') no-repeat top center;
	color: #333;
}

#highlights {
	display: block;
	position: relative;
	width: 842px;
	top: 125px;
}

.logo {
	display: block;
	position: relative;
	margin: 0 0 100px 25px;
}

.plus {
	display: block;
	position: relative;
	color: #FFF;
	text-align: center;
}

.plus p.a,.plus p.b {
	display: block;
	position: absolute;
}

.plus p.a {
	width: 30px;
	font-size: 40px;
	margin-left: 415px;
	margin-top: -23px;
	z-index: 500;
}

.plus p.b {
	width: 30px;
	font-size: 18px;
	margin-left: 652.5px;
	margin-top: -10px;
	z-index: 600;
}

h3 {
	display: block;
	position: relative;
	font-size: 1.3em;
	border-bottom: 1px dotted #333;
	margin-bottom: 10px;
	line-height: 20px;
	text-transform: uppercase;
}

.resource-hl, .events-hl, .links-hl {
	display:block;
	position: relative;
	float: left;
	padding: 15px;
	font-size: .7em;
	line-height: 15px;
	opacity: .90;
    height: 170px;
	overflow: hidden;
}

.resource-hl {
	width: 400px;
	background-color: #a2dff3;
}
.resource-hl p{
	width: 215px;
	float: left;
}

p.more {
	display: block;
	padding-top: 10px;
	color:#BC0003;
	font-style:italic;
}
p.more a:hover {
	color:#009385;
}

#banner-slide {
	width: 168px;
	height: 142px;
	float: right;
	border: 1px #769097 solid;
	padding: 0 0px;
}

/*ul.bjqs-controls.v-centered li a{
	display:block;
	padding: 3px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

/*ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}*/

ol.bjqs-markers li a{
	padding: 2px 6px;
	background:#000;
	color:#fff;
	margin:3px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

/*p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}*/

.bjqs-prev, .bjqs-next {
	display: none;
}


.events-hl {
	float: left;
	width: 207px;
	background-color: #f7be08;
}

.events-hl ul li {
	list-style-position: inside;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
	margin: 7px 0;
}

.events-hl ul li a{
	text-decoration: none;
}
.links-hl {
	width: 145px;
	background-color: #fd8200;
}

.links-hl ul li {
	list-style: square;
	list-style-position: inside;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
	margin: 7px 0;
}



/*******************************************************************
FOOTER 
*******************************************************************/
#footer {
}