﻿@charset "UTF-8";
/* MSAP STEM Beacon */

/*******************************************************************
GLobal 
*******************************************************************/
* {
	margin: 0;
	padding: 0;
}

body {
	  width: 100%;
	  height: auto;
}

a:link,a:visited,a:active {
   /* color: #333;*/
   color: #f58220;
	text-decoration: none;
	text-decoration: underline;
}

a:hover {
	/*color: #006787;*/
	color: #f58220;
	text-decoration: none;
}


/*******************************************************************
CONTAINER 
*******************************************************************/
#container {
	width: 842px;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}

#header {
	width: 842px;
	height: 20px;
	/*background:url('../images/gradient-bg.png') repeat-x;*/
}

/*******************************************************************
NAVIGATION 
*******************************************************************/
#menu ul, #menu ul li {
	display:block;
	position: relative;
	list-style: none;
}

#menu ul li {
	width: 167.5px;
	float: left;
	border-right:solid .5px #7F7F7F;
	line-height: 77px;
}

#menu li:last-child {
	border-right:none;
}

#menu ul li:hover, #menu ul li:active {
    background-color: #4E4E4E;
}

#menu ul li a {
	display: block;
	position: relative	;
	font-family: Cambria, Arial, Helvetica, sans-serif; 
	width: auto;
    color: #fff;
    text-decoration: none;
	font-size: .85em;
	text-align: center;
	padding: 5px;
}

#menu ul li.projects a,#menu ul li.mobile-apps a,#menu ul li.events a,#menu ul li.case-studies a,#menu ul li.careers a {
	margin-top: 12px;
}

#menu ul li.projects a {
	background:url('../images/project-icon.png') no-repeat top center;
	height: 77px;
}

#menu ul li.mobile-apps a {
	background:url('../images/mobile-icon.png') no-repeat top center;
	height: 77px;
}

#menu ul li.events a {
	background:url('../images/events-icon.png') no-repeat top center;
	height: 77px;
}

#menu ul li.case-studies a {
	background:url('../images/case-studies-icon.png') no-repeat top center;
	height: 77px;
}

#menu ul li.careers a {
	background:url('../images/careers-icon.png') no-repeat top center;
	height: 77px;
}

/*******************************************************************
MAIN CONTENT 
*******************************************************************/
#main-content {
	display: block;
	position: relative;
	width: 842px;
	height: 576px;
	background:url('../images/student.jpg') no-repeat top center;
	color: #333;
	border-top: #fff solid 2px;
}

#highlights {
	display: block;
	position: relative;
	width: 842px;
	position: absolute;
	bottom: 55px;
}

.logo {
	display: block;
	position: relative;
	margin: 0 0 100px 25px;
}

.plus {
	display: block;
	position: relative;
	color: #FFF;
	text-align: center;
}

.plus p.a,.plus p.b {
	display: block;
	position: absolute;
}

.plus p.a {
	width: 30px;
	font-size: 40px;
	margin-left: 415px;
	margin-top: -23px;
	z-index: 500;
}

.plus p.b {
	width: 30px;
	font-size: 18px;
	margin-left: 652.5px;
	margin-top: -10px;
	z-index: 600;
}

h3 {
	display: block;
	position: relative;
	font-size: 1.3em;
	border-bottom: 1px dotted #333;
	margin-bottom: 10px;
	line-height: 20px;
	text-transform: uppercase;
}

.resource-hl, .events-hl, .links-hl {
	display:block;
	position: relative;
	float: left;
	padding: 15px;
	font-size: 1.1em;
	line-height: 15px;
	opacity: .90;
    height: 220px;
	overflow: hidden;
}

.resource-hl {
	width: 375px;
	background-color: #a2dff3;
}
.resource-hl p{
	width: 215px;
	float: left;
}

a.more {
    /*color:#BC0003;*/
    color: royalblue;
    font-weight: normal;
    text-decoration: underline;
}

a.more:hover {
	/*color:#006787;*/
    color: royalblue;
    font-weight: normal;
    text-decoration: underline;
}
a.more:visited  {
	/*color:#006787;*/
    color: royalblue;
    font-weight: normal;
    text-decoration: underline;
}
a.more:active   {
	/*color:#006787;*/
    color: royalblue;
    font-weight: normal;
    text-decoration: underline;
} 

#banner-slide {
	display: block;
	position: relative;
	width: 320px;
	height: 180px;
	padding: 0px;
}

/*ul.bjqs li p {
	width: 200px;
	height: 120px;
	float: left;
	overflow: hidden;
}

ul.bjqs li img {
	width: 149px;
	height: 120px;
	float: right;
}*/

/*ul.bjqs-controls.v-centered li a{
	display:block;
	padding: 3px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

/*ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}*/

.bjqsContentText {
    float: left;
    width: 60%;

}
.bjqsContentText h4 {
    padding: 0px 5px 0px 0px;
}
 

.bjqsImage {
    float: right;
    width: 40%;
    /*background-color: #FFFFCC;*/
}


ol.bjqs-markers li a{
	padding: 2px 6px;
	background:#000;
	color:#fff;
	margin:3px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

/*p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}*/

.bjqs-prev, .bjqs-next {
	display: none;
}

.events-hl {
	float: left;
	width: 180px;
	background-color: #f7be08;
}

.events-hl ul li {
	list-style-position: inside;
	margin-left: 0;
	/*padding-left: 1.3em;
	text-indent: -1.3em;*/
	margin: 7px 0px;
}


.events-hl ul li a{
	text-decoration: none;
}
.links-hl {
	width: 197px;
	background-color: #fd8200;
}

.links-hl ul li {
	list-style: square;
	list-style-position: inside;
	margin-left: 0;
	padding-left: 1.5em;
	text-indent: -1.73em;
	margin: 7px 0px;
}

/*******************************************************************
Blog 
*******************************************************************/
.holder {
    float: right;
    width: 299px;
    display:block;
    position:relative;
    padding-left:5px;
    padding-top:10px;
    
}

.holder img {
    display: block;
}

/*******************************************************************
FOOTER 
*******************************************************************/
 
.STEMContent {
 
     
    font-size: 1.1em;
	line-height: 16px;
}
h4 {
    font-size: 1.0em;
    font-weight: bold;
	
}