<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ForumProfileAccess.ascx.cs" Inherits="YAF.Controls.ForumProfileAccess" %>
<table width="100%" cellspacing="1" cellpadding="0">
    <tr class="header2">
        <td class="header2" colspan="2">
            Forum Access
        </td>
    </tr>
    <asp:Literal runat="server" ID="AccessMaskRow" />
</table>